<template>
    <div>
        <SectionHero />
        <MyContainerFluid name='Loading' v-show='isLoading'>
          <LoadingFluide />
        </MyContainerFluid>
        <section class="mt-md-4 md-2 py-md-4 py-2" v-show='!isLoading'>
            <div class="container">
              <div class="col">
                <MySectionHeading title="Anniversaires du jour" :sub-title="dateDuJour" />
              </div>
                <div v-if="anniversaires" class="row text-center mb-2 position-relative justify-content-center">
                   <HappySlider class='col-lg-12' />
                </div>
            </div>
        </section>

      <MyContainerFluid name='MonthHappy' v-show='!isLoading'>
        <div class="col">
          <MySectionHeading title="Anniversaires du mois" :sub-title="dateMois" />
        </div>
        <MonHappyList class='col-12 col-lg-10' />

      </MyContainerFluid>

    </div>
</template>


<script>
import {mapGetters, mapActions} from 'vuex'

import moment from 'moment';
import HappySlider from '~/components/blog/HappySlider'
import MyContainerFluid from '~/components/MyContainerFluid'
import MonHappyList from '~/components/blog/MonHappyList'
import LoadingFluide from '~/components/LoadingFluide'
import SectionHero from '~/components/SectionHero.vue'
import MySectionHeading from '~/components/MySectionHeading.vue'
moment.locale('fr')
export default {
  components: { MySectionHeading, SectionHero, LoadingFluide, MonHappyList, MyContainerFluid, HappySlider },
  middleware: [],
  data() {
        return {
            anniversaires: [{
                "nom": "leponge bob",
                "promo": "P47",
                "fonctions": "experts"
            }],
        }
    },
  computed:{
    ...mapGetters('anniversaires',
      ['getAnniversairesJour', 'getAnniversairesSemaine',
      'getAnniversaireMois', 'isLoading', 'getError']),
    dateSemaine(){
      return moment().startOf('isoWeek')
        .format('DD-MM-YYYY') +' au '+moment()
        .endOf('isoWeek')
        .format('DD-MM-YYYY')
    },
    dateDuJour(){
      return moment().format('DD-MM-YYYY');
    } ,
      dateMois(){
       return moment().format('MMMM YYYY')
      },
  },
  methods: {
    ...mapActions('anniversaires', ['fetchAnniversaires'])
  },
  mounted(){
    moment().locale('fr')

    }
}

</script>

<style lang='scss' scoped>
.img-fluide {
    transform: translate(-268px, 10px);
}

.section-title {
    display: flex;
    align-content: center;
    justify-content: center;
}

.img {
    height: 500px;
    width: 100%;
}

.bg-card {
    display: flex;
    width: 100%;
    /* height: 500px; */
    overflow: hidden;
    background-repeat: no;
    /* background-color: gray; */
    /* background-image: url('~/assets/svg/happy_section_bg.svg'); */
    background-size: cover;
}

.WeekHappy {
    display: block;
    background: azure;
}
.WeekHappy-2{}
</style>
