<template>
    <div>
        <SectionHero title="Emplois & Stages" :sub-title="offre.titre" />

        <div>
          <LoadingFluide v-show='isLoading' class='mt-4' />
          <MyContainerFluid  name='error' v-if='!isLoading && getError'>
              <CustomError to='/emplois/'  />
          </MyContainerFluid>
            <section  v-show='!isLoading && getError === null' class="mt-md-4 md-2 py-md-4 py-2 my-4 ">
                <div class="container z-depth-0 py-4 overflow-hidden">
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12 p-0 py-4 m-0">
                            <h3 id="" class="font-weight-bold mb-4 dark-grey-text text-center"><strong>Details de
                                    l'offre</strong> </h3>
                            <div class="card z-depth-1 hoverable px-md-3">

                                <!-- Card content -->
                                <div class="card-body">
                                    <!-- Title -->
                                    <h3 class="card-title text-center">{{ offre.titre }}</h3>
                                    <hr />
                                    <div class="card-info mb-2 mb-md-3">
                                        <span class="sub-title mr-2 mr-md-4">publié {{formatDate(offre.date_creation)}}</span>
                                        <span class="sub-title">date clôture: {{formateDateCloture(offre.date_cloture)}}</span>
                                    </div>
                                    <div class="card-meta mb-2 mb-md-3 d-flex flex-row">
                                       <MyBagde background="badge-info" :label="offre.type_offre"/>
                                      <MyBagde background="badge-danger" :label="offre.niveau"/>
                                      <MyBagde :background="'badge-success'" :label="offre.type_emplois"/>
                                    </div>
                                    <!-- Text -->
                                </div>
                                    <div class="row">
                                        <div class="col-12 mb-2 mb-md-3">
                                            <div class="row" style="justify-content: center;">
                                                <TagCard label="Type d'offre" :value='offre.type_emplois' />
                                                <TagCard label="Type de Contrat" :value='offre.type_offre' />
                                                <TagCard label="Lieu de travail" :value="offre.lieu_travail" />
                                                <TagCard label="Nbr de poste" :value="offre.nombre_poste" />
                                                <TagCard label='Entreprise' :value='offre.entreprise' />
                                                <TagCard class='col-md-3' label="Expérience Professionnelle" :value="offre.experiences_professionnelles" />
                                            </div>
                                        </div>
                                    </div>
                                <div class="row m-4 p-3">
                                    <h4 class="text-center">Descriptions</h4>
                                    <p class="">
                                      {{offre.description}}
                                    </p>

                                  <img v-if='offre.image' :src='offre.image' :alt='offre.titre' :srcset='offre.image' class='d-flex mx-auto img-fluid'>
                                </div>
                                <!-- Card content -->
                                <div class="mb-4">
                                  <OutlineButton
                                    :is-link=true label="postuler" :to="`/emplois/${offre.slug}/postuler/`" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section v-show='!isLoading' class="mb-5 wow fadeIn  mt-md-2 md-2" data-wow-delay="0.3s" style="z-index: -1;">
                <div class="container-fluid py-md-4 py-2">
                        <h2 class="font-weight-bold my-5 text-center color-primary">SUGGESTIONS</h2>
                        <Hr />
                        <div class="row" style="justify-content: center;">
                            <EmploisCard v-for='offre in suggestions' :key='offre.slug' :offre='offre' />
                        </div>
                </div>

            </section>
            <PostulerModal />
        </div>
    </div>
</template>

<script >
import {mapActions, mapGetters} from 'vuex'
import TagCard from '~/components/TagCard'
import EmploisCard from '~/components/EmploisCard'
import SectionHero from '~/components/SectionHero'
import LoadingFluide from '~/components/LoadingFluide'
import MyContainerFluid from '~/components/MyContainerFluid'
import CustomError from '~/components/CustomError'
import PostulerModal from '~/components/emplois/PostulerModal'
import MyBagde from '~/components/MyBagde.vue'
import OutlineButton from '~/components/OutlineButton.vue'
import { metaHeader } from '~/utils/metaHead'
const {dateCreation, dateCloture} = require('~/static/js/dateUtils')

export default {
  components: { OutlineButton, MyBagde, PostulerModal, CustomError, MyContainerFluid, LoadingFluide, SectionHero, EmploisCard, TagCard },
  data(){
    return {}
  },
  computed:{
    ...mapGetters('emplois',['getActiveEmploi', 'getSuggestions','isLoading', 'getError']),
    offre(){
      return this.getActiveEmploi
    },
    suggestions(){
      return this.getSuggestions
    },
  },
  watch: {
    '$route.params.slug': {
      immediate: true,
      handler(slug) {
        if(slug !== undefined){
           // this.fetchEmploisBySlug(slug)
          this.fetchEmplois()
        }
      },
    },
  },
  async asyncData({store, params}){
    await store.dispatch('emplois/fetchEmploisBySlug', params.slug)
  },
  head(){
    return {
      title: this.getActiveEmploi.titre,
      meta: metaHeader(this.getActiveEmploi.titre ,this.getActiveEmploi.description, '/android-chrome-192x192.png'),
    }
  },
   methods:{
    ...mapActions('emplois', ['fetchEmplois', 'fetchEmploisBySlug']),
     formatDate(str){
      return dateCreation(str)
    },
     formateDateCloture(str){
      return dateCloture(str)
     }
  },

}

</script>
<style scoped>
.file-content {
    display: flex;
    justify-content: center;

}

i {
    color: #0ba360 !important;
}
.card {
    border-bottom: solid 8px #0ba360;
    justify-content: center;
    align-items: center;
    border-radius: 2.5em;
}



.card-meta,
.card-info {
    display: flex;
    justify-content: center;
}
</style>
