<template>
<section class="mt-md-4 md-2 py-md-4 py-2 my-4 ">
  <div class="row justify-content-center">
    <!-- Grid column -->
    <LoadingFluide v-if='isLoading' />
    <div v-else-if='getError === null && !isLoading ' class="col-md-10 p-0 py-4 m-0">
      <h3 id="" class="font-weight-bold mb-4 dark-grey-text text-center"><strong>Postuler à l'offre</strong> </h3>
      <div class="card z-depth-1 hoverable px-md-3 pt-3" @mouseenter.once='loaddText'>
        <div class="container">
          <div class="row">
            <div class="col-12 mb-2 mb-md-3">
              <div class="row" style="justify-content: center;">
                <div class='text-content col-10'>
                  <TypeEmail type='email' placeholder='email' :value='userEmail' v-model='userEmail' />
                  <TypeText placeholder="objet de l'email" :value='titreEmail' v-model='titreEmail'   :max=100 />
                  <div class="text col-12">
                    <div class="col-12 mt-2" >
                        <textarea required v-model="defaultText" value=""
                                  rows='12' @focusin='loaddText' ></textarea>
                    </div>
                </div>
                </div>
                <div class="file-content d-flex flex-row">
                  <div class="file-item">
                    <br />
                    <span>Curriculum Vitae</span>
                    <label for="cvFile">
                      <input id='cvFile' type="file" ref="cvInput" @change="handleFileChange('cv')" style="display: none" accept=".pdf" required />
                      <button @click="selectCVFile" class="btn btn-primary btn-sm mt-2 custom-file-upload shadow-none">{{cvFileName}}</button>
                    </label>
                  </div>
                  <div class="file-item ml-3">
                    <br />
                    <span>Lettre de Motivation</span>
                    <label for='lmFile' >
                      <input id='lmFIle' type="file" ref="lmInput" @change="handleFileChange('lm')"  style="display: none" accept=".pdf" />
                      <button @click="selectLMFile" class="btn btn-success btn-sm mt-2 custom-file-upload shadow-none">{{lmFileName}}</button>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card content -->
        <div class="mb-4" v-if='!isHandler'>
          <span @click='submitForm'>
            <OutlineButton :is-link=false label="postuler"  />
          </span>
        </div>
        <div class="mb-4" v-else>
          <LoadingFluide />
        </div>
      </div>
    </div>
    <CustomError v-else  to='/emplois/'/>
  </div>
</section>
</template>

<script>

import {mapGetters, mapActions} from 'vuex'
import TypeEmail from '~/components/inputs/TypeEmail'
import TypeText from '~/components/inputs/TypeText'
import CustomError from '~/components/CustomError'
import LoadingFluide from '~/components/LoadingFluide'
import OutlineButton from '~/components/OutlineButton'


export default {
  name: 'postuler',
  layout:'authLayout',
  middleware:["session","auth"],
  components: {  OutlineButton, LoadingFluide, CustomError,  TypeText, TypeEmail  },
  data(){
    return{
      formData: null,
      selectedCVFile: null,
      selectedLMFile: null,
      form: {},
      isHandler:false,
      userEmail: '[contact@ae2ita.com]',
      titreEmail: '[titre_email]',
      cvFileName:'Sélectionner CV',
      lmFileName:'Sélectionner LM',
      defaultText:"Bonjour,\n" +
        "\n" +
        "Je vous adresse ma candidature pour l'offre d'emploi  [titre] publiée sur www.ae2ita.com. Je suis intéressé(e) par cette opportunité et je pense avoir les compétences requises pour contribuer positivement à votre entreprise.\n" +
        "\n" +
        "Je reste à votre disposition pour échanger davantage sur ma candidature.\n" +
        "\n" +
        "Cordialement,\n" +
        "[nom]\n" +
        "[email]\n" +
        "[contact]"
    }
  },
   watch: {
     '$route.params.slug': {
       immediate: true,
       handler(slug) {
         if (slug !== undefined) {
           this.fetchEmploisBySlug(slug)
         }
       },
     },
   },
  mounted() {
    this.formData = new FormData()

  },
  created() {
    this.fetchMyProfil()

  },
  computed:{
    ...mapGetters('emplois', ['getActiveEmploi', 'isLoading', 'getError']),
    ...mapGetters('auth', ['getUser', 'isLoggedIn', 'isAuthenticated']),
    corpsEmail(){
      return this.defaultText
    }
  },
  methods:{
    ...mapActions('emplois', ['fetchEmploisBySlug']),
    ...mapActions('auth', ['fetchMyProfil']),
     selectCVFile() {
      this.$refs.cvInput.click();
    },
    selectLMFile() {
      this.$refs.lmInput.click();
    },
    validateData(){
      let error= false
      if(this.selectedCVFile ===null && this.selectedLMFile ===null){
        this.$toast.info("Veuillez selectionnez un fichier")
       error = true
      }

      return !error
    },
     handleFileChange(type) {
      const fileInput = type === 'cv' ? this.$refs.cvInput : this.$refs.lmInput;

      const file = fileInput.files[0];
      let error = false
      if (file && file.type !== 'application/pdf') {
        this.$toast.error('Veuillez sélectionner un fichier PDF.')
        fileInput.value = '';
        error = true
      }
      if (!error){
         if (type === 'cv') {
           this.selectedCVFile = file;
           this.cvFileName = this.selectedCVFile.name
           this.form.cv = file
      } else {
        this.selectedLMFile = file;
        this.lmFileName = this.selectedLMFile.name
           this.form.lm = file
      }
      }
    },
    async submitForm() {
      if(!this.validateData()){
        return
      }
        this.formData.append('cv', this.selectedCVFile, this.selectedCVFile.name);
        if(this.selectedLMFile !==null){
          this.formData.append('lm', this.selectedLMFile, this.selectedLMFile.name);
        }
        this.formData.append('titre', this.titreEmail);
        this.formData.append('corps', this.defaultText);
        this.formData.append('email', this.getUser?.email1);

      try {
        // Vous pouvez envoyer l'objet formData au serveur ici
        this.isHandler=true
        const response = await this.$services.emplois.postuler(this.$axios, this.$route.params.slug ,this.formData);
        // Traiter la réponse du serveur ici
       this.$toast.success(response.message)
      } catch (error) {
        // Gérer les erreurs ici
        this.$toast.error(error)
      }
      this.isHandler=false
      await this.$router.push('/emplois/')
    },
    loaddText(event){
   this.userEmail = this.getUser?.email1
    this.titreEmail ="Candidature à l'offre : "+ this.getActiveEmploi?.titre
    this.defaultText = this.defaultText.replace("[titre]",  this.getActiveEmploi?.titre)
      .replace("[nom]",`${this.getUser?.nom} ${this.getUser?.prenoms}` )
      .replace("[email]", this.getUser?.email1)
      .replace("[contact]", this.getUser?.contact1)
    },

  }
}
</script>

<style lang='scss' scoped>
.modal-content {
    border-radius: 2.5em !important;
    padding: 0px 8px !important;
    border-bottom: solid 8px #0ba360;
}

.modal-header {
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.modal-footer {
    justify-content: center !important;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #0ba360;
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  margin-top: 8px;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.card {
    border-bottom: solid 8px #0ba360;
    justify-content: center;
    align-items: center;
    border-radius: 2.5em;
}


.card-meta,
.card-info {
    display: flex;
    justify-content: center;
}
$bg-color:#f2f2f2;
.text{
    textarea{
       display: block;
        background-color: $bg-color;
        border-radius: 20px;
        padding: 5px;
        transition: all .3s ease;
        width: 100%;
        border: 1px solid #ccc;
        font-size: 16px;
        text-align: center;
        &:focus,
        &:focus-within {
            outline: solid 1px var(--color-primary);
            background: white;
          font-size: 18px;
        }

        &:focus-within {
            transform: scale(1.1)
        }

        &.error {
            outline: solid 1px var(--danger) !important;
            color: var(--danger);

            >.text-input {
                color: var(--danger);
            }
        }

        &.success {
            outline: solid 1px var(--color-primary) !important;
            color: var(--color-primary);

            >.text-input {
                color: var(--color-primary);
            }
        }

    }
}
</style>
