<template>
    <div class="auth-layout ">
     <main class="container-fluid mb-4 mb-4">
          <Nuxt />
      </main>
    </div>
</template>

<script>
export default {
    name:"authLayout",
    middleware: [],
}
</script>

<style lang="scss" scoped>
.auth-layout{
    background-color: white;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    // align-items: center; /* Centre verticalement */
    height: 100vh;
}
</style>
