<template>
    <div>
      <TopNavigation :menu-items='menus' class=''/>
      <ShortMenu class='d-lg-block d-none' />
      <main class="mb-4 mb-4">
          <Nuxt />
      </main>
       <BottomNavigation :menu-items='menus' />
      <MyFooter />
    </div>
</template>
<script>
import BottomNavigation from '~/components/BottomNavigation'
import TopNavigation from '~/components/TopNavigation'
import MyFooter from '~/components/MyFooter.vue'
import ShortMenu from '~/components/ShortMenu.vue'

export default {
  components: { ShortMenu, MyFooter,  TopNavigation,  BottomNavigation },
  middleware: ['simpleSession', 'simpleAuth', 'userAgent'],
  scrollToTop: true,
  data(){
    return{
      menus :[
        { title: 'accueil', icon: 'fas fa-home', color: '#FF5A5F', link: '/',  children: [] },
        { title: 'Présentations', icon: 'fas fa-info-circle', color: '#FF5A5F', link: '/presentations',
        children: [
          { title: 'Qui sommes nous ?', icon: 'fas fa-users', color: '#FFAA00', link:'/presentations/' },
          { title: 'Mot du Président', icon: 'fas fa-comment-alt', color: '#FFAA00', link:'/presentations/president' },
          { title: 'Composition du bureau', icon: 'fas fa-building', color: '#FFAA00', link:'/presentations/bureau' },
          // { title: 'Repertoire des ITA', icon: 'fas fa-address-book', color: '#FFAA00', link:'/presentations/repertoires' },
          { title: 'status et reglements', icon: 'fas fa-gavel', color: '#FFAA00', link:'/presentations/status' },
          ]},
        { title: 'Formations', icon: 'fas fa-graduation-cap', color: '#FFAA00', link: '/formations', children: [] },
        { title: 'Emplois', icon: 'fas fa-briefcase', color: '#FFAA00', link: '/emplois', children: [] },
        { title: 'Bibliotheques', icon: 'fas fa-book', color: '#FF5A5F', link:'/bibliotheques/' ,
          children: [
          { title: 'Gallerie images', icon: 'fas fa-images', color: '#FFAA00', link:'/bibliotheques/medias/' },
          { title: 'Documents', icon: 'fas fa-file', color: '#FFAA00', link:'/bibliotheques/docs' },
          ]},
        { title: 'Actualités', icon: "fas fa-newspaper", color: '#00A699', link:'/actualites/',
          children:[
          { title: 'Articles', icon: 'fas fa-newspaper', color: '#FFAA00', link:'/actualites/' },
          { title: 'Publications', icon: 'fas fa-file', color: '#36e20e', link:'/actualites/bureaux/' },
          { title: 'Evenements', icon: 'fas fa-calendar-alt', color: '#009dff', link:'/actualites/evenements/' },
            { title: 'Anniversaires', icon: 'fas fa-birthday-cake', color: '#00ffff', link:'/actualites/Anniversaires/' },
            { title: 'Experts', icon: 'fas fa-certificate', color: '#00ffff', link:'/actualites/experts/' },
          ] },
      ]
    }
  },
 watch: {
    '$nuxt.isOffline': {
      immediate: true,
      handler(connected) {
        if (process.client){
          if(connected === true){
            this.$toast.info(`Connexion internet perdue`)
          }else{
            this.$toast.success(`Connexion internet établie`)
          }
        }
      }
    }
  },
}
</script>
<style lang="scss">
@import "assets/scss/screen";
html,
body,
.intro-3 {
  height: 400px;
}
@media (max-width: 450px) {
  html,
  body,
  .intro-3 {
    height: 820px;
  }
}
@media (min-width: 451px) and (max-width: 740px) {
  html,
  body,
  .intro-3 {
    height: 400px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .intro-3 {
    height: 425px;
  }
}


.intro-title {
  line-height: 4rem;
  font-size: 2.5rem !important;
  @media (min-width: $md-screen) {
    font-size: 3rem !important;

  }
}

</style>
