<template>
  <div class="main p-4">
    <div class="coontainer-fluid light-grey-background">
      <div class="row justify-content-center">
        <div class="col p-4 m-4">
          <!-- <Nuxt /> -->
          <div class="m-4 p-4 text-center mx-auto">
            <h2 class="h2 text-info">{{ error.statusCode }}</h2>
            <h1 v-if="checkStatusCode(404)">{{ title }}</h1>
            <h1 v-else>Code error {{ error.statusCode }}</h1>
          </div>
          <div class="col-12 d-flex justify-content-center mx-auto">
            <nuxt-link to="/" class="btn btn-dark-green btn-rounded font-weight-bold text-center waves-button waves-effect waves-light text-white">page d'accueil</nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name:'error',
  layout:'authLayout',
props: {
    error: {
      type: Object,
      default: () => { }
    }
  },

  data: () => ({
    title: "Page not found"
  }),
  head() {
    return {
      title: this.title,
      meta: [
        {
          hid: "error-description",
          name: "description",
          content: `${this.title} description`
        }
      ]
    };
  },
  methods: {
    checkStatusCode(num) {
      return this.error.statusCode === num;
    }
  },
}
</script>