<template>
    <div class="profil-layout">

      <main class="mb-4 main">
          <Nuxt />
      </main>
    </div>
</template>

<script>
export default {
    name:"profilLayout",
    middleware: [],
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/main.scss';

.profil-layout{
    color: $color-gray;
    height: 100vh ;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

    .main{
        background-color: #f1f2f7;

    }
}


</style>
