<template>
<h2 class='h2'>{{title}}</h2>
</template>

<script>
export default {
  name: 'MyH2',
  props:{
    title:{
      type:String,
      required:true,
    }
  }
}
</script>

<style scoped>
.h2{
  font-size: 44px;
  line-height: 56px;
  font-weight: bold;
}
</style>
