<template>
<p class='text-justify'>{{text}}</p>
</template>

<script>
export default {
  name: 'MyP',
  props:{
    text:{
      type:String,
      required:true,
    }
  }
}
</script>

<style scoped>
p{
  font-size: 24px;
}
</style>
