
<template>
      <div class="card border-0 shadow-none mb-4 mx-4" >
        <div class="container-card p-4">
          <div class="bg-transparent  d-flex  align-items-center justify-content-start mb-4">
          <img :src="entreprise.logo" class="img-fluid rounded-circle p-0 m-0  shadow-sm" alt="entrepris logo">
            <p class="card-title ml-2">{{entreprise.nom}}</p>
          </div>
          <div class="card-content w-100 rounded">
            <p class="my-0 font-italic text-gray">De : {{entreprise.auteur}}</p>
            <p class="my-0 font-italic text-gray">Siège: {{entreprise.lieu}}</p>
            <p class="my-0 font-italic text-gray">Contact: {{entreprise.contact}}</p>
            <p class="my-0 font-italic text-gray">Email: {{entreprise.email}}</p>
            <p class="card-description">{{ textTruncated }}</p>
            <p class="my-0 font-italic text-gray"><span class="badge badge-light badge-pill shadow-none p-2 badge-success text-center my-auto"> {{entreprise.domaine}}</span></p>
          </div>
        </div>
      </div>
</template>
<script >
import { useTextTruncat } from '~/utils/useTextutil'

export default {
  name: 'EntrepriseCard',
  props:{
    'entreprise': { type: Object }
  },
  setup(props) {
    const { textTruncated, setLimit } = useTextTruncat(props.entreprise.descriptions)
    setLimit(250)
    return {
      textTruncated,
    };
  }
}



</script>
<style scoped lang="scss">
$radius:  45px;
.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.card {
  background: white;
  max-width: 500px;
  border: 0;
  width: 100%;
  margin-inline: auto;
  border-radius: $radius !important;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}


.container-card {
  position: relative;
  background-color: aliceblue;
  backdrop-filter: blur(75px);
  height: 100% !important;
  background-clip: padding-box;
  border-radius:$radius;
  border: solid 0.5em var(--color-primary);
  border-top:solid 1px var(--color-primary) !important;
  border-left:solid 1px var(--color-primary) !important;
  border-right:solid 1px var(--color-primary) !important;
  img {
    margin-bottom: 32px;
    max-height: 8rem;
  }
.card-content{
}

  .card-title {
    font-weight: 600;
    color: var(--rgb-primary);
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
  }

  .card-description {
    font-weight: 600;
    line-height: 32px;
    color: gray;
    font-size: 16px;
    max-width: 470px;
  }
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e) !important;
}


</style>
