@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Philosopher:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Marck+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');



body {
  font-family:Poppins, Roboto,sans-serif !important;
}
:root{
    --color-2: #25314C;
    --gray-1:#EFF2FA;
    --color-primary: #0ba360 !important;
    --rgb-primary:rgba(0,200,83,0.6);
    --sm-screen:768px;
}

.text-primary{
  color: var(--color-primary);
}
.bg-primary{
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #30dd8a, #0ba360, #2bb673, #3cba92) !important;
}
.color-primary-2{
    color: #28a745;
}
.color-primary{
    color:#0ba360;
}

.color-secondary{
    color: #25314C;
}
.gray-text{
    color:#CBC7C7 !important;
}

.bg-primary.btn:hover{
    background-position: 100% 0;
    transition: all .3s ease-in;
}

.top-nav-collapse.top-nav-bottom{
    border-bottom: solid 8px #0ba360!important;
    transition: all .3s ease-in;
    animation:fadeText .2s ;
}

@keyframes fadeText {
    from {
        border-bottom: solid 0px #ffffff13;
      }
      to {
        border-bottom: solid 9px #00c851;
      }
}


.intro-2{
    background-image: linear-gradient(120deg, #0ba360, #3cba92, #30dd8a, #2bb673) !important;
  }


  strong{
    color:var(--color-primary) !important;
}

.article-intro{
  background-repeat: no-repeat !important;
  margin-block-start: 0 !important;
  max-height: 500px !important;
  height: 500px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 0 0 2em 2em !important;
}


.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);

}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}



.slide-enter-active, .slide-leave-active {
  transition: transform 0.5s;
}

.slide-enter, .slide-leave-to {
  transform: translateX(100%);
}


