<template>
<div class='col-12 col-lg-10'>
  <div class='row justify-content-center align-items-center'>
    <div class='col-12 col-md-6 col-lg-6 order-0' :class='{"order-2": reverse}' data-aos='fade-left'>
      <div class='jobImg'>
        <img :src='imgUrl' :alt="`${title} ITA INPHB`" :srcset="imgUrl" class='img-fluid rounded'>
      </div>
    </div>
    <div class='col-12 col-md-5 col-lg-5 order-1' data-aos='fade-right'>
      <MyH2 :title='title' class='' />
      <MyP :text="subTitle" class='my-4' />
      <OutlineButton :is-link=true :label='linkLabel' :to='link' />
    </div>
  </div>
</div>
</template>

<script>
import OutlineButton from '~/components/OutlineButton'
import MyH2 from '~/components/text/MyH2'
import MyP from '~/components/text/MyP'
export default {
  name: 'JobMegaphone',
  components: { MyP, MyH2, OutlineButton },
  props:{
    title:{
      type:String,
      default:"Emplois et stages pour vous!"
    },
    subTitle:{
      type:String,
      default:'Votre avenir professionnel commence ici!'
    },
    imgUrl:{
      type:String,
      default:require("@/assets/img/job_megaphone.png")
    },
    reverse:{
      type:Boolean,
      defaukt:false
    },
    link:{
      type:String,
      default:"/emplois/"
    },
    linkLabel:{
      type:String,
      default:"Explorez nos offres"
    }

  },
  computed:{
    getImg:function(){
      return require(this.imgUrl)
    }
  },
  data(){
    return {
      megaImg: require("@/assets/img/job_megaphone.png")
    }
},

}
</script>

<style scoped>

</style>
