<template>
     <!-- Central Modal Large Info -->
            <div
            id="centralModalLGInfoDemo" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
                    <!-- Content -->
                    <div class="modal-content">
                        <!-- Header -->
                        <div class="modal-header bg-primary">
                            <p class="heading lead">Modal Info</p>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!-- Body -->
                        <div class="modal-body">
                            <div class="text-center">
                                <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                                <p>Les documents ci-dessous seront transférés</p>
                                <p>NB: Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Esse ratione fuga, enim, ab officiis totam.
                                </p>
                            </div>
                          <div class='offre-body'>
                            <TypeEmail  placeholder='email' v-model='email'/>

                          </div>
                    <div class="file-content">
                      <div class="file-item">
                        <br />
                         <span>Curriculum Vitae</span>
                        <label for="cvFile">
                          <input id='cvFile' type="file" ref="cvInput" @change="handleFileChange('cv')" style="display: none" accept=".pdf" />
                         <button @click="selectCVFile" class="btn btn-primary btn-sm mt-2 custom-file-upload">Sélectionner CV</button>
                        </label>
                      </div>
                      <div class="file-item ml-3">
                        <br />
                        <span>Lettre de Motivation</span>
                        <label for='lmFile' >
                          <input id='lmFIle' type="file" ref="lmInput" @change="handleFileChange('lm')"  style="display: none" accept=".pdf" />
                          <button @click="selectLMFile" class="btn btn-success btn-sm mt-2 custom-file-upload">Sélectionner LM</button>
                        </label>
                      </div>
                    </div>
                        </div>
                        <!-- Footer -->
                        <div class="modal-footer">
                          <span @click='submitForm'>
                             <FlatButton label="confirmer" style="font-size: 12px !important;"/>
                          </span>
                            <OutlineButton :is-link=false label="Non, merci !" data-dismiss="modal" style="font-size: 12px !important;" />
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <!-- Central Modal Large Info -->
</template>

<script>
import TypeEmail from '~/components/inputs/TypeEmail'
export default {
  name: 'PostulerModal',
  components: { TypeEmail },
  data(){
    return{
      formData: '',
      selectedCVFile: null,
      selectedLMFile: null,
      email: ''
    }
  },
  mounted() {
    const form = new FormData()
    this.formData = form
  },
  methods:{
     selectCVFile() {
      this.$refs.cvInput.click();
    },
    selectLMFile() {
      this.$refs.lmInput.click();
    },
     handleFileChange(type) {
      const fileInput = type === 'cv' ? this.$refs.cvInput : this.$refs.lmInput;

      const file = fileInput.files[0];
      let error = false
      if (file && file.type !== 'application/pdf') {
        console.log('Veuillez sélectionner un fichier PDF.');
        fileInput.value = '';
        error = true
      }
      if (!error){
        console.log("pas d erreur ", error)
         if (type === 'cv') {
        this.selectedCVFile = file;
      } else {
        this.selectedLMFile = file;
      }
      }
    },
    async submitForm() {
        this.formData.append('cv', this.selectedCVFile);
        this.formData.append('lm', this.selectedLMFile);
        console.log(this.selectedLMFile);
        console.log(this.selectedCVFile);
      try {
        // Vous pouvez envoyer l'objet formData au serveur ici
        console.log(this.formData)
        const response = await this.$services.emplois.create(this.$axios, this.formData);
        // Traiter la réponse du serveur ici
        console.log(response.data);
      } catch (error) {
        // Gérer les erreurs ici
        console.error(error);
      }
    },
  }
}
</script>

<style lang='scss' scoped>
.modal-content {
    border-radius: 2.5em !important;
    padding: 0px 8px !important;
    border-bottom: solid 8px #0ba360;
}

.modal-header {
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.modal-footer {
    justify-content: center !important;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #0ba360;
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  margin-top: 8px;
}

.custom-file-upload input[type="file"] {
  display: none;
}
</style>
