<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ titre }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #ccc;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f7f7f7;
            background-color: white;
            border-radius: 1.2em;
            padding: 15px;
            box-sizing: border-box;
        }
        h1 {
            font-size: 24px;
            color: #333333;
        }
        p {
            margin-bottom: 16px;
        }
        .button {
            display: inline-block;
            padding: 10px 16px;
            background-color: #0ba360;
            color: #ffffff;
            text-decoration: none;
            border-radius: 4px;
        }
        span{
            color:#0ba360;
            font-size: 18px;
            font-weight: bold;
        }
        .no-margin{
            margin: 0;
        }
        .footer{
            color:gray;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>{{ corps }}</p>
        <hr/>
    </div>
</body>
</html>
