<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmation d'inscription</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #ccc;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f7f7f7;
            background-color: white;
            border-radius: 1.2em;
            padding: 15px;
            box-sizing: border-box;
        }
        h1 {
            font-size: 24px;
            color: #333333;
        }
        p {
            margin-bottom: 16px;
        }
        .button {
            display: inline-block;
            padding: 10px 16px;
            background-color: #0ba360;
            color: #ffffff;
            text-decoration: none;
            border-radius: 4px;
        }
        span{
            color:#0ba360;
            font-size: 18px;
            font-weight: bold;
        }
        .no-margin{
            margin: 0;
        }
        .footer{
            color:gray;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Confirmation réussie</h1>
        <p>Bonjour {{ genre }} {{ user }},</p>
        <p>Félicitations,</p>
        <p>Votre compte a été activé avec succès. Vous pouvez maintenant vous connecter à votre espace membre en utilisant vos identifiants.</p>
        <p><a class="button" href="{{ login_link }}">Accéder à mon espace</a></p> <br />
        <p><strong>login:</strong>***votre email***</p>
        <p><strong>password:</strong>***votre mot de passe***</p>

        <p>Si vous n'avez pas effectué cette demande d'inscription, veuillez ignorer cet e-mail.</p>
        <hr/>
        <div class="footer">
            <p class="no-margin">Cordialement, L'équipe de Technique AE2ITA @2023</p>
            <p class="no-margin"><strong style="font-size: 18px">AE2ITA</strong> (<span>A</span>micale des <span>E</span>lèves <span>I</span>ngénieurs et <span>I</span>ngénieurs des <span>T</span>echniques <span>A</span>gricoles)</p>
            <p class="no-margin">07-59-18-83-95</p>
            <p class="no-margin">contact@ae2ita.com</p>
            <p class="no-margin">Côte d'ivoire, Yamoussoukro, INP-HB</p>
        </div>
    </div>
</body>
</html>
