<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AE2ITA - Confirmation d'inscription</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #ccc;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: flex-start;
            
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f7f7f7;
            background-color: white;
            border-radius: 1.2em;
            padding: 15px;
            box-sizing: border-box;
        }
        h1 {
            font-size: 24px;
            color: #333333;
        }
        p {
            margin-bottom: 16px;
        }
        .button {
            display: inline-block;
            padding: 10px 16px;
            background-color: #0ba360;
            color: #ffffff !important;
            text-decoration: none;
            border-radius: 4px;
        }
        span{
            color:#0ba360;
            font-size: 18px;
            font-weight: bold;
        }
        .no-margin{
            margin: 0;
        }
        .footer{
            color:gray;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Confirmation d'inscription</h1>
        <p>Bonjour Cher(e) membre,</p>
        <p>Merci de vous être inscrit sur la PlateForme <strong>AE2ITA</strong>. Pour activer votre compte, veuillez cliquer sur le bouton ci-dessous :</p>
        <p><a class="button" href="{{ activation_link }}">Activer mon compte</a></p> <br />
        <p>Ou copier le lien ci-dessous dans votre navigateur:</p>
        <p>{{ activation_link }}</p>
        <p>Si vous n'avez pas effectué cette demande d'inscription, veuillez ignorer cet e-mail.</p>
        <hr/>
        <div class="footer">
            <p class="no-margin">Cordialement, L'équipe de Technique AE2ITA @2023</p>
            <p class="no-margin"><strong style="font-size: 16px">AE2ITA</strong> (<span>A</span>micale des <span>E</span>lèves <span>I</span>ngénieurs et <span>I</span>ngénieurs des <span>T</span>echniques <span>A</span>gricoles)</p>
            <p class="no-margin">07-59-18-83-95</p>
            <p class="no-margin">contact@ae2ita.com</p>
            <p class="no-margin">Côte d'ivoire, Yamoussoukro, INP-HB</p>
        </div>
    </div>
</body>
</html>
