<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AE2ITA - {{ titre }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #ccc;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: flex-start;

        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f7f7f7;
            background-color: white;
            border-radius: 1.2em;
            padding: 15px;
            box-sizing: border-box;
        }
        h1 {
            font-size: 24px;
            color: #333333;
        }
        p {
            margin-bottom: 16px;
        }
        .button {
            display: inline-block;
            padding: 10px 16px;
            background-color: #0ba360;
            color: #ffffff !important;
            text-decoration: none;
            border-radius: 4px;
        }
        span{
            color:#0ba360;
            font-size: 18px;
            font-weight: bold;
        }
        .no-margin{
            margin: 0;
        }
        .footer{
            color:gray;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Nouvelle Information sur AE2ITA</h1>
        <p>Cher(e) Membre,</p>
        
        <p>Nous sommes ravis de vous informer qu'une nouvelle information passionnante a été publiée sur [Nom de Votre Site] !
            Voici un bref aperçu :</p>

        <strong>Titre :{{ titre }}</strong> </br>
        <strong>Date :</strong> {{ date }}]<br>

        <p>{{ description }}</p>

        <a href="{{ lien }}" class="button">Explorer</a>

        <p>Restez informé(e) et n'hésitez pas à explorer cette nouvelle information dès maintenant !</p>
        <hr/>
        <div class="footer">
            <p class="no-margin">Cordialement, L'équipe de Technique AE2ITA @2023</p>
            <p class="no-margin"><strong style="font-size: 16px">AE2ITA</strong> (<span>A</span>micale des <span>E</span>lèves <span>I</span>ngénieurs et <span>I</span>ngénieurs des <span>T</span>echniques <span>A</span>gricoles)</p>
            <p class="no-margin">07-59-18-83-95</p>
            <p class="no-margin">contact@ae2ita.com</p>
            <p class="no-margin">Côte d'ivoire, Yamoussoukro, INP-HB</p>
        </div>
    </div>
</body>
</html>
