<template>
  <div class="mt-2 bounce bounceInRight animated">
    <ProfilUserInfo title="Mes Parcours" class="my-4">
     
      <section class="bio-info">
        <h1>Info Scolaire</h1>
      <div class="row">
        <ProfilUserInfoItem v-for="(data, index) in infoSchool" :key="index" :label="data.label" :value="data.value" />
      </div>
      </section>
    </ProfilUserInfo>
  </div>
</template>

<script>
export default {
  data() {
    return {
    
      infoSchool:{
        matricule:{
          label:'Matricule INP',
          value:'20INP00465'
        },
        Niveau:{
          label:'Niveau',
          value:'ITA 1'
        },
        specialite:{
          label:'Spécialité',
          value:'Tronc commun'
        },
        residence:{
          label:'Résidence INP',
          value:'R5 C32'
        },
        annee:{
          label:'Année Scolaire',
          value:'2023'
        },
      }
    }
  }
}
</script>



<style lang="scss" scoped>

</style>
