<template>
  <!-- Grid column -->
  <div class="mb-md-0 mb-4 w-100 overflow-hidden expert-item">
    <div class="bull-elem">
      <div class="bullet"></div>
      <div class="bullet"></div>
      <div class="bullet"></div>
      <div class="bullet"></div>
    </div>
    <div class="testimonial  pt-2 d-flex justify-content-center align-items-center flex-column w-100 " @click="goDetail">

      <!-- Avatar -->
      <div class="author mb-lg-4  px-3 py-4 d-flex flex-column flex-md-row align-items-center justify-content-around rounded bg-transparent shadow">
        <div class="avatar mx-auto my-3 shadow-none mr-md-3">
          <img src="/expert.jpg"  :alt='expert.nom'  class="rounded-circle w-100 h-100">
        </div>
        <div class="author-info d-flex flex-column align-items-center justify-content-around">
          <span class="font-italic expert">Notre Expert</span>
          <h4 class="font-weight-bold text-black-50 text-capitalize text-primary">{{expert.nom}}</h4>
          <span class="m-0 p-0 text-gray font-italic">Promotion {{expert.promotion}}</span> <br />
        </div>
      </div>

      <!-- Content -->
      <h4 class="font-weight-bold mx-3 my-2 py-4 my-md-3 my-lg-4 text-black-50 thematique text-uppercase mb-md-4 text-center">Theme: {{expert.theme}}</h4>
      <p class='text-sm-left px-4' v-show="textFull===true"><i class="fas fa-quote-left mr-2"></i>{{expert.contenu}}</p>
      <p class='text-sm-left px-4' v-show="textFull===false"><i class="fas fa-quote-left mr-2"></i>{{textTruncated}}</p>
      <span class='date grey-text italic font-small'>{{dateFormatted}}</span>
    </div>
  </div>
  <!-- Grid column -->
</template>

<script>
import { useFromDataFormatter } from '~/utils/useDateFormatter'
import { useTextTruncat } from '~/utils/useTextutil'

export default {
  name: 'ExpertSlideItem',
  props:{
    expert:{
      type:Object,
      required:true,
    },
    navigation:{
      type:Boolean,
      default:true,
    },
    textFull:{
      type:Boolean,
      default:false,
    }
  },
  setup(props){
    const {expert} = props
    const {dateFormatted} = useFromDataFormatter(expert.date_creation)
    const {textTruncated, setLimit} = useTextTruncat(expert.contenu)
    setLimit(250)

    return {
      dateFormatted,
      textTruncated
    }
  },
  methods:{
    goDetail(){
      if(this.navigation){
      this.$router.push(`/experts/${this.expert.uuid}`)
      }
    }
  }
}
</script>

<style lang='scss' >
@import "assets/scss/screen";
.expert-item{

  .author{
    border:solid 1px var(--color-primary);
    border-radius: 1.25em !important;
    .avatar img{
      border:solid 2px var(--color-primary);
    }
    @media (max-width: $md-screen) {
      box-shadow: none !important;
    }
    span{
      font-family:Philosopher, Roboto,sans-serif !important;
    }
  }
  .avatar{
    width: 100px;
    height: 100px;
    @media screen and (max-width: $sm-screen) {
      width: 50px;
      height: 50px;
    }
  }

  .thematique{
    color: var(--color-primary) !important;
  }

  .testimonial{
    background-color: rgba(255, 255, 255, 0.41);
    backdrop-filter: blur(40px);
    height: 100% !important;
    z-index: 100;
  }

  .testimonial-card{
    width: 897px !important;
  }

  @media screen and (max-width: $sm-screen) {
    h4{
      font-size: 1.25em;
    }
  }

  .bull-elem{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    div{
      z-index: -100;
      position: absolute;
      height: 10rem;
      width: 10rem;
      background-color: white;
      border-radius: 50%;
      animation: anime-bullet 10s linear infinite;
      &:nth-child(1){
        bottom: -15%;
        left: -15%;
        height: 20rem;
        width: 20rem;
        opacity: 0.5;
        background-image: linear-gradient(to top, transparent, var(--color-primary));
      }
      &:nth-child(2){
        right: 5%;
        top: 20%;
        background-image: linear-gradient(to left, transparent, var(--orange));

      }
      &:nth-child(3){
        right: -10%;
        bottom: -5%;
        height: 25rem;
        width: 25rem;
        opacity: 0.4;
        background-image: linear-gradient(to right, transparent, var(--color-primary) );

      }
      &:nth-child(4){
        height: 22rem;
        width: 22rem;
        top: -25%;
        left: 28%;
        opacity: 0.4;
        background-image: linear-gradient(to top, transparent, var(--green));
      }
    }
  }

  @keyframes anime-bullet {
    0%, 100% {
      opacity: 0.2;
      transform: translateX(10px);
    }
    40%{
      opacity: 0.3;
    }
    50%, 60%{
      transform: translateY(-10px);
      opacity: 0.4;
    }

  }
}
</style>
