<template>

  <div class="swiper-expert">
    <LoadingFluide v-show='loading'/>
    <div class='swiper-wrapper expert-wrapper'>
      <ExpertSlideItem v-for='(expert, index) in getExperts' :key='index' class='swiper-slide' style="cursor: pointer"  :expert='expert'/>
    </div>
    <div class="swiper-pagination position-relative" v-show='!loading'></div>
    <div class="swiper-button-prev" v-show='!loading'></div>
    <div class="swiper-button-next" v-show='!loading'></div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import LoadingFluide from '~/components/LoadingFluide.vue'
import ExpertSlideItem from '~/components/sliders/ExpertSlideItem.vue'

export default {
  name: 'ExpertSlider',
  components: { ExpertSlideItem, LoadingFluide },
  data(){
    return {
      option:{
        speed:700,
        loop: false,
        slidesPerView: 1,
        spaceBetween: 10,
        autoplay: {
          delay: 15000,
          disableOnInteraction: false
        },
        pagination: {
          el: ".swiper-pagination",
          type: 'bullets',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

      },
      swiper:null,
    }
  },

  beforeDestroy() {
    this.swiper.destroy()
  },
  computed:{
    ...mapGetters('blog/Experts', ['getExperts', 'isLoading']),
    loading(){
      return this.isLoading
    }
  },
  created() {
    this.fetchExperts()
  },
  mounted() {
    this.swiper = new this.$swiper('.swiper-expert', this.option);
  },
  methods:{
    ...mapActions('blog/Experts', ['fetchExperts']),
  },
}
</script>

<style lang='scss' scoped>
@import '/assets/scss/screen.scss';

.swiper-expert {
  width: 318px;
  height: auto;
  overflow: hidden;
  padding: 25px;
  background-color: white;
  @media screen and (min-width: $xm-screen) {
    width: 22em;
  }
  @media screen and (min-width: $md-screen) {
    width: 48em;
  }

  @media (min-width: $lg-screen){
    width: $lg-screen;
  }
  .swiper-slide{
    z-index: 1;
    background-color: white;
    border: groove palevioletred 2px;
    border-radius: 8px;
    transition: all 0.3s ease-in;
    &.swiper-slide-active{
      border: solid var(--color-primary) 2px;
      // background-image: linear-gradient(to bottom, transparent, var(--color-primary));
      background-size: 100% 300%;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

      .testimonial{
        display: block;
        width: 100%;
        height: 100% !important;

      }
    }

    @media screen and (max-width: $sm-screen) {
      margin-bottom: 0 !important;
    }
  }
}

.swiper-pagination{
  span.swiper-pagination-bullet-active{
    background: var(--color-primary) !important;
    background-color: var(--color-primary) !important;
  }
}
.swiper-button-prev, .swiper-button-next{
  color: var(--color-primary) !important;
}

</style>
