<template>
    <div>
       <MyContainer name="reisgter-page" title="INSCRIVEZ-VOUS VITE !" sub-title="Les autres membres vous attendent !">
         <LoadingFluide class="my-auto" v-show="isLoading || formStep===0" />
            <client-only>
              <div class="d-flex justify-center items-center" v-if="getError">
                <div class="alert alert-danger alert-dismissible fade showalert-dismissible fade show" role="alert" v-for="(error, index) in getError" :key="index">
                    {{error}}
                 </div>
              </div>
          </client-only>
         <RegisterForm v-show="!isLoading && formStep===1" @submitted="submitForm"/>
         <RegisterFormTwo class="col-12"  v-show="!isLoading && formStep===2" @submitted="submitForm"/>
         <SuccessCard v-if="!isLoading && isReady" message="Compte créé avec succès" sub-message="Vous devriez confirmer votre compte en cliquant sur le lien de confirmation envoyé." />
       </MyContainer>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import RegisterForm from "~/components/auth/RegisterForm.vue";
import MyContainer from '~/components/MyContainer.vue'
import LoadingFluide from '~/components/LoadingFluide.vue'
import RegisterFormTwo from '~/components/auth/RegisterFormTwo.vue'
import useFormData from '~/utils/useFormData'
import SuccessCard from '~/components/SuccesCard.vue'
export default {
  components: { SuccessCard, RegisterFormTwo, LoadingFluide, MyContainer, RegisterForm},
  data(){
    return {
      userForm:{},
      formStep:1,
      isReady:false,
    }
  },
 computed:{
    ...mapGetters('membres/membre', ['isLoading', 'getError', 'getRegistrationStep'])
},
  setup(){
    const  {createFormData} = useFormData()
    return { createFormData }
  },
  methods:{
    ...mapActions('membres/membre', ['createMembre']),
   async submitForm(value){
      this.isReady = false
      if( this.formStep === 1 && value){
          this.formStep = 0
        const _this =  this
        this.userForm = {...this.userForm, ...value}
        setTimeout(function(){
          _this.$store.commit('membres/documents/SET_LOADING', false)
          _this.formStep = 2
        }, 2000)
        return
      }else if( this.formStep === 2 && value){
        this.userForm = {...this.userForm, ...value}
        this.isReady = true
      }
      else{
        console.log('not yet ready')
      }

      if (this.isReady){
        const sprayData = {...this.userForm}
        const data = this.createFormData(sprayData)
        // console.log('dataform', data)
        this.formStep = 0
        await  this.$store.dispatch('membres/membre/createMembre', data)
        this.formStep = 3
      }
      console.log('component de compte creer')
    }
  }
}

</script>

<style>

.error{
  outline: solid 1px var(--danger) !important;
  color: var(--danger);
}
</style>
