<template>
  <div>
     <client-only>
       <MyContainer name="reisgter-page" title="INSCRIVEZ-VOUS VITE !" sub-title="Les autres membres vous attendent !">
         <loading-fluide v-show="isLoading" />
         <div class="col-6 mx-auto" v-if="getError">
           <div class="alert alert-danger alert-dismissible fade showalert-dismissible fade show" role="alert" v-for="(error, index) in getError" :key="index">
             {{error}}
           </div>
         </div>
         <RegisterFormTwo class="col-12" v-show="!isLoading"/>
       </MyContainer>
       </client-only>
    </div>
</template>


<script>
import {mapGetters} from "vuex";
import RegisterFormTwo from "~/components/auth/RegisterFormTwo.vue";
import MyContainer from '~/components/MyContainer.vue'
import LoadingFluide from '~/components/LoadingFluide.vue'

export default {
  name: "profil",
  components: { LoadingFluide, MyContainer, RegisterFormTwo},
  computed:{
    ...mapGetters('membres/membre', ['isLoading', 'getError'])
  }
}
</script>


<style scoped lang="scss">

</style>
