<template>
    <div class="col-lg-4 col-md-12 mb-4">
        <div class="input-group md-form form-sm form-3 pl-0">
            <div class="input-group-prepend">
                <span class="input-group-text white black-text" id="basic-addon8">1</span>
            </div>
            <input type="text" class="form-control mt-0 black-border rgba-white-strong" placeholder="Name"
                aria-describedby="basic-addon9">
        </div>
    </div>
</template>