
<template>
  <transition name="fade">
<section class="expert-section">
  <div class="expert-header-top py-4 mb-4 shadow bg-primary">

  </div>
  <div class="container py-4 my-4">
    <div class="row">
      <div class="col-12 justify-content-center">
        <LoadingFluide v-if="isLoading" />
        <ExpertSlideItem v-else :expert="getExpert" :navigation="false" :text-full=true class="expert-card animated bounceIn p-0 h-100" data-aos="zoom-in" />
      </div>
      <div class="col-12 justify-content-center shadow-none">
        <LoadingFluide v-if="isLoading" />
        <ExpertComentForm class="mt-4" />
        <ExpertComentList :comments="[]" />
      </div>
    </div>
  </div>
  <MyContainerFluid name="expertSuggestiions" title="Suggestion">
    <LoadingFluide v-if="isLoading" />
    <div v-show="!isLoading" class="col-10 col-md-4 bg-white mb-4 mx-4 rounded overflow-hidden p-0 hover-shadow" v-for="expert in expertSuggested" :key="expert.uuid" data-aos="fade-up">
      <ExpertSlideItem  :expert="expert" :navigation="true" :text-full=false class="h-100" />
    </div>
  </MyContainerFluid>
</section>
  </transition>
</template>

<script >
import {mapActions, mapGetters} from 'vuex'
import MyContainerFluid from '~/components/MyContainerFluid.vue'
import ExpertSlideItem from '~/components/sliders/ExpertSlideItem.vue'
import LoadingFluide from '~/components/LoadingFluide.vue'
import ExpertComentForm from '~/components/blog/ExpertComentForm.vue'
import ExpertComentList from '~/components/blog/ExpertComentList.vue'

export default {
  components: { ExpertComentList, ExpertComentForm, LoadingFluide, ExpertSlideItem, MyContainerFluid },
  computed:{
    ...mapGetters('blog/Experts', ['getExpert', 'getError', 'isLoading', 'getSuggestions']),
    expertSuggested(){
    return this.getSuggestions
    }
  },
  async asyncData({ store, params }) {
    const uuid = params.uuid;
    await store.dispatch('blog/Experts/fetchExpertByUuid', uuid);
  },
    methods:{
      ...mapActions('blog/Experts', ['fetchExpertByUuid'])
    },
  mounted() {
   // this.fetchExpertByUuid(this.$route.params.uuid)
    },

  }
</script>

<style scoped lang="scss">
@import 'assets/scss/screen';

.rounded{
  border-radius: 1.25em !important;
}
.expert-section{
  margin-top: 0;
  display: block;
  background-color: white;
  overflow: hidden;
}

.expert-card{
  overflow: hidden;
  margin-top: 0;  display: block;
  background-color: white;
  border-radius: 1.52em;
  padding: 1em;
  margin-bottom: 1em;
  border: solid var(--color-primary) 2px;
  background-size: 100% 300%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  @media (min-width: $sm-screen) {
    padding: 1.5em;
  }
  @media (min-width: $md-screen) {
    padding: 2em;
  }
  @media (min-width: $lg-screen) {
    padding: 2em;
  }
}
.expert-header-top{
  height: 3.6em;
  border-radius: 0em 0em 1em 1em;

  @media (min-width: $sm-screen){
    height: 4em;
  }
  @media (min-width: $md-screen){
    height: 5em;
  }
  @media (min-width: $lg-screen){
    height: 5em;
  }
}

.hover-shadow{
  cursor: pointer;
  transition: all .02s ease-in;

}
.hover-shadow:hover{
  transform: scale(0.95);
//  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);


}
</style>
