<template>
    <div class="about-ae2ita col-12 mb-4 pb-4">
        <div class="row justify-content-center  p-md-4">
            <div class="col-12 col-md-8 col-lg-5  bounce bounceInLeft animated order-1 order-md-0">
                <div class="about-ae2ita-header ">
                    <h2 class="text-uppercase px-2 text-md-justify text-left" v-html="title" data-aos="fade-right"> </h2>
                </div>
                <p class="text-justify" v-html="short" data-aos="fade-up"></p>
                <i  :class="{'bounce bounceOut animated':isVisible}"  @click="showFullText"  v-show="!isVisible && longText.length>0">
                    <OutlineButton :is-link=false  label="En Savoir plus" class="p-2"/>
                </i>
               <i v-if="isLink">
                 <OutlineButton :is-link=true to="/presentations"  label="En Savoir plus" class="p-2 mt-0"/>
               </i>
            </div>
            <div class="col  col-lg-3 order-md-0 d-flex align-content-center bounce bounceInRight animated order-0 order-md-1" data-aos="fade-left">
                <div class="img-container">
                    <img src="@/assets/icons/logo-512.png" alt="AE2ITA Logo" class="about-ae2ita-logo" />
                </div>
            </div>
            <div v-show="isVisible && longText.length>0" class="col-md-10 col-12 order-2" >
                <div class="text-card rounded shadow-sm p-md-1 p-1 bounce bounceInUp animated">
                    <p v-for="(para, index) in longText" :key="index" v-html="para">
                </p>
                <button style="font-size: 18px; font-weight:bold;" @click="showFullText" class="btn btn-rounded btn-outline-orange waves waves-effect waves-light p-2 rounded-pill">reduire</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import OutlineButton from '~/components/OutlineButton.vue'

export default {
  name:'AboutIta',
  components: { OutlineButton },
  props:{
      title:{
        type:String,
        default: `<strong>AE2TIA</strong> Plus qu'une amicale, nous sommes une
                        <strong>famille</strong>`
      },
    short:{
        type:String,
      default:`<strong>N</strong>ous formons une famille, unie par une passion
                    commune pour l'excellence académique, l'épanouissement personnel et la solidarité entre étudiants.`
    },
    longText:{
        type:String,
      default:"",
    },
    isLink:{
        type:Boolean,
      defualt:false
    }
  },
    data(){
        return{
            showText:false,
            paragraphes:[
            `L'amicale <strong>AE2ITA</strong> est bien plus qu'une simple association étudiante.
             Nous sommes une communauté dynamique et engagée,
             rassemblant les étudiants de l'école d'ingénieurs AE2ITA autour d'une passion commune : l'excellence académique, l'épanouissement personnel et le renforcement des liens entre les étudiants.`,
            `Depuis notre création, nous nous sommes fixés pour mission d'offrir à nos membres une expérience étudiante inoubliable, en favorisant leur épanouissement sur les plans académique, professionnel
            et social. Nous croyons fermement que l'apprentissage ne se limite pas aux salles de classe, mais se nourrit également de rencontres,
            d'échanges et d'expériences enrichissantes.`,
            `Au sein de l'amicale AE2ITA, nous organisons une multitude d'activités stimulantes et variées. Des conférences inspirantes animées par des experts de l'industrie, des ateliers pratiques pour développer vos compétences techniques,
             des compétitions stimulantes pour tester vos connaissances,
             des sorties conviviales pour renforcer les liens entre les membres, et bien plus encore. Nous nous efforçons de créer un environnement où chacun peut s'épanouir, exprimer sa créativité et trouver sa place au sein de notre communauté.`,
            `Nous sommes également fiers de notre engagement envers la communauté qui nous entoure. Nous organisons régulièrement des projets de bénévolat, des actions sociales et des collaborations avec d'autres associations pour apporter notre contribution positive et faire une différence dans la société.`,
            `Rejoindre l'amicale AE2ITA, c'est bien plus que devenir membre d'une association. C'est intégrer une famille où l'entraide, le partage de connaissances et les amitiés durables sont au cœur de notre dynamique. Que vous soyez un nouvel étudiant à la recherche de nouvelles opportunités ou un membre
            chevronné souhaitant transmettre votre expérience, nous vous accueillons les bras ouverts.`,
            `Explorez notre site pour en savoir plus sur nos activités, nos réalisations et nos événements à venir.
             Rejoignez-nous et faites partie de cette aventure passionnante au sein de l'amicale AE2ITA.`,
            `Ensemble, nous construisons un avenir brillant et développons les leaders de demain.`
        ]

        }
    },
    computed:{
        isVisible(){
            return this.showText
        }
    },

    methods:{
        showFullText(){
            this.showText = !this.showText
        }
    }
}

</script>



<style lang="scss" scoped>
@import 'assets/scss/screen';
strong{
    color:var(--color-primary);
}
.about-ae2ita {
    text-align: justify;
    padding: 20px;
}

.about-ae2ita-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.about-ae2ita-logo {
    width: 6em;
    height: 6em;
    margin-right: 10px;
}

.img-container {
    margin-bottom: 0.75em;
    &::after {
        content: 'Mon Amicale';
        color:white;
        position: absolute;
        display: flex;
        font-weight: bolder;
        justify-content: center;
        align-items: center;
        top: -2px;
        right: 0px;
        width: 6em;
        height: 6em;
        background: var(--color-primary);
        border-radius: 50%;
    }

    &::before {
        content: "AE2ITA";
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 6em;
        height: 6em;
        color:var(--color-primary);
        font-weight: bolder;
        border-radius: 50%;
        border:dotted 2px var(--color-primary);
        transform: translate(120px, -40px);
        z-index: -1;
        transition: all .3s ease;
    }

  @media (min-width: $xm-screen) and (max-width: $sm-screen) {
    &::after{
      transform: translate(-10px, -15px);

    }
    &::before{
      transform: translate(120px, -60px);
    }
  }

  @media (min-width: $md-screen) and (max-width: $lg-screen) {
    &::after{
      transform: translate(50px, -10px);

    }
    &::before{
      transform: translate(100px, -60px);
    }
  }
  @media (min-width: $lg-screen) {
    &::after{
      right: -20px;

    }
    &::before{

    }
  }
}

.about-ae2ita h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.about-ae2ita p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}
</style>
