<template>
  <div class="accordion px-2">
    <div
      v-for="(item, index) in items"
      :key="index"
      class="accordion-item py-0"
      :class="{ 'active': activeIndex === index }"
    >
      <div class="accordion-header" @click="toggleAccordion(index)">
        <h4 class="item-title">{{ item.title }}</h4>
        <i class="icon fas  " :class="{ 'fa-minus-circle': activeIndex === index, 'fa-plus-circle plus': activeIndex !== index }"></i>
      </div>
      <div class="accordion-content" v-show="activeIndex === index">
        {{ item.content }}
      </div>
    </div>
  </div>
</template>

<script setup>
import {ref} from 'vue'
const items = ref([
  { title: 'quelle serie de BAC?', content: 'Être titulaire d’un baccalauréat scientifique C ou D d’un diplôme équivalent' },
  { title: 'avec le BTS ?', content: 'pour postuler à la filière de formation des ITA, il est nécessaire d\'avoir obtenu le BTS et une spécialité en conformité avec l\'agriculture.' },
  { title: 'avec la licence ?', content: 'Être inscrit dans une université en Chimie Biologie et Géologie ou Sciences de la Nature donne aux étudiants en provenance de l\'Université ayant validé leur Licence 1 la possibilité de candidater à la filière de formation des ITA.' },
  { title: 'Depuis les classes preparatoire ?', content: 'Avoir régulièrement suivi les cours de la 1ère ou de la 2ème année des classes préparatoires aux Grandes Ecoles filière Biologie Chimie Physique et Sciences de la Terre (BCPST).' },
])

const activeIndex = ref(null);

const toggleAccordion = (index) => {
  activeIndex.value = activeIndex.value === index ? null : index;
};
</script>

<style lang="scss" scoped>
$color: #0ba360;
.accordion {
  width: 100%;
}
.item-title{
  font-weight: bold;
  color: dimgray;
  transition: all 0.2s ease-in;
}
.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 200px;
  background: transparent;
  border-radius: 0.75em;
  h4{
    color:$color;
  }
  &:hover{
    h4{
      color: white;
      text-indent: 10px;
    }
    .accordion-header{
      background-color: $color;
    }
  }
}

.accordion-item.active {
  max-height: 500px;
  background-color: #0ba360;
  h4{
    color:white;
  }
  .accordion-header{
    background-color: transparent;
  }
}

.accordion-header {
  padding: 15px;
  cursor: pointer;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
}

.accordion-header .item-title {
  flex: 1;
}

.icon {
  width: 20px;
  height: 20px;
  border: 1px solid lightgreen;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
  margin-left: 10px;
  transform: rotate(45deg);
  transition: transform 0.3s ease-out;
  background-color: var(--color-primary);
  color: white;
}

.icon.plus {
  transform: rotate(0);
}

.accordion-content {
  padding: 15px;
  color: white;
  font-size: 1.2em;
}
</style>
