<template>
    <div class="col-12 col-md-5 col-lg-4 p-2 my-md-2">
        <div class="card bounce bounceIn animated">
            <img :src="album.cover" alt="album cover" class="img-fluid card-img m-0" srcset="">
            <div class="card-content pb-sm-2">
                <span class="badge badge-pill badge-success mx-auto">{{ album.label }}</span>
                <h3 class="text-center title">{{ album.titre }}</h3>
                <div class="row m-0 pb-2">
                    <div class="col col-lg-4">
                        <img src="@/assets/svg/image.svg" :alt="album.titre">
                        <span class="h5 color-secondary">
                            {{ album.images_count }}</span>
                    </div>
                    <div class=" col col-lg-4">
                        <img src="@/assets/svg/video.svg" :alt="album.titre" srcset="">
                        <span  class="h5 color-secondary">
                            {{ album.videos_count }}</span>
                    </div>
                    <div class=" col col-lg-4">
                        <img src="@/assets/svg/eye.svg" alt="eye" srcset="">
                        <span class="h5 color-secondary">
                            {{ album.vues }}</span>
                    </div>
                    <div class="col-12 mx-auto mt-1">
                        <div class="album-footer">
                            <span class="gray-text">
                            le {{ album.date_creation }}</span>
                            <span class="gray-text">
                            {{ album.lieu }}</span>
                        </div>

                    </div>
                </div>
            </div>
            <NuxtLink  prefetch  class="link" :to="`/bibliotheques/medias/${album.slug}/`" ></NuxtLink>
        </div>
    </div>
</template>

<script>
import albumModel from '@/models/album.model'
export default{
props:{
  album:{
    type:Object,
    defualt:()=>albumModel
  },
    animation:{
        type:Number,
        required:false,
        default:500
    }
 }
}

</script>


<style scoped>

.title{
    color:var(--color-2)
}
.mask{
    background-image:linear-gradient(from bottom, rgba(53, 49, 49, 0.342), rgb(17, 247, 197)) ;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.gray-text{
    font-size: 12px;
    font-weight: 900;
}
.card {
    height: 390px;
    overflow: hidden;
    border-radius: 1.1em;
    background: transparent;
    border:0
}
a.link{
    background: transparent;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.card-img {
    position: absolute;
    z-index: 1;
    padding: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* top: 0; */
    left: 0;
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    height: 111px;
    bottom: 0;
    border-radius: 1em;
    border: solid 1px var(--color-2);
    backdrop-filter: blur(2px);
    z-index: 2;
}

img{
    height: 24px;
    width: 24px;
}

.album-footer{
    display: flex;
    justify-content: space-between;
}

.badge{
    position: relative;
    top: -9px;
}
</style>
