
<template>
  <!--
  <div class='container' v-show='!isScrolled' style='transition: all 0.3s ease'>
    <div class='row'>
      <div class='col'>
          <div class="bottom-navigation d-lg-none z-depth-1">
        <nuxt-link
          v-for="(item, index) in menuItems"
          :key="index"
          :to="item.link"
          class="nav-item"

          :class="{ active: isActive(item.link) }"
          @mouseover="isHover = true"
          @mouseleave="isHover = false"
        >
          <i :class="item.icon"></i>
          <span class='show-text'>{{ item.title }}</span>
        </nuxt-link>
      </div>
      </div>
    </div>
  </div>
-->
  <div class='container' v-show='!isScrolled' style='transition: all 0.3s ease'>
    <div class='row'>
      <div class='col'>
        <div class="bottom-navigation d-lg-none z-depth-1">
          <div
            v-for="(item, index) in menuItems"
            :key="index"
            class="nav-item"
            :class="{ active: isActive(item.link), 'has-submenu': item.children }"
            @mouseover="isHover = true"
            @mouseleave="isHover = false"
            @click="getActiveIndex(index, item.children.length, item.link)"
          >
            <i :class="item.icon" class="bar-icon"></i>
            <span class='show-text bar-text'>{{ item.title }}</span>
            <!-- Sous-menu si disponible -->
            <div v-if="item.children" class="submenu  animated mr-4" :class="{animated}"  v-show="activeIndex === index" :style="`top:${ -66*item.children.length-22}px;`" >
              <div v-for="(submenuItem, subIndex) in item.children" :key="subIndex" class="submenu-item" >
                <nuxt-link :to="submenuItem.link" class="d-block">
                  <i :class="submenuItem.icon"></i>
                  <span class='text-black submenu-text'>{{ submenuItem.title }}</span>
                </nuxt-link>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'BottomNavigation',
  props:{
    menuItems:{
      type:Array,
      required:true
    }
  },
  data() {
    return {
      isScrolled: false,
      prevScrollY: 0,
      isHover: false,
      activeIndex:-1,
      transformTop:0,
      animated:"fadeInUp"
    }
  },
   mounted() {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    isActive(link) {
      if (link === '/') {
        return this.$route.path === '/'
      }
      return this.$route.path.startsWith(link) && link.length>1;
    },
    handleScroll() {
      const currentScrollY = window.scrollY;
      // Si le scroll est inférieur à la position précédente, le sens est haut, donc afficher le menu
      // Sinon, le sens est descendant, donc cacher le menu
      this.isScrolled = currentScrollY > this.prevScrollY;
      this.prevScrollY = currentScrollY;
      this.activeIndex= -1;
    },
    getActiveIndex(index, haschild, link){
      this.animated= "fadeOutDown"
      if(!haschild){
        this.$router.push(link)
      }
      if(this.activeIndex === -1){
        this.animated= "fadeInUp"
        this.activeIndex =index
      }else {
        this.activeIndex =-1
      }

    }
  }
};
</script>

<style lang='scss' scoped>
.bottom-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top-left-radius: 1.1em;
  border-top-right-radius: 1.1em;
  z-index: 999;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #888;
  text-decoration: none;
   animation: all .3s ease-in;
  padding: 10px;
  z-index: 9999;
}
.bar-text, .bar-icon{
  z-index: 9999;
}

.nav-item i {
  font-size: 24px;
  margin-bottom: 4px;
  color: var(--color-primary);
}

.nav-item span {
  font-size: 12px;
  opacity: 1;
  color:black;
  display: none;
  transition: opacity 0.3s ease;

}


.nav-item{
    &.active {
    color: #000;
    background-color: #f0f0f0;
    margin-top: -45px;
    width: 66px;
    border-radius: 45%;

   >span.show-text {
    opacity: 1;
     display: block;
     color: var(--color-primary);
     font-weight: bold;
   }
  }
  &:hover{
    >span.show-text {
    opacity: 1;
   }
  }
}

.scrolled{
 display: none;
}

.submenu {
  display: block;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: -1;
  padding-bottom: 15px;
  transition: all .2s ease-in;
  &:nth-child(1){
    background-color: red;
  }
}

.nav-item:hover .submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submenu-item {
  padding: 10px;
  width: 100%;
  text-align: center;
}
.submenu-text{
  display: block !important;
  color: var(--color-primary) !important;
  opacity: 1 !important;
}
.submenu-item:hover {
  background-color: #f0f0f0;
}
</style>
