

<template>
  <div class="bottom-navigation">
    <nuxt-link
      v-for="(item, index) in menuItems"
      :key="index"
      :to="item.link"
      class="nav-item"
      :class="{ active: isActive(item.link), dropUp: item.hasChildren || isHover }"
      @mouseover="isHover = true"
      @mouseleave="isHover = false"
    >
      <i :class="item.icon"></i>
      <span class="show-text">{{ item.title }}</span>
      <div v-if="item.hasChildren" class="sub-menu">
        <nuxt-link
          v-for="(childItem, childIndex) in item.children"
          :key="childIndex"
          :to="childItem.link"
          class="sub-menu-item"
        >
          {{ childItem.title }}
        </nuxt-link>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
/**
 * Bottom navigation Up component
 *
 * @vue-component
 *
 * @vue-data {Array} menuItems - Array of menu item objects
 * @vue-data {Boolean} isHover - Whether menu is being hovered
 *
 * @vue-method isActive(link) - Checks if given link is active
 *
 * @vue-mounted Registers mouse event handlers
*
* @vue-template Main component template
*
* @vue-style .bottom-navigation - Styles for main wrapper
* @vue-style .nav-item - Styles for menu item links
* @vue-style .sub-menu - Styles for dropdown submenu
* @vue-style .sub-menu-item - Styles for submenu items
*
* @example
* <bottom-navigation></bottom-navigation>
*/

export default {
  name: 'BottomNavigation',
  data() {
    return {
      menuItems: [
        { title: 'accueil', icon: 'fas fa-home', color: '#FF5A5F', link: '/' },
        { title: 'Présentation', icon: 'fas fa-info-circle', color: '#FF5A5F', link: '/presentations' },
        { title: 'Formations', icon: 'fas fa-graduation-cap', color: '#FFAA00', link: '/formations' },
        { title: 'Albums', icon: 'fas fa-book', color: '#FF5A5F', link:'/bibliotheques/medias' },
        { title: 'Réseaux', icon: 'fas fa-share-alt', color: '#FFAA00', link:'/reseaux' },
        { title: 'Actualités', icon: 'fas fa-newspaper', color: '#00A699', link:'/actualites/', hasChildren:true,
          children:[
            { title: 'articles', icon: 'fas fa-newspaper', color: '#FFAA00', link:'/actualites/articles' },
            { title: 'publications', icon: 'fas fa-file-alt', color: '#FFAA00', link:'/actualites/bureaux/' },
          ]
        },
        { title: 'Anniversaires', icon: 'fas fa-birthday-cake', color: '#E71D36', link:'/anniversires' },
      ],
      isHover: false
    };
  },
  methods: {
    isActive(link) {
      return this.$route.path === link;
    }
  }
};
</script>

<style lang='scss' scoped>
/* ... existing styles ... */

.sub-menu {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: #f0f0f0;
  border-radius: 1.1em;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-item.dropUp .sub-menu {
  display: block;
}

.sub-menu-item {
  display: block;
  color: #888;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 5px;
  transition: opacity 0.3s ease;
}

.sub-menu-item:hover {
  color: #000;
  opacity: 1;
}

.bottom-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top-left-radius: 1.1em;
  border-top-right-radius: 1.1em;
  z-index: 9999;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #888;
  text-decoration: none;
   animation: all .3s ease-in;
}

.nav-item i {
  font-size: 24px;
  margin-bottom: 4px;
  color: var(--color-primary);
}

.nav-item span {
  font-size: 12px;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease;
}



.nav-item{
    &.active {
    color: #000;
    background-color: #f0f0f0;
    margin-top: -45px;
    width: 66px;
    border-radius: 45%;

   >span.show-text {
    opacity: 1;
     display: block;
     color: var(--color-primary);
     font-weight: bold;
   }
  }
  &:hover{
    >span.show-text {
    opacity: 1;
   }
  }
}
</style>
