<!-- ButtonLinkCard.vue -->

<template>
  <div class="col col-md-3 col-lg-3 button-container d-flex justify-content-center items-center z-depth-1 p-2 m-2 btn-hover" @click="goToLink">
    <img :src="imagePath" class="img-fluid my-auto" style="" alt="Image du bouton">
    <div class="overlay">
      <div class="button-text border-green rounded-[2px] z-depth-1">{{ buttonText }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    imagePath: String,
    buttonText: String,
    pageLink:String,
  },
  methods:{
    goToLink(){
      this.$router.push(this.pageLink)
    }
  }
};
</script>

<style lang="scss" scoped>
/* Style du conteneur du bouton */
.button-container {
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease-out;
  background-color: transparent;
}

/* Style du bouton image */
.button-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
  border-radius: 1.75em;
}

.button-container:hover, .button-container:visited, .button-container:focus-within {
  transform: scale(1.05);
}

/* Style de l'overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
  transition: opacity 0.3s ease-out;
  z-index: 1;
}

.button-container:hover .overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  .button-text{
    background: rgba(255,255,255,1);
    color:var(--color-primary)
  }
}
.button-text{
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  //border: solid 1px white;
  padding: 8px 10px;
  border-radius: 1.0em;
  color:white;
  font-weight: 700;
}

img{
  max-width: 8em;
}
</style>
