<template>
    <div class="col-12" :class="classes">
        <h1 class="h1">{{ title }}</h1>

        <p class="text" v-html="content">
        </p>
    </div>
</template>

<script>
export default{
    props:{
        title:{
            type:String,
            required:true,
            default:'title please'
        },
        content:{
            type:String,
            required:true,
            default:"content please"
        },
        classes:{
            type:String,
            default:'my-4'
        }
    }
}
</script>

<style>
.text{
    margin: 0 !important;
    padding: 0 !important;
    text-align: justify;
}
</style>
