<template>
    <div class="col-lg-3 col-md-5 col-12 my-3 ">
        <div class="cours-card py-3 px-2 card" >
            <span class="py-3 title">{{ title }}</span>

            <div class="row">
                <div class="content col-12">
                    <ul class="list-unstyled">
                       <slot></slot>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: true,
        },
    },

}

</script>


<style scoped>
.cours-card {
    /* background: #2bbbad; */
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.1em;
    color: gray;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

ul li {
    margin-top: 0.25rem;
}

/* col-md-5  */
@media (min-width: 768px){
    .cours-card{
        margin-top: -37px;
    }
}

.link {
  display: inline-block;
  margin-right: 20px;
  color: #333;
  text-decoration: none;
}

.link i,i {
  margin-right: 5px;
  color: var(--color-primary);
}
</style>
