<template>
<div class='row justify-content-center align-items-center py-4 px-2 px-lg-1' style='margin-top: 5.5em'>
      <div class='col-10 col-md-7 col-lg-4'>
        <img :src='errorImg' :alt='`error ${errorCode}`' class='img-fluid'>
      </div>
     <div class='col-11 col-lg-5'>
       <div class='card rounded shadow-none p-2'>
          <h2 class='h2 text-uppercase font-weight-bold mx-auto mx-lg-0'>
        Erreur {{errorCode}}
        </h2>
         <h3 class='h3 mx-auto mx-lg-0'>{{errorLabel}}</h3>
      <p class=''>
        {{errorMessage}}
      </p>
         <OutlineButton :is-link=true :to='to' label='Retour' class='mx-auto mr-md-auto px-5' />
       </div>
     </div>
    </div>
</template>

<script>
import OutlineButton from '~/components/OutlineButton.vue'

export default {
  name: 'CustomError',
  components: { OutlineButton },
  props:{
    errorCode:{
      type:Number,
      default:404
    },
    errorImg:{
      type:String,
      default: require('@/assets/svg/not-found.svg')
    },
    errorMessage:{
      type:String,
      default: "La page que vous voulez afficher n'existe pas (ou plus). Veuillez vérifier l'URL et re-essayer.\n" +
        "        Vous pouvez revenir à la page d'accueil des publications à tout moment."
    },
    to:{
      type: String,
      default:"/actualites/bureaux/"
    }
  },
  computed:{
    errorLabel: function (){
      if (this.errorCode === 404){
        return "Page non trouvée"
      }else {
        return ""
      }
    }
  }
}
</script>

<style lang='scss' scoped>
@import "assets/scss/screen";

p{
  font-size: 100% !important;
}

</style>
