<template>
  <img class='custom' ref="img" :src="src" v-if='loading' onload="isLoad" />
  <LoadingCircle  v-else />
</template>

<script>
import LoadingCircle from '~/components/LoadingCircle'
export default {
  name: 'CustomImage',
  components: { LoadingCircle },
  props: {
    src: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      img: null,
      loading: true,
    };
  },
  mounted() {
    this.img = document.querySelector('img');
    const i = document.getElementsByClassName('custom')
    console.log(i)
    console.log(this.img);

    i.onload = () => {
      this.loading = false;
      console.log('loading done')
    };
  },
  methods: {
  isLoad(event) {
     console.warn('data image is loading')
    }
  }

};
</script>

<style>
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 16px;
}
</style>
