<template>
  <div class="d-flex justify-content-center">
   <LoadingFluide v-if='isLoading' />
    <i v-else @click='loadMore' rel="loadBtn">
      <OutlineButton v-if='remainingData.length > 0' to='/' label="charger plus" :is-link='false' /></i>
  </div>
</template>

<script>
import LoadingFluide from '~/components/LoadingFluide'
import OutlineButton from '~/components/OutlineButton.vue'

export default {
  components: { OutlineButton, LoadingFluide },
  props:{
    datas:{
      type:Array,
      required:true
    },
    itemsPerPage:{
      type:Number,
      default:10
    }
  },
  data: function() {
    return {
      visibleData: [],
      remainingData: [],
      isLoading: false
    }
  },
  computed: {

  },
  mounted() {
    this.updateVisibleDocs()
    this.$emit("loadmore", this.visibleData)
  },
  methods: {
    updateVisibleDocs() {
      this.visibleData = this.datas.slice(0, this.itemsPerPage)
      this.remainingData = this.datas.slice(this.itemsPerPage)
    },
    loadMore() {
      this.isLoading = true
      setTimeout(() => {
        const nextDatas = this.remainingData.splice(0, this.itemsPerPage)
        this.visibleData = this.visibleData.concat(nextDatas)
        this.isLoading = false
        this.$emit('loadmore', this.visibleData)
      }, 1000)
    },

  },

}
</script>

<style lang='scss' scoped>
.file-content {
  justify-content: center;
  align-items: inherit;
}

.color {
  color: red;
}

.form-search {
  margin-top: -6rem;
}

</style>
