<template>
  <div class="testimonial-container">
    <div class="testimonial-text-container">
      <p class="testimonial-text">
        GLOBALG.A.P. IFA certification has helped us establish a management system that allows us to improve our processes, comply beyond national regulations, and implement the strictest quality standards.
      </p>
      <p class="testimonial-author">
        Judith Collins
      </p>
    </div>
    <div class="testimonial-image-container">
      <img src="/static/images/2.jpg" alt="Judith Collins" class="testimonial-image" />
    </div>
  </div>
</template>

<script>
export default {
  name: "DemoCompo",
  data() {
    return {
      imageSize: {
        width: 150,
        height: 150,
      },
    };
  },
};
</script>

<style>
.testimonial-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.testimonial-text-container {
  width: 100%;
  padding: 10px;
}

.testimonial-text {
  font-size: 16px;
  line-height: 1.5;
}

.testimonial-author {
  font-size: 14px;
  margin-top: 5px;
}

.testimonial-image-container {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.testimonial-image {
  border-radius: 50%;
  object-fit: cover;
}
</style>
