<template>
  <div class="full-company-card">
    <div class="card-header">
      <img :src="logoUrl" alt="Company Logo" class="company-logo" />
      <div class="title-section">
        <h2 class="company-title">{{ title }}</h2>
        <p class="short-description">{{ shortDescription }}</p>
      </div>
    </div>

    <div class="card-body">
      <div class="details-section">
        <h3><i class="fas fa-info-circle"></i> Details</h3>
        <p>{{ description }}</p>
      </div>

      <div class="founder-section">
        <h3><i class="fas fa-user"></i> Founder</h3>
        <p>{{ founder }}</p>
      </div>

      <div class="contact-section">
        <h3><i class="fas fa-envelope"></i> Contact</h3>
        <p>{{ contactEmail }}</p>
        <p>{{ contactPhone }}</p>
      </div>
    </div>

    <div class="card-footer">
      <h3><i class="fas fa-users"></i> Team</h3>
      <p>{{ teamSize }} members</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    logoUrl: String,
    title: String,
    shortDescription: String,
    description: String,
    founder: String,
    contactEmail: String,
    contactPhone: String,
    teamSize: Number,
  },
};
</script>

<style scoped>
.full-company-card {
  background-color: #f8f9fa;
  color: #495057;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.card-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.company-logo {
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.title-section {
  flex-grow: 1;
}

.company-title {
  font-size: 1.8em;
  margin-bottom: 5px;
}

.short-description {
  font-size: 1.1em;
}

.card-body {
  padding: 20px;
}

.details-section,
.founder-section,
.contact-section,
.card-footer {
  margin-bottom: 20px;
}

.details-section h3,
.founder-section h3,
.contact-section h3,
.card-footer h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.card-footer p {
  font-style: italic;
}

.card-footer i {
  margin-right: 5px;
}
</style>
