<script>
export default {
  name: "DevMode",
  mounted() {
    const modal = this.$refs.myModal;
    console.log('modal', modal);
  }
};
</script>

<template>
  <div id="myModal" class="modal my-auto" ref="myModal">
    <div class="modal-content">
      <h2 class="h2 text-center color-primary text-uppercase px-2">Nous sommes en construction</h2>
      <img src="~/assets/img/constructor.jpg" class="img-fluid" />
    </div>
  </div>
</template>

<style scoped lang="scss">
.modal {
  display: block;
  position: fixed;
  z-index: 1500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(17px);
}

.display{
  display: block;
  z-index: 1000;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 2px;
  max-width: 50rem;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>
