<template>
  <div class="col-lg-5 file-card border" data-aos="fade-in" :data-aos-duration="duration">
    <div class="file-card-icon">
      <img :src="getIconClass(file.type)" />
    </div>
    <div class="file-card-details">
      <div class="file-card-name">{{ file.name }}</div>
      <div class="file-card-info">
        <span class="file-card-type">{{ file.type }}</span>
        <span class="file-card-size">{{ formatFileSize(file.size) }}</span>
        <span class="file-card-date">{{ formatDate(file.date) }}</span>
      </div>
    </div>
    <div class="file-card-download">
      <a class="doc-link mr-1" @click.prevent="previewDoc(file.type)">
        <!-- <IconsMdiDownloadBox class="svg" /> -->
        <IconsIcOutlinePreview class="svg" />
      </a>
      <a class="doc-link" @click.prevent="telechargerMedia(file.link, `${file.name}.${file.type}`)">
        <!-- <IconsMdiDownloadBox class="svg" /> -->
        <IconsMdiDownloadBoxOutline class="svg" />
      </a>
    </div>

  </div>
</template>
  
<script>
export default {
  props: {
    file: {
      type: Object,
      required: true,
    },
    duration: {
      type: Number,
      required: false,
      default: 1000
    },
  },
  data: function () {
    return {
     linkData:''
      
    }
  },
  computed: {
    previewLink(){
      return this.linkData
    }
  },
  mounted(){
 this.getPreviewLink()
  },
  methods: {
    getIconClass(fileType) {

      if (fileType === 'pdf') {
        return require('@/assets/icons/pdf-64.png');
      } else if (fileType === 'docx' || fileType === 'doc') {
        return require('@/assets/svg/microsoft_word.svg');
      } else if (fileType === 'xlsx' || fileType === 'xls') {
        return require('@/assets/svg/microsoft_office.svg');
      } else if (fileType === 'pptx' || fileType === 'ppt') {
        return require('@/assets/svg/microsoft_powerpoint.svg');
      } else {
        return 'fa fa-file-o';
      }
    },

    formatFileSize(sizeInBytes) {
      // Formatage de la taille du fichier en fonction des préférences (KB, MB, GB, etc.)
      // Vous pouvez utiliser une bibliothèque de formatage de nombre comme `numeral.js` pour cela
      // C'est un exemple simple de formatage pour vous guider
      const kiloBytes = Math.floor(sizeInBytes / 1024);
      if (kiloBytes < 1024) {
        return `${kiloBytes} KB`;
      } else {
        const megaBytes = Math.floor(kiloBytes / 1024);
        return `${megaBytes} MB`;
      }
    },
    formatDate(dateString) {
      // Formatage de la date en utilisant les fonctions natives de JavaScript ou une bibliothèque de formatage de date comme `moment.js`
      // C'est un exemple simple de formatage pour vous guider
      const date = new Date(dateString);
      return date.toLocaleDateString();
    },
    telechargerMedia(url, fileName) {
      const link = document.createElement('a');
      link.href = url;
      link.download = fileName;
      link.target = '_blank';
      link.rel = 'noopener noreferrer';
      link.click();
    },
    getPreviewLink() {
      const fileType = this.file.type
      if (fileType === 'pdf') {
        this.linkData  = 'https://docs.google.com/viewer?url='+'https://www.desjardins.com/ressources/pdf/e35-budget-f.pdf'+'&embedded=true';
      } else if (fileType === 'docx' || fileType === 'doc') {
        this.linkData = 'https://docs.google.com/viewer?url='+'https://www.modeles-de-cv.com/wp-content/download/260-modele-cv-sans-photo.docx'+'&embedded=true';
      } else if (fileType === 'xlsx' || fileType === 'xls') {
        this.linkData  = 'https://docs.google.com/viewer?url='+'https://www.business-plan-excel.fr/wp-content/uploads/2019/11/Bulletin-scolaire-modele-excel.xlsx'+'&embedded=true';
      } else if (fileType === 'pptx' || fileType === 'ppt') {
        this.linkData  = '';
      } else {
        return '';
      }

    },
    previewDoc(url) {
      this.$Fancybox.show([
          {
            src: this.linkData,
            type: "iframe",
            preload: false,
          },
        ]);

    }
  },
};
</script>
  
<style lang="scss" scoped>
.file-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  transition: all .5s ease-in;

  &:hover {
    border: 1px solid #ccc;
    cursor: pointer;

    svg.svg {
      // color: var(--color-primary);
    }

    .file-card-name {
      color: var(--color-primary) !important;
    }
  }

}

.file-card-icon {
  margin-right: 10px;
}

.file-card-details {
  flex-grow: 1;
}

.file-card-name {
  font-weight: bold;
}

.file-card-info {

  // font-size: 12px;
  span {
    font-size: 12px;
    color: gray;
  }
}

.file-card-type::before {
  content: 'Type: ';
}

.file-card-size::before {
  content: 'Taille: ';
}

.file-card-date::before {
  content: 'Date: ';
}

svg.svg {
  color: gray;
  transform: scale(1.3);

  &:hover {
    color: var(--color-primary);
  }
}
</style>
  