<template>
    <div class="bounce bounceIn animated" :class="col">
        <div class="folder-card p-1">
            <img class="mb-0" src="@/assets/svg/folder_file.svg" alt="cover" srcset="">
            <div class="content">
                <span class="mx-auto">{{ label }}</span>
            </div>
            <NuxtLink class="link" :to="url"></NuxtLink>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        label:{
            type:String,
            required:true
        },
        url:{
            type:String,
            required:true
        },
        col:{
            type:String,
            required:false,
            default:"col-md-3"
        },
        totalFiles:{
            type:Number,
            required:false,
            default:100,
        }
    }
}
</script>

<style scoped>

.folder-card{
    display: flex;
    flex-direction: column;
    border-radius: 1.1em;
    transition: all .2s ease;
    max-width: 13rem;
    background: white;
}

.folder-card:hover{
    background: var(--gray-1);
    transform:scale(1.1)
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

span{
    color:var(--color-2);
    font-weight: 900;
}

a.link{
    display: block;
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

</style>