<template>
    <div class="col-3">
        <div class="file-card">
            <h2>{{title}}</h2>
            <span>{{ fileType }}</span>
            <span>{{ fileSize }}</span>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        title:{
            type:String,
            required:true,
        },
        fileType:{
            type:String,
            required:true,
        },
        link:{
            type:String,
            required:true,
        },
        fileSize:{
            type:String,
            required:true,
        }
    }
}

</script>