<template>
  <!-- Card Light -->
  <div class="col-12 col-md-6 col-lg-5 mb-4 overflow-hidden">
    <div class="card z-depth-1 hoverable px-md-3 h-100">

      <!-- Card content -->
      <div class="card-body p-0 px-3">
        <!-- Title -->
        <h4 class="card-title text-center pt-2">{{offre.titre}}</h4>
        <hr />
        <div class="card-info mb-1 mb-md-2">
          <span class="sub-title mr-2 mr-md-4">Publié le {{ DateCreation }}</span>
          <span class="sub-title">date clôture: {{DateCloture}}</span>
        </div>
        <div class="mb-1 mb-md-2">
          <MyBagde background="badge-info" :label="offre.type_offre"/>
          <MyBagde background="badge-danger" :label="offre.niveau"/>
          <MyBagde :background="  'badge-success'" :label="offre.type_emplois"/>
        </div>
        <!-- Text -->
        <p class="card-text">
          {{shortDescription}}
        </p>


      </div>
      <!-- Card content -->
      <NuxtLink :to="`/emplois/${offre.slug}`" class="job-link" />
    </div>
  </div>
  <!-- Card Light -->
</template>
<script>
import moment from 'moment'
import emploisModel from '@/models/offreemploi.model'
import MyBagde from '~/components/MyBagde.vue'

export default{
  components: { MyBagde },
    props:{
      offre:{
        type:Object,
        default:()=>emploisModel
      }
    },
  computed:{

      DateCreation(){
        moment.locale('fr')
        return moment(this.offre.date_creation, 'YYYY-MM-DD').format('DD MMMM YYYY')
      },
    DateCloture(){
        moment.locale('fr')
        const now = moment()
      const d = moment(this.offre.date_cloture, 'YYYY-MM-DD')
      const  isValidte = now.isSameOrBefore(d)
      if(isValidte){
        return d.format('DD MMMM YYYY')
      }
      return 'Expiré'
      },
    tempsRestant(){
     moment.locale('fr')
      const now = moment()
      const d = moment(this.offre.date_cloture, 'YYYY-MM-DD')
     const  isValidte = now.isSameOrBefore(d)
      if(isValidte){
        return d.fromNow()
      }
      return 'Expiré'
    },
    shortDescription(){
        if(this.offre.description !== null){
          return this.offre.description.slice(0,100)
        }
        return ''
    }
  }
}</script>
<style lang='scss' scoped>
@import "assets/scss/screen";
.card{
  @media screen and (min-width:$lg-screen){
      min-height: 285px !important;
      max-height: 285px !important;
  }

}
.job-link{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    border-radius: 2em;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    /* opacity: .3; */
    transform: translate(0px, 0px);
}
.card{
    border-bottom: solid 6px;
}
.card-title{
    font-weight: 900;
}
.card-info{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}
.sub-title{
    color:gray;
    font-weight: 800;
    font-size: 14px;
}
.card
{
    border-radius: 2.1em !important;
}</style>
