<script>
// import { Fancybox } from "@fancyapps/ui";
// import '@fancyapps/ui/dist/fancybox/fancybox.css';

export default {
  name:'FancyBox',
  props: {
    options: Object,
  },
  mounted() {
    this.$Fancybox.bind(this.$refs.container, '[data-fancybox]', {
      ...(this.options || {}),
    });
  },
  updated() {
    
    this.$Fancybox.unbind(this.$refs.container);
    this.$Fancybox.close();

    this.$Fancybox.bind(this.$refs.container, '[data-fancybox]', {
      ...(this.options || {}),
    });
  },
  unmounted() {
    this.$Fancybox.destroy();
  },
};
</script>

<template>
  <div ref="container">
    <slot></slot>
  </div>
</template>

<style></style>
