<template>
    <div class="col-md-6 col-lg-4 mb-4 mt-4 wrapper ">
        <div class="card-overlays card-rounded"></div>
        <div class="card  card-rounded bounce bounceIn animated h-100">
            <img class="card-img-top card-rounded" :src="formation.cover" :alt="formation.titre">

            <div class="card-body">
                <nuxt-link :to="`/formations/${formation.slug}`" class="card-title h4 color-primary-2"><strong>{{formation.titre}}</strong></nuxt-link>
                <span class="badge badge-pill badge-success my-1">Gratuite</span>
                <div class="meta-info my-1">
                    <span>ajouté le {{formatDate}}</span>
                    <span class="ml-2">{{formation.duree}}</span>
                </div>
                <div class="card-bottom mt-auto">
                   <div class="teacher">
                        <img src="@/assets/img/people/2.jpg" class="img-fluide rounded-circle" alt="">
                        <span class="">Lieu: Yamoussoukro</span>
                    </div>
                    <outline-button :to="`/formations/${formation.slug}`" label="voir" classes="py-2" />
                </div>

            </div>
        </div>
    </div>
</template>
<script>
import moment from 'moment'

import formationModel from '@/models/formation.model'
moment.locale('fr')
export default {
  props:{
    formation:{
      type:Object,
      default:()=>formationModel
    },
  },
  computed:{
          formatDate(){
          const d = moment(this.formation.date_creation, 'YYYY-MM-DD')
            return d.format('DD MMMM YYYY')
       }
    },
}
</script>
<style  lang="scss" scoped>
a{
  :hover{
    text-decoration: none;
  }
}
.meta-info {
    font-size: 12px;
    font-weight: 600;
    color: gray;
    font-style: italic;
}

.card {
    overflow: hidden;
    display: block;
    transform: rotate(0deg);
    transition: transform .3s ease;
    border: solid 1px transparent;
    max-height: auto !important;
}

.card:hover {
    transform: rotate(0deg);
    border: solid 1px #00c851 !important;
}

.wrapper:hover .card-overlays {
    transform: rotate(-3deg);
}

.card-rounded {
    border-radius: 1.1em;
}

img {
    height: 235px;
    width: 100%;

    /* padding: 8px; */
}

@media (max-width: 245px) {}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teacher img {
    width: 32px;
    height: 32px;
}

.teacher span {
    color: gray;
    font-weight: 800;
}

.card-overlays {
    width: 90%;
    height: 100%;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
    position: absolute;
    top: 0;
    transition: transform .3s ease;
    transform: rotate(2deg);
}

</style>
