<template>
    <div class="mb-3 pics animation all 2 photo-card">
        <a data-fancybox="gallery" :data-download-src="photo.fichier" class="waves-effect"
           :href="photo.fichier">
           <div class="img-overlay"></div>
            <img class="img-fluid" :src="photo.fichier" :alt="photo?.titre" />

            <div class="img-content px-2">
                <span class="size">{{photo.taille}}</span>
                <a class="donwload-link waves-effect" @click.prevent="telechargerVideo(photo.fichier)">
                    <IconsMdiDownloadCircle  class="svg"/>
                </a>
           </div>
    </a>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {telechargerMedia} from '~/utils/mediaFile'

export default{
    props:{
        photo:{
            type:Object,
            required:true,
        },
    },
  computed:{
    ...mapGetters('auth', ['isAuthenticated', "isLoggedIn"])
  },
  methods:{
      telechargerVideo(url){
        telechargerMedia(url)
      }
  }
}

</script>

<style scoped>


a:hover span.size{
    color:white !important;
}

a:hover svg.svg{
    color:white;
    transform:scale(1.1);
}
.photo-card{
    overflow: hidden;
}

img{
    /* max-height: 200px; */
    border-radius: 1.1em;
    z-index: -1;
}
.img-overlay{
    border-radius: 1.1em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, var(--color-2));
    z-index: 1;

}

.img-content{
    display: flex;
    justify-content: space-between;;
    align-items: flex-end;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color:white;
    z-index: 2;
}

a.donwload-link:hover svg.svg, a.donwloa-link:visited svg.svg, a.donwload-link:active svg.svg{
color:var(--color-primary);
}

span.size{
    background: rgba(0, 0, 0, .3);
    border-radius:1em;
    padding: 0px 3px;
    font-size: 12px;
    color:gray !important;
    transition: all .5s ease;

}

svg.svg{
    color:gray;
    width:1.2em;
    height:1.2em;
    transition: all .5s ease;
}
</style>
