<template>
    <div class="mb-3 pics animation all 2 video-card z-depth-1 hoverable">
        <a data-fancybox="gallery" :href="video.fichier" class="waves-effect ">
            <div class="img-overlay"></div>
            <img class="img-fluid" :src="video.thumbnail" :alt="video.titre" />
            <span class="play">
                <!-- <IconsMdiPlayCircle/> -->
                <IconsMdiPlayCircleOutline height="1.5em" width="1.5em" />
            </span>

            <div class="img-content px-3">
                <span class="duration">{{video.duration}}</span>
                <a class="donwload-link" @click.prevent="telechargerVideo(video.fichier)">
                    <IconsMdiDownloadCircle  class="svg"/>
                </a>


            </div>
        </a>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

import {telechargerMedia} from '~/utils/mediaFile'

export default {
    props: {
        video: {
            type: Object,
            required: true,
        },
    },
  computed:{
      ...mapGetters('auth', ['isAuthenticated', "isLoggedIn"])
  },
    methods: {
        telechargerVideo(url) {
          telechargerMedia(url)
        },
    }

}
</script>


<style scoped>
a:hover .img-overlay {
    opacity: 1;
}

a:hover img {
    transform: scale(1);
}

a:hover img {
    transform: scale(1);
}

a:hover span.duration{
    color:white !important;
}

a:hover svg.svg{
    color:white;
    transform:scale(1.1);
}

.video-card {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: gay;
    /* max-height: 17rem; */
    /* height: 14rem; */
    width: 100%;
    border-radius: 1em;
    overflow: hidden;

}


img {
    transition: all .3s ease;
    height: 100% !important;
    /* max-width: 18rem; */
    transform:scale(1.1);
    border-radius: 1em;
}

.img-overlay {
    border-radius: 1em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, var(--color-2));
    opacity: .7;
    transition: all .3s ease;
    z-index: 1;
}

.img-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 2;

}

.play {
    position: absolute;
    justify-self: center;
    display: flex;
    top: 45%;
    left: 45%;
    z-index: 3;
    color: white;
}
a.donwload-link:hover svg.svg, a.donwloa-link:visited svg.svg, a.donwload-link:active svg.svg{
color:var(--color-primary);
}

span.duration{
    background: rgba(0, 0, 0, .3);
    border-radius:1em;
    padding: 0px 3px;
    font-size: 12px;
    color:gray !important;
}

svg.svg{
    color:gray;
    width:1.2em;
    height:1.2em;
    transition: all .5s ease;
}

</style>
