<template>
    <div class="card ">
        <div class="gradient-card-header purple-gradient h-100 d-flex  align-items-center justify-content-center p-3">
            <h3 class="h3 white-text m-0">PROMOTION</h3> 
            <h1 class="h1 white-text m-0 ">19</h1>
        </div>
    </div>
</template>

<style scoped>
.card {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 2.5em !important;
    overflow: hidden;
    max-height: 350px;
}

.gradient-card-header {
    flex-direction: column;

    @media (max-width: var(--sm-screen)) {
        flex-direction: row;
    }
}

@media (max-width: var(--sm-screen)) {
    .gradient-card-header {
        flex-direction: row !important;
    }
}
</style>