<script setup>

</script>

<template>
  <div class="expert-header-top py-4 mb-4 shadow bg-primary">

  </div>
</template>

<style scoped lang="scss">
@import "/assets/scss/screen";
.expert-header-top{
  height: 3.6em;
  border-radius: 0em 0em 1em 1em;

  @media (min-width: $sm-screen){
    height: 4em;
  }
  @media (min-width: $md-screen){
    height: 5em;
  }
  @media (min-width: $lg-screen){
    height: 5.2em;
  }
}

</style>
