<template>
    <div class="iCountUp">
      <ICountUp
        :delay="delay"
        :end-val="endVal"
        :options="options"
        @ready="onReady"
      />
    </div>
  </template>
   
  <script type="text/babel">
    export default {
      name: 'IcountUp',
      components: {
      },
      data() {
        return {
          delay: 1000,
          endVal: 120500,
          options: {
            useEasing: true,
            useGrouping: true,
            separator: ',',
            decimal: '.',
            prefix: '',
            suffix: ''
          }
        };
      },
      methods: {
        onReady: function(instance, CountUp) {
          const that = this;
          instance.update(that.endVal + 100);
        }
      }
    };
  </script>
   
  <style scoped>
    .iCountUp {
      font-size: 12em;
      margin: 0;
      color: #4d63bc;
    }
  </style>