<template>
<div class="loading">
    <div class="spinner">
      <div class="circle"></div>
      <div class="circle2"></div>
    </div>
    </div>
</template>

<script>
export default {
  name: 'LoadingFluide'
}
</script>

<style scoped>
.loading {
 width: 100%;
 height: 100%;
  background-color: transparent;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.loading .spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-primary);
  animation: spin 1s linear infinite;
}

.loading .spinner .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-primary);
  animation: spin 1s linear infinite;
}

.loading .spinner .circle2 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  animation: spin2 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

</style>
