<template>
  <div class="loading-container">
    <div class="loading-circle">
      <div v-for="(color, index) in colors"   :key="index" :style="{ backgroundColor: color, animationDelay: `${index * 0.1}s` }" class="circle"></div>
    <div class="spinner"></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      colors: ['#ff5a5f', '#ffaa00', '#00a699', '#581845']
    };
  }
};
</script>

<style lang='scss' scoped>
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.circle, .spinner {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 5px;
  animation: rotate-clockwise 2s linear infinite, change-colors 4s linear infinite;
}

@keyframes rotate-clockwise {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes change-colors {
  0%, 100% { background-color: #ff5a5f; }
  25% { background-color: #ffaa00; }
  50% { background-color: #00a699; }
  75% { background-color: #581845; }
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
