<template>
    <div class="col-11 col-lg-5 my-3"  data-aos="fade-up">
        <div class="row member-card d-flex align-content-center align-items-center z-depth-1 rounded p-0 bounce bounceIn animated">
          <figure class="col-4 col-lg-3  m-0 p-0 h-100">
            <img :src="membre.photo" class="img-fluid rounded h-100" alt="" srcset="/images/3.jpg">
        </figure>
        <div class="content col-8 p-0 pl-3">
            <ul class="list-unstyled pr-2">
                <li class="h5">{{membre.nomEtPrenoms}}</li>
                <li class="fonction">{{membre.fonction}}</li>
                <li>promotion {{membre.promotion}}</li>
            </ul>
        </div>
        </div>

    </div>
</template>

<script>
export default{
    name:'MemberCard',
    props:{
      membre:{
        type:Object,
        require:true
      }
    },
    data(){
        return{
            members:[
                {
                    nom:'Nom et Prenoms',
                    role:'role',
                    promotion:'promotion'
                }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.rounded, img.rounded{
    border-radius: 1.1em !important;
}
.member-card{
    max-height: 200px;
    overflow: hidden;
    background-color: white;

    img{
        height: 115px;
        object-fit: cover;
    }

}

.fonction{
    color:var(--color-primary)
}
</style>
