<template>
  <div class="mobile-header">
    <div @click="toggleMenu" class="menu-icon"> <!-- Remplacez "menu-icon" par votre classe d'icône -->
      <i class="fas fa-bars"></i>
    </div>

    <transition name="slide">
      <div v-if="isMenuOpen" class="mobile-menu">
        <div>
          content
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isMenuOpen: false,
    };
  },
  methods: {
    toggleMenu() {
      this.isMenuOpen = !this.isMenuOpen;
    },
  },
};
</script>

<style scoped>
.mobile-header {
  position: relative;
}

.menu-icon {
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Changez la couleur de fond selon vos besoins */
  z-index: 1000;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s;
}

.slide-enter-to,
.slide-leave-from {
  transform: translateY(-100%);
}
</style>
