<template>

    <span class="badge mx-1" :class="background">{{label || 'label'}}</span>

</template>
<script>
export default {
    props:['background', 'label']
}

</script>

<style scoped>

.badge{
    border-radius: 1.8em;
    padding: 4px 8px;
}
</style>