<template>
  <section :id='name' :class="name"  class='my-3 py-0 section-bg  position-relative'>
    <div class='bg-filter col-12 position-absolute top-0 left-0 w-100 h-100'></div>
      <div class="my-4" :class='{"container-fluid": full,"container": !full, }'>
          <div class="row justify-content-center overflow-hidden">
              <MySectionHeading v-if="title" :title="title" :sub-title="subTitle"  class="mb-2"/>
              <slot></slot>
          </div>
      </div>
  </section>
</template>
<script>
import MySectionHeading from '~/components/MySectionHeading.vue'

export default {
  components: { MySectionHeading },
  props: {
      name:{
          type:String,
          required:true
      },
      title:{
          type:String,
          required:false,
          default:''
      },
      subTitle:{
          type:String,
          required:false,
          default:''
      },
      full:{
          type:Boolean,
          default:true,
      }
  }
}
</script>

<style lang='scss' scoped>

.section-bg{
    background-position: center;
    object-fit: cover;
}

.filter{
  >.bg-filter{
  background-color: rgba(0,0,0,0.7);
  }
}
</style>
