<template>
    <section id='name' :class="name">
        <div class="container">
            <div class="row justify-content-center">
                <MySectionHeading v-if="title" :title="title" :sub-title="subTitle"  class="mb-4"/>
                <slot></slot>
            </div>
        </div>
    </section>
</template>
<script>
import MySectionHeading from '~/components/MySectionHeading.vue'

export default {
  components: { MySectionHeading },
    props: {
        name:{
            type:String,
            required:true
        },
        title:{
            type:String,
            required:false,
            default:''
        },
        subTitle:{
            type:String,
            required:false,
            default:''
        },

    }
}
</script>
