<template>
    <footer class="page-footer text-center text-md-left unique-color-dark pt-0  ">
      <div class="top-pink-footer z-depth-1 bg-primary">
        <div class="container">
          <!-- Grid row -->
          <div class="row py-4 d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-md-0">
              <h6 class="mb-4 mb-md-0 white-text">
                Amicale des Elèves Ingénieurs et Ingénieurs des Techniques Agricoles
              </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">
              <!-- Facebook -->
              <a class="p-2 m-2 fa-lg fb-ic ml-0">
                <i class="fab fa-facebook-f white-text mr-lg-4"> </i>
              </a>
              <!-- Twitter -->
              <a class="p-2 m-2 fa-lg tw-ic">
                <i class="fab fa-twitter white-text mr-lg-4"> </i>
              </a>
              <!-- Google + -->
              <a class="p-2 m-2 fa-lg gplus-ic">
                <i class="fab fa-google-plus-g white-text mr-lg-4"> </i>
              </a>
              <!-- Linkedin -->
              <a class="p-2 m-2 fa-lg li-ic">
                <i class="fab fa-linkedin-in white-text mr-lg-4"> </i>
              </a>
              <!-- Instagram -->
              <a class="p-2 m-2 fa-lg ins-ic">
                <i class="fab fa-instagram white-text mr-lg-4"> </i>
              </a>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </div>

      <!-- Footer Links -->
      <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">
          <!-- First column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mb-5">
            <h6 class="spacing font-weight-bold">
              <strong>AE2ITA</strong>
            </h6>
            <hr
              class="pink accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              AE2TIA PLUS QU'UNE AMICALE, NOUS SOMMES UNE FAMILLE.
            </p>
          </div>
          <!-- First column -->

          <!-- Second column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-5">
            <h6 class="spacing font-weight-bold">
              <strong>Formations</strong>
            </h6>
            <hr
              class="pink accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              <a href="#!">Formations 1</a>
            </p>
            <p>
              <a href="#!">Formations 2</a>
            </p>
          </div>
          <!-- Second column -->

          <!-- Third column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-5">
            <h6 class="spacing font-weight-bold">
              <strong>Liens Utiles </strong>
            </h6>
            <hr
              class="pink accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              <NuxtLink to='/authentifications/inscriptions/' no-prefetch >Inscription</NuxtLink>
            </p>
            <p>
              <NuxtLink to='/authentifications/connexion/' no-prefetch >Connexion</NuxtLink>
            </p>
            <p>
              <a href="#!">links 3</a>
            </p>
            <p>
              <a href="#!">links 4</a>
            </p>
          </div>
          <!-- Third column -->

          <!-- Fourth column -->
          <div class="col-md-4 col-lg-3 col-xl-3">
            <h6 class="spacing font-weight-bold">
              <strong>Contact</strong>
            </h6>
            <hr
              class="pink accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p><i class="fas fa-home mr-3"></i>Yamoussoukro</p>
            <p><i class="fas fa-envelope mr-3"></i>admin@ae2ita.com</p>
            <p><i class="fas fa-phone mr-3"></i>pdt: +225 0707028134</p>
            <p><i class="fas fa-print mr-3"></i> webmaster:+225 0759188395</p>
          </div>
          <!-- Fourth column -->
        </div>
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
          © 2023 Copyright:
          <a
            href=""
            target="_blank"
          >
            AE2ITA
          </a>
        </div>
      </div>
      <div class="footer-style">

      </div>
      <!-- Copyright -->
    </footer>
</template>

<script>
export default {
  name:'MyFooter'
}
</script>

<style scoped>
footer,.top-pink-footer{
  border-radius: 1em 1em 0em 0em;
}
.top-pink-footer{
  /* background: ; */

}
.footer-style{
  background: url("@/assets/svg/container.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  background-size: 123%;
  margin: auto;
}
.pink{
  background: #28a745 !important;
}

</style>
