<template>
     <div class="col-10 line">
            <h3 class="h3 text-center">{{ title }}</h3>
            <div class="row card-container rounded justify-content-around">
                <slot></slot>
                
            </div>
        </div>
</template>

<script>
export default{
    props:{
        title:{
            type:String,
            required:true
        }
    }
}
</script>

<style lang="scss" scoped>
 .line{
    // border-left: solid 4px var(--color-primary) !important;
    &::before{
        content:'';
        position: absolute;
        width: 6px;
        height: 100%;
        left: 0;
        top: 0;
        background-color: var(--color-primary);
    }
 }
</style>