<template>
    <div class="col-12">
        <div class="heading py-4 mx-auto">
            <h2 class="h2 text-center underline text-uppercase"> {{ title }}</h2>
            <h5 v-if="subTitle !== ''" class="gray-text text-center h5 ">{{ subTitle }}</h5>
        </div>
    </div>
</template>

<script>
export default{
    props:{
        title:{
            type:String,
            required:true,
        },
        subTitle:{
            type:String,
            required:false,
            default:''
        }
    }
}
</script>

<style lang="scss">
@import "assets/scss/screen";

.h5{
    font-weight: 600;
    font-size: 14px !important;
    @media (max-width: $md-screen) {
      font-size: 12px !important;
    }
}
.h2{
    font-size: 32px !important;
    font-weight: bold;
    color: var(--color-primary);
    @media (max-width: $md-screen) {
      font-size: 24px !important;
    }
}
.underline::after{
    content: '';
    display: flex;
    justify-items: flex-start;
    position: relative;
    left: 0;
    margin: auto;
    width: 96px;
    height: 4px;
    background: var(--color-2);
}
</style>
