<template>
    <div class="col-8 p-0 pt-3  mx-auto">
        <ul class="nav md-pills nav-justified pills-deep-orange  mb-4 bounce bounceIn animated z-depth-1"
            style="border-radius:2.5em">
            <li class="nav-item">
                <NuxtLink class="nav-link p-1 p-sm-2 m-0" :class="{active:$route.name==='authentifications-connexion'}" :to="{name:'authentifications-connexion'}" prefetch>connexion</NuxtLink>
            </li>
            <li class="nav-item">
                <NuxtLink class="nav-link p-1 p-sm-2 m-0" active-class="active" :class="{active:$route.name==='authentifications-inscriptions'}" :to="{name:'authentifications-inscriptions'}" prefetch>Incription</NuxtLink>
            </li>
        </ul>
    </div>

</template>
<script>
export default {
    props: {
        routes: {
            type: Array,
            require: true,
            default: () => {
                return [{
                    to: '',
                    label: ''
                }]
            }
        }
    }
}
</script>


<style lang="scss" scoped>
@import 'assets/scss/screen';

.card-container {
    align-items: center;
    align-self: center;
    justify-content: center;
}

a.nav-link {
    font-weight: bold;
    color: #25314c !important;
    // border-right: solid 1px #ff7043;
}

.pills-deep-orange .nav-link.active,
.pills-deep-orange .show>.nav-link,
.tabs-deep-orange {
    background-color: var(--color-primary) !important;
    font-size: medium;
    color: white !important;
    font-weight: 800;
    border-radius: 2.5em;
    transition: all .2s ease-in-out;
}
</style>
