<template>
     <nav
      class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar top-nav-bottom white"
    >
      <div class="container">
        <NuxtLink to="/" class="navbar-brand font-weight-bold title">
          AE2ITA
          </NuxtLink>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="list-unstyled navbar-nav mx-auto">
            <li class="nav-item ml-4 mb-0">
              <NuxtLink
                class="nav-link title"
                id="navbarDropdownMenuLink"
                aria-expanded="false"
                to="/"
              >
                accueil
              </NuxtLink>
            </li>
            <li class="nav-item dropdown ml-4">
              <a
                class="nav-link dropdown-toggle title"
                id="navbarDropdownMenuLink12"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Présentations</a
              >
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <NuxtLink class="dropdown-item" to="/presentations/president"
                  >Mot du Président</NuxtLink
                >

                <NuxtLink class="dropdown-item" to="/presentations/bureau"
                  >Composition du bureau</NuxtLink
                >
                <NuxtLink class="dropdown-item" to="/presentations/repertoires"
                  >Repertoire des ITA</NuxtLink
                >
                <NuxtLink class="dropdown-item" to="/presentations/status"
                  >status et reglements</NuxtLink
                >
              </div>
            </li>
            <li class="nav-item ml-4">
              <NuxtLink class="nav-link title" to="/formations" data-offset="90"
                >formations</NuxtLink
              >
            </li>
            <li class="nav-item dropdown ml-4">
              <a
                class="nav-link dropdown-toggle title"
                id="navbarDropdownMenuLink2"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >emplois</a
              >
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink2"
              >
                <NuxtLink class="dropdown-item" to="/stages">stages</NuxtLink>
                <NuxtLink class="dropdown-item" to="/emplois">emplois</NuxtLink>
                <NuxtLink class="dropdown-item" to="/job">offrir un job</NuxtLink>
              </div>
            </li>
            <li class="nav-item dropdown ml-4">
              <a
                class="nav-link dropdown-toggle title"
                id="navbarDropdownMenuLink3"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >bibliotheques</a
              >
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink3"
              >
                <NuxtLink class="dropdown-item" to="/bibliotheques/medias">Photo / video</NuxtLink>
                <NuxtLink class="dropdown-item" to="/bibliotheques/docs">Documments</NuxtLink>
              </div>
            </li>
            <li class="nav-item dropdown ml-4">
              <a class="nav-link dropdown-toggle title"
                id="navbarDropdownMenuLink4"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >actualités</a
              >
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                <NuxtLink class="dropdown-item" to="/actualites/">articles</NuxtLink>
                <NuxtLink class="dropdown-item" to="/actualites/bureaux/">bureau</NuxtLink>
                <NuxtLink class="dropdown-item" to="/actualites/anniversaires/">anniversaires</NuxtLink>
              </div>
            </li>
          </ul>

          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item ml-2">
              <!-- <NuxtLink
                class="btn aqua-gradient btn-rounded btn-sm font-weight-bold"
                to="/connexion"
                data-offset="90"
                >Connexion</NuxtLink> -->
                <FlatButton label="inscriptions" to="/authentifications/inscriptions" class="py-2 px-2" style="font-size: 12px !important;" :is-link=true />
            </li>
            <li class="nav-item ml-2">
              <!-- <NuxtLink
                class="btn btn-outline-teal btn-rounded btn-sm font-weight-bold"
                to="/inscriptions"
                data-offset="90"
                >Inscription</NuxtLink
              > -->
              <OutlineButton :is-link=true to="/authentifications/connexion" label="Connexion"  class="py-2 px-2" style="font-size: 12px !important;"/>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</template>
