<template>
    <div class="col-12">
      <div class="row">
        <div class="col">
            list
        </div>
        <div class="col-4">
            <div>
                <h2>Nos Spécialités</h2>
            </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            nosFilieres:[
                {
                    title:'Agriculture Générale',
                    sigle:'A.G',
                    icon:'',
                    image:''
                },
                {
                    title:'Agro-Industrie',
                    sigle:'A.I',
                    icon:'',
                    image:''
                },
                {
                    title:'Genie Rural',
                    sigle:'G.R',
                    icon:'',
                    image:''
                },
                {
                    title:'Entrepreneuriat Générale Agricole',
                    sigle:'E.G.A',
                    icon:'',
                    image:''
                },
                 {
                    title:'ZooTechnologie',
                    sigle:'Z.T',
                    icon:'',
                    image:''
                },
                {
                    title:'Foresterie',
                    sigle:'I.T.F',
                    icon:'',
                    image:''
                },

            ]
        }
    }
}
</script>


<style lang="scss" scoped>



</style>
