<template>
    <div class="historique">
      <h2 class="historique-title">Notre Historique</h2>
      <div class="historique-timeline">
        <div v-for="event in events" :key="event.year" class="historique-event">
          <div class="historique-year">{{ event.year }}</div>
          <div class="historique-description">{{ event.description }}</div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        events: [
          { year: 1990, description: "Lancement de notre association agricole" },
          { year: 1995, description: "Expansion de nos activités dans le domaine agro-alimentaire" },
          { year: 2002, description: "Création du département de génie rural" },
          { year: 2008, description: "Introduction de la spécialité de production animale" },
          { year: 2015, description: "Diversification de nos activités dans l'entrepreneuriat agricole" },
          { year: 2020, description: "Poursuite de notre engagement en faveur de l'environnement et des forêts" }
        ]
      };
    }
  };
  </script>
  
  <style scoped>
  .historique {
    text-align: center;
    margin: 50px 0;
  }
  
  .historique-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .historique-timeline {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .historique-event {
    width: 200px;
    padding: 20px;
    margin: 0 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  .historique-year {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .historique-description {
    font-size: 16px;
    line-height: 1.4;
  }
  </style>
  