<template>
  <div class="missions col-12 overflow-hidden">
    <div class="mission-item row justify-content-center align-items-center">

      <div class="col col-lg-4">
        <div v-for="(mission, index) in getMissions.slice(0, 2)" :key="index" class="mission-text mb-md-3 p-2" data-aos="fade-left" :data-aos-duration="200*(index*1)">
          <i class="fas" :class="mission.icon"></i>
          <h3 class="p-3">{{ mission.title }}</h3>
          <p>{{ mission.description }}</p>
        </div>
      </div>

      <div class="col-10 col-md-3 col-lg-3 h-100" data-aos="fade-in">
        <div class="mission-image">
          <img src="@/assets/img/watering.jpg" alt="Missions" class="" />
        </div>
      </div>

      <div class="col col-lg-4" >
        <div v-for="(mission, index) in getMissions.slice(2, 4)" :key="index" class="mission-text mb-md-3 p-2" >
          <i class="fas" :class="mission.icon"></i>
          <h3 class="p-3">{{ mission.title }}</h3>
          <p>{{ mission.description }}</p>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name:'NosMissions',
  data() {
    return {
      missions: [
      ],
      icons: [
        'fas fa-comments',
        'fas fa-lightbuld',
        'fas fa-briefcase',
        'fas fa-globe',
        'fas fa-heart',
      ]
    }
  },
  computed: {
    ...mapGetters('missions', ['getMissions']),
    nosMissions() {
      return this.getMissions;
    },
  },
}

</script>



<style lang="scss" scoped>
.missions {
  text-align: center;
  margin-bottom: 40px;
}

.missions h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.mission-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.mission-image {
  flex: 0 0 300px;
  object-fit: contain;
}

.mission-image img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.mission-text {
  flex: 1;
}

.mission-text h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.mission-text p {
  font-size: 14px;
  color: #666;
}

i {
  background: var(--color-primary);
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: .75em;
  border-radius: 5px;
}
</style>
