<template>
  <div class="row" data-aos="fade-up">
    <div class="col-12 my-4">
      <div class="invitation d-flex justify-content-center">
        <img src="/images/ai.jpg" class="img-fluid" alt="rejoindre ita" />
        <div class="filter"></div>
        <div class="content-overlays flex-column">
          <h2 class="text-uppercase px-1 text-md-justify text-center text-md-left" v-html="slogan"></h2>
          <p class="px-2 text-center text-md-left">{{ description }}</p>
          <OutlineButton label="Nous Rejoindre" to="/authentifications/inscriptions"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OutlineButton from '~/components/OutlineButton.vue'

export default{
  components: { OutlineButton },
  data(){
    return {
      title:'AE2ITA',
      slogan:`<strong>AE2ITA</strong> Plus qu'une amicale, nous formons une
                        <strong>famille</strong>`,
      description:`Rejoins notre famille et découvre un réseau d'entraide, d'inspiration et d'opportunités sans limite !`
    }
  }
}
</script>



<style lang="scss" scoped>
@import '@/assets/scss/screen.scss';
img {
  border-radius: 1.1em;
  height: 25.5rem;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  @media (min-width: $md-screen) {
    height: 25.5rem;
  }
}
h1,h2{
  font-size: 33px;
  font-weight: bold;
  @media (min-width: $md-screen) {
    font-size: 44px;
  }
}
p{
  font-size:20px;
}
h1,h2,p,span{
  color:white;
}
.invitation {
  position: relative;
  .filter{
    position: absolute;
    top:0;
    z-index: 1;
    width: 100%;
    background: rgba(.0, .0, .0, .5);
    //  background: linear-gradient(to top,  #0ba360 0%, rgba(0, 0, 0, 0.5) 60%,rgba(0, 0, 0, 0.5) 100%);
    height: 100%;
    border-radius: 1.1em;
  }
  .content-overlays {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 1.1em;

    @media (min-width: $lg-screen) {
      width: 60%;
    }
  }
}
</style>
