<template>
  <div class="row card-container align-items-center my-4 py-4">
    <div class="col-md-6 col-12 order-0"  data-aos="fade-left">
      <picture>
        <div class="img-card">
          <img :src="image" class="img-fluid" :alt="title">
        </div>
      </picture>
    </div>
    <div class="col-md-4 col-12 order-1 mx-auto" data-aos="fade-right">
      <div class="card-content mx-2">
        <p class="my-4">Découvrez le </p>
        <h2 class="h2 my-4">{{ title }}</h2>
        <p class="my-4">{{ description }} </p>
        <OutlineButton :is-link=true :to=lien label="découvrir" class="px-5" />
      </div>
    </div>
  </div>
</template>

<script>
export default{
  props:{
    title:{
      type:String,
      required:true
    },
    description:{
      type:String,
      required:true
    },
    lien:{
      type:String,
      required:true
    },
    image:{
      type:String,
      required:true
    },
    index:{
      type:Number,
      required:true
    }

  }
}
</script>




<style lang="scss" scoped>
@import '/assets/scss/screen.scss';

.card-container {
  justify-content: space-between !important;
}

.h2 {
  font-size: 44px;
  line-height: 56px;
  font-weight: bold;
  @media (max-width: $md-screen) {
    font-size: 33px;
  }
}

p {
  font-size: 20px;
  @media (max-width: $md-screen) {
    font-size: 16px;
  }
}

img {
  width: 100%;
  height: 343px;
  object-fit: cover;
  border-radius: 1.1em;

  @media (min-width: $md-screen) {
    height: 443px;
  }

  @media (min-width: $lg-screen) {
    height: 543px;
  }
}
</style>
