<template>
  <div class="col-12 col-lg-10 pb-5">
    <NosReseauxChild v-for="(item, index)  in nosReseaux"
    :key="index"
    :title='item.title'
    :description="item.description"
    :lien="item.lien"
    :image="item.image"
    :index="index"
    />
   <NosReseauxInvite />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import NosReseauxChild from '~/components/NosReseauxChild.vue'
import NosReseauxInvite from '~/components/NosReseauxInvite.vue'
export default {
  components: { NosReseauxInvite, NosReseauxChild },
  data(){
    return {

    }
  },
  computed: {
    ...mapGetters('reseaux', ['getNosReseaux']),
    nosReseaux() {
      return this.getNosReseaux;
    },
  },
}
</script>



<style lang="scss">
.reseaux{
  border-radius: 1.1em;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, #0ba360 100%);
}

</style>
