<template>
  <div class="specialties">
    <div class="specialties-grid">
      <div  v-for="(sp, index) in nosSpecialites" :key="index" class="specialty p-0"
            :class='colors[index]' :data-aos='animations[index]' :data-aos-delay='10*(index+1)'>
        <div class='img-wrapper p-2 waves-effect waves-light'>
          <img class="specialty-image" :src="sp.image" :alt="sp.title" />
        </div>
        <div class='pc specialty-content p-2'>
          <h3 class="h3 pt-1">{{ sp.title }}</h3>
          <p class='text-justify'>{{ sp.description }}</p>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';

export default{
  data(){
    return{
      colors:[
        'aqua-gradient-rgba',
        'purple-gradient-rgba',
        'deep-blue-gradient',
        'peach-gradient',
        'pink-gradient',
        'lady-lips-gradient',
      ],
      animations: [
        'fade-left',
        'fade-down',
        'fade-right',
        'fade-right',
        'fade-up',
        'fade-left',
      ]
    }
  },
  computed: {
    ...mapGetters('specialites', ['getNosSpecialites']),
    nosSpecialites() {
      return this.getNosSpecialites;
    },
  },
  methods:{

  },
}
</script>

<style lang='scss' scoped>
@import "assets/scss/screen";
$radius: 8px;
.specialties {
  text-align: center;
  padding: 20px;
}
.img-wrapper{
  border-radius: 8px;
}
.specialties-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
  gap: 20px;
  @media (min-width: $md-screen) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  }
}

.specialty {
  position: relative;
  background-color: transparent;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  &:hover, &:focus, &:active {
   .specialty-content{
     background-color: transparent !important;
    color: white !important;
   }
  }
}

.specialty-image {
  width: 100%;
  height: 250px;
  // margin-bottom: 10px;
  object-fit: cover;
  border-radius: 8px;
}

.specialty-content{
  // color:white;
  background-color: white;
  margin: 5px;
  border-radius:$radius;
  transition: all .2s ease-in;
  animation-fill-mode: both;
}
.specialty h3 {
  font-size: 24px;
  // color:white;
  font-weight: bold;
  margin-bottom: 10px;
}

.specialty p {
  font-size: 16px;
  line-height: 1.5;
}
.overlays{
  position: absolute;
  width: 100%;
  height: 100%;
  background:linear-gradient(to bottom, transparent, rgba(0,0,0,0.7));
  top:0;
  left: 0;
}
</style>
