<template>
    <div class="col-12 ">
        <div class="row justify-content-center align-items-center">
            <div class="col-9 col-md-4">
                <div class="stat-img border bounce bounceInLeft animated">
                    <img src="@/assets/img/farmer.jpg" class="img-fluid shadow" alt="nos stat img">
                </div>
            </div>
            <div class="col-10 col-md-8 col-lg-6">
                    <div class="row justify-content-center p-0">
                        <div v-for="(stat, index) in nosStatistiques" :key="index" class="col-5 col-md-4 mx-2 my-3  w-100" data-aos="fade-up" :data-aos-duration="200*(index*1)">
                            <div class="stat-item d-flex flex-column justify-content-center mr-4 w-100">
                                <h2 class="white-text mb-1 w-100 font-weight-bold text-center p-3 mx-4" :class="`counter-${index+1}`">{{ stat.value }}</h2>
                                <p class="text-uppercase text-center mr-4">{{ stat.title }}</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'NosStatistiques',
    data(){
        return {
            nosStatistiques:[
                {
                    title:"élèves ingénieurs",
                    value:'300'
                },
                {
                    title:'ingénieurs',
                    value:'800'
                },
                {
                    title:"taux insertion(%)",
                    value:'80'
                },
                {
                    title:"Spécialités",
                    value:'6'
                }
            ]
        }
    },
    created(){
        // this.$Counter(".number")
        // console.log(this.Counter)
        // this.$Counter(".counter1");
    },

    methods:{

    }
}
</script>

<style lang="scss">

.stat-img {
    border-radius: .5em;
    // background-color: ;
    img {
        border-radius: .5em;
        transform: translate(10px, -20px);
        object-fit: cover;
        vertical-align: middle;
        transition: all .3s ease;
        @media (min-width: 768px) {
            transform: translate(-15px, -15px);
        }

    }
}

.stat-item{
    h2{
        font-size: 18px;
        font-weight: bold;
        background-color: var(--color-primary);
        border-radius: 0.5em;

    }
    p{
        font-size: 14px;
        font-weight: 500;
    }
}
</style>
