<template>
  <div class="values col-12  mx-0 d-flex justify-content-center">
    <div class="values-list row py-0 justify-content-center align-content-md-center align-items-center">
      <div v-for="(valeur, index) in valeurs" :key="index" class="col-lg-3 col-md-5 col-10 p-2 my-2 mx-auto" data-aos="fade-up" :data-aos-duration="200*(index+2)">
        <div class="value mb-2 waves waves-effect waves-light" :class="colors[index] ">
          <div class="value-icon">
            <i :class="icons[index]"></i>
          </div>
          <h3>{{ valeur.title }}</h3>
          <p>{{ valeur.description }}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      valeurs: [
        {
          title: "Collaboration",
          description: "Encouragez la collaboration entre les membres de l'Amicale en mettant en place des projets collectifs, des groupes de travail ou des initiatives interdisciplinaires pour stimuler l'échange d'idées et l'entraide."
          , icon: ''
        },
        {
          title: "Intégrité",
          description: " Promouvez l'intégrité et l'éthique professionnelle parmi les membres de l'Amicale en organisant des formations, des conférences ou des discussions sur les valeurs morales et les principes éthiques liés au domaine des techniques agricoles.",
          icon: '',
        },
        {
          title: "Engagement",
          description: " Incitez les membres à s'investir activement dans les activités de l'Amicale, en mettant en avant l'importance de l'engagement personnel et de la responsabilité individuelle pour la réussite collective.",
          icon: ''
        },
        {
          title: "Innovation",
          description: "Encouragez l'esprit d'innovation et de créativité en organisant des concours, des sessions de brainstorming ou des projets axés sur le développement de nouvelles approches, technologies ou pratiques dans le domaine agricole.",
          icon: ''
        }
      ],
      colors: [
        'pink-gradient',
        "peach-gradient-rgba",
        "aqua-gradient-rgba",
        "blue-gradient-rgba",
        'night-fade-gradient',

      ],
      icons: [
        'fas fa-hands-helping',
        'fas fa-users',
        'fas fa-leaf',
        'fas fa-medal',
        'fas fa-hands',
        'fas fa-globe',
        'fas fa-heart',
      ]
    }
  }
}


</script>



<style lang="scss">
.values {
  text-align: center;
  margin-bottom: 40px;

  h2,
  h3,
  p,
  .value-icon {
    color: white !important;
  }

  h2,
  h3 {
    font-weight: bold;
  }

}


.values h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.values-list {
  display: flex;
  justify-content: center;
}

.value {
  max-width: 300px;
  padding: 20px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 1.1em;
  z-index: 1;
  cursor: pointer;
  transition: all .3s ease;

  &:hover,
  &:active,
  &:focus {
    color: var(--color-2);
    transform: scale(1.1);
    border: 1px solid white !important;

    &::before {
      // content:'';
      // position: absolute;
      // top:0;
      // left:0;
      // width:100%;
      // height: 100%;
      // display: block;
      // background: white;
      // border-radius: 5px;
      // z-index: 0;
    }
  }
}

.value-icon {
  font-size: 35px;
  margin-bottom: 10px;
}

.value h3 {
  color: white !important;
  font-size: 18px;
  margin-bottom: 10px;
}

.value p {
  color: white !important;
  font-size: 16px;
  color: black;
  max-lines: 4;
}

.color-1 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);

}</style>
