<template>

  <NuxtLink v-if="isLink === true && !donwload" :to="to" class="outline-btn btn btn-rounded btn-hover waves-effect waves-light" :class="classes">{{label || "button"}}</NuxtLink>
  <a v-else-if='isLink && donwload' target='_parent' :href='to' class="outline-btn btn btn-hover btn-rounded waves-effect waves-light" :class="classes" >{{label || "button"}}</a>
  <button v-else  type="button" class="outline-btn btn btn-hover btn-rounded waves-effect waves-light mt-3">{{ label }}</button>

</template>


<script>
export default{
    // props:['label', 'to','isLink','classes']
    props:{
        label:{
            type:String,
            required:false,
            default:'label bouton'
        },
        classes:{
            type:String,
            required:false,
            default:''
        },
        to:{
            type:String,
            required:false,
            default:'/',
        },
        isLink:{
            type:Boolean,
            required:false,
            default:true
        },
      donwload:{
          type:Boolean,
        default:false
      }
    }
}
</script>
<style lang="scss" scoped >
.outline-btn.btn, a.outline-btn {
    color: #0ba360 !important;
    background-color: white !important;
    /* border: 2px solid #0ba360 !important; */
    font-weight: 900;
    font-size: 18px;
    outline: solid 1px;
    background-size: 200% 100%;
    transition: all .3s ease;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
    &:hover{
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    color: white !important;
    // font-size: 19;
    /* padding: 0.85rem 2.15rem; */
    transform: scale(1.05);
}
@media (max-width: 768px) {
    font-weight: 800;
    font-size: 16px;
}
}
</style>

