<template>
  <!-- Pagination -->
  <nav class="my-4 flex-center">
    <ul class="list-unstyled pagination pagination-circle pg-blue mb-0">
      <!-- First -->
      <li class="page-item disable clearfix d-none d-md-block mr-md-3">
        <a class="page-link direction">précédent</a>
      </li>

      <!-- Numbers -->
      <li class="page-item active">
        <a class="page-link">page 1</a>
      </li>
      <li class="page-item">
        <a class="page-link">2</a>
      </li>
      <li class="page-item">
        <a class="page-link">3</a>
      </li>
      <li class="page-item">
        <a class="page-link">4</a>
      </li>
      <li class="page-item">
        <a class="page-link">5</a>
      </li>

      <!-- First -->
      <li class="page-item clearfix d-none d-md-block ml-md-3 ">
        <a aria-label="Next" class="page-link white-text direction ">suivant</a>
      </li>
    </ul>
  </nav>
  <!-- Pagination -->
</template>
<script>
export default {
  data() {
    return {
      isHovered: false,
      buttonText: "Hover Me"
    };
  }
};
</script>
<style lang="css" scoped>
.page-item.active .page-link{
  border-radius: 1rem !important;
  font-weight: bold;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673) !important;
  background-position: 100% 0%;
}
 a.direction{
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673) !important;
  background-size: 300% 100%;
  color: white !important;
}
a.direction:hover{
  background-position: 100% 0%;
}
.page-item .page-link{
  border-radius: 1rem !important;
  font-weight: bold;
  background-color: #cfe0dece ;
}
  .page-item.active .page-link:hover {
    background-color: rgba(3, 221, 75, 0.842) !important;
    
}

/* animation */

.animated-button {
  background-color: #3f51b5;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5rem;
}

.animated-button:hover {
  background-color: #ff4081;
  animation: bounce .8s ease-in-out;
  border-radius: 5rem;
}

@keyframes bounce {
  0%, 100% {
    /* transform: scale(1); */
    padding: 11px 22px;
  }
  50% {
    padding: 12px 24px;
  }
}
</style>