<template>
    <div class="item p-2">
        <div class="item-group">
            <span class="border-right pr-2 h5 mr-1 index">{{ index }}</span>
            <h5 class="h5 w-100 mx-1">{{ title }}</h5>
            <span class="h5 px-1 mx-1 my-auto time">{{ duration }}</span>
            <svg id="play_svg" class="float-right my-auto" data-name="play svg" xmlns="http://www.w3.org/2000/svg" width="26"
                height="26" viewBox="0 0 26 26">
                <g id="Tracé_222" data-name="Tracé 222" fill="#fff">
                    <path d="M13,0A13,13,0,1,1,0,13,13,13,0,0,1,13,0Z" stroke="none" />
                    <path
                        d="M 13 2 C 10.06179046630859 2 7.299449920654297 3.144199371337891 5.221830368041992 5.221830368041992 C 3.144199371337891 7.299449920654297 2 10.06179046630859 2 13 C 2 15.93820953369141 3.144199371337891 18.7005500793457 5.221830368041992 20.77816963195801 C 7.299449920654297 22.85580062866211 10.06179046630859 24 13 24 C 15.93820953369141 24 18.7005500793457 22.85580062866211 20.77816963195801 20.77816963195801 C 22.85580062866211 18.7005500793457 24 15.93820953369141 24 13 C 24 10.06179046630859 22.85580062866211 7.299449920654297 20.77816963195801 5.221830368041992 C 18.7005500793457 3.144199371337891 15.93820953369141 2 13 2 M 13 0 C 20.1796989440918 0 26 5.82029914855957 26 13 C 26 20.1796989440918 20.1796989440918 26 13 26 C 5.82029914855957 26 0 20.1796989440918 0 13 C 0 5.82029914855957 5.82029914855957 0 13 0 Z"
                        stroke="none" fill="rgba(0,200,83,0.6)" />
                </g>
                <path id="Tracé_223" data-name="Tracé 223" d="M6,0l6,11H0Z"
                    transform="matrix(1, 0.017, -0.017, 1, 7.097, 6)" fill="rgba(0,200,83,0.6)" />
            </svg>

        </div>

    </div>
</template>

<script>
export default {
    props:{
        title:{
            type:String,
            required:true,
        },
        duration:{
            type:String,
            required:true,
        },
        index:{
            type:String,
            required:true
        }
    }
}
</script>

<style scoped>
.index{
    font-weight: 900 !important;
    font-size: x-large !important;
 
}
.item {
    display: block;
    transition: transform .2s ease;
    background: white;
}

.item:hover {
    background-color: rgba(0, 200, 83, 0.6);
    color:white !important;
    cursor: pointer;   
}
.item:hover span{
    color:white !important;
}
.item:hover svg{
    transform: rotate(90deg);
}
.item-group {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.time{
    font-size: 14px !important;
    font-weight: 900 !important;
    color: #CBC7C7 !important;
}
</style>