<template>
    <div class="my-4 col-12 ">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12 promo-card">
                <GradienCard />
            </div>
            <div class="col row member-container justify-content-center">
                <BlogAnniversaireCardSmall col=" col-lg-3 col-md-4 col-5" />
                <BlogAnniversaireCardSmall col=" col-lg-3 col-md-4 col-5" />
                <BlogAnniversaireCardSmall col=" col-lg-3 col-md-4 col-5" />
                <BlogAnniversaireCardSmall col=" col-lg-3 col-md-4 col-5" />
                <BlogAnniversaireCardSmall col=" col-lg-3 col-md-4 col-5" />
                <BlogAnniversaireCardSmall col=" col-lg-3 col-md-4 col-5" />
                <BlogAnniversaireCardSmall col=" col-lg-3 col-md-4 col-5" />
                <BlogAnniversaireCardSmall col=" col-lg-3 col-md-4 col-5" />
            </div>
            <div class="col-12">
                <OutlineButton label="charger plus" :is-link=false to="/member/public" class="w-90 ml-md-auto link" />
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
a.link,
button.link,
button,
link {
    display: block;
    min-width: 70%;
    max-width: 80%;
    position: relative;
    top: -29px;
}

.promo-card{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: -17px;
}
</style>