<template>
  <nav :class="{ 'navbar-fixed': isFixed, 'navbar-scrolled': isScrolled }">
    <!-- Contenu de votre navbar -->
  </nav>
</template>

<script>
export default {
  data() {
    return {
      isFixed: false,
      isScrolled: false
    };
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll() {
      // Vérifier si le défilement atteint une certaine position
      if (window.pageYOffset > 0) {
        this.isFixed = true;
        this.isScrolled = true;
      } else {
        this.isFixed = false;
        this.isScrolled = false;
      }
    }
  }
};
</script>

<style>
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  /* Ajoutez les styles de votre choix pour le positionnement fixe */
}

.navbar-scrolled {
  background-color: #f0f0f0; /* Changer le fond du navbar lors du défilement */
  /* Ajoutez les styles de votre choix pour le fond du navbar lors du défilement */
}
</style>
