<template>
    <div class="row form-container" style="max-height: 3rem;">

        <div class="search-container col-10 mt-2">
            <input v-model="searchQuery" type="text" class="search-input" placeholder="Recherchez...">
            <button class="search-button">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</template>
  

<script>
export default {
    data: function () {
        return {
            searchQuery: '',
            selectedYear: "2023"
        }
    },
    methods: {
        selectYear(year) {
            this.selectedYear = year;
            // Ajoutez ici le code pour effectuer l'action souhaitée lorsque l'année est sélectionnée
        }
    }
}
</script>
<style lang="scss" scoped>
.form-container{
    justify-content: center;
    align-items: center;
}
.search-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 5px;
    max-height: 3.1rem;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    background-color: transparent;
}

.search-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

/* buton */

a.button {
    /* Frame */
    display: inline-block; 
    padding: 10px 28px;
    border-radius: 50px;
    box-sizing: border-box;
    max-height: 3rem;
    /* Style */
    border: none;
    background: #f2f2f2;
    color: var(--color-primary);
    font-size: 24px;
    cursor: pointer;
}

a.button:active {
    filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {
    position: relative;
    padding: 0;
    margin-right: 1em;
    border: none;
}

.dropdown summary {
    list-style: none;
    list-style-type: none;
}

.dropdown>summary::-webkit-details-marker {
    display: none;
}

.dropdown summary:focus {
    outline: none;
}

.dropdown summary:focus a.button {
    border: 2px solid white;
}

.dropdown summary:focus {
    outline: none;
}

.dropdown ul {
    position: absolute;
    margin: 20px 0 0 0;
    padding: 20px 0;
    max-width: 160px;
    /* left: 50%; */
    margin-left: calc((var(160px) / 2) * -1);
    box-sizing: border-box;
    z-index: 2;
border:solid 1px var(--color-primary);
    background: #f2f2f2;
    border-radius: 6px;
    list-style: none;
}

.dropdown ul li {
    padding: 0;
    margin: 0;
}

.dropdown ul li a:link,
.dropdown ul li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;

    color: var(--dropdown-color);
    text-decoration: none;
}

.dropdown ul li a:hover {
    background-color: var(--color-primary);
    color: white;
}

/* Dropdown triangle */
.dropdown ul::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #f2f2f2 transparent;
}


/* Close the dropdown with outside clicks */
.dropdown>summary::before {
    display: none;
}

.dropdown[open]>summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
</style>
  