<template>
  <section class="view intro-3 roundedIntro" :class="classes">
    <div class="container-fluid h-100 d-flex justify-content-center align-items-center">
      <div class="row w-100 justify-content-center">
        <div class="col-md-10  text-center  white-text mt-5 mt-md-0">
          <h1 class="intro-title font-weight-bold mt-sm-5 mt-0 mb-4  text-center"
            data-aos="fade-left">
            {{ title }}
          </h1>
          <h3 class="mb-4"  data-aos="fade-up">
            {{ subTitle }}
          </h3>
          <slot></slot>
          <!-- <a class="btn btn-white btn-rounded orange-text font-weight-bold ml-lg-0 wow fadeInLeft" data-wow-delay="0.4s">Download</a> -->
          <!-- <a class="btn btn-outline-white btn-rounded font-weight-bold wow fadeInLeft mx-auto" data-wow-delay="0.4s">go pro</a> -->
        </div>
      </div>
    </div>
  </section>
</template>


<script>
export default {
  props: {
    title: {
      type: String,
      required: false,
      default: "actualités & évènements",
    },
    subTitle: {
      type: String,
      required: false,
      default: "La definition parfaite de l'ingénieur",
    },

    classes: {
      type: String,
      required: false,
      default: "intro-3"

    }

  },
  data: function () {
    return {
      roundedIntro: 'roundedIntro',
      bg:this.color
    }
  }
  // Autres options et méthodes du composant
}
</script>


<style scoped>
.roundedIntro {
  border-radius: 0 0 2em 2em;
  height: 450px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

@media (min-width: 768px) {}

</style>
