<template>
  <section class="view intro-3 " :class='heroStyle'>
    <div class='bg-filter' ></div>
    <div class="container-fluid h-100  d-flex justify-content-center align-items-center bg-img" :style='bgImg' >
      <div class="row justify-content-center align-self-end">
        <div class="col-md-10 intro-body text-center  white-text mt-5 mt-md-0">
          <h1 class="intro-title font-weight-bold mt-sm-5 mt-0 mb-4  text-center"
            data-aos="fade-left">
            {{ title }}
          </h1>
          <h3 class="mb-4"  data-aos="fade-up" v-if="subTitle !=='' ">
            {{ subTitle }}
          </h3>
          <slot></slot>
        </div>
      </div>
    </div>
  </section>
</template>


<script>
export default {
  props: {
    title: {
      type: String,
      required: false,
      default: "",
    },
    subTitle: {
      type: String,
      required: false,
      default: "",
    },
    heroStyle: {
      type:String,
      default:"intro-4"
    },
    classes: {
      type: String,
      required: false,
      default: "intro-3"
    },
    bgImg:{
      type: String,
      default: ""
    }

  },
  data: function () {
    return {
      roundedIntro: 'roundedIntro',
      bg:this.color
    }
  }
  // Autres options et méthodes du composant
}
</script>


<style lang='scss' scoped>
@import '/assets/scss/screen';
.roundedIntro {
  border-radius: 2em;
  height: 450px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}
.badge{
  font-size: 92%;
}
@media (min-width: 768px) {}

.intro-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-4{
    max-height: 375px;
    margin-top: 1.5em;
    margin-right: 4.5em;
    margin-left: 4.5em;
    border-radius: 2em;

  @media screen and (max-width:$md-screen){
    margin-right: 0;
    margin-left: 0;
    max-height: 485px;
    margin-top: 2.2em !important;
    .intro-3{
      height: 0;
    }
    .intro-title{
      font-size: 32px;
      line-height: 3rem;
    }
  }
}
.bg-img{
  background: url("/images/gavel.jpg")  ;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  animation: none;
}
.bgHome{
   background: url("/images/intro-bg.jpg") !important;
}
  .bg-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, var(--color-2)), linear-gradient(to top, transparent,transparent, var(--color-2));
    transition: all 0.4s ease;
    &:hover{
    }
  }

  .view {
    &:hover{
      .bg-filter{
      }
    }
  }
.bg-filter-2{
   position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, #0ba360);
  }


</style>
