<template>
  <section class="view roundedIntro intro-3" >
    <div class="container-fluid h-100 d-flex justify-content-center align-items-center imgFilter" :style='`background: url(${currentImage})`'><div ref="bgFilter" :class="{'bg-filter': true, 'style-2': showStyle2}"></div>
      <div class="row">
        <div class="col-md-12 text-center white-text mt-5 mt-md-0">
          <h1 class="intro-title font-weight-bold mt-sm-5 mt-0 mb-4  text-center bounce bounceInLeft animated"
            >
            {{ title }}
          </h1>
          <h3 class="mb-4 bounce bounceInUp animated" >
            {{ subTitle }}
          </h3>
          <slot></slot>
          <!-- <a class="btn btn-white btn-rounded orange-text font-weight-bold ml-lg-0 wow fadeInLeft" data-wow-delay="0.4s">Download</a> -->
          <!-- <a class="btn btn-outline-white btn-rounded font-weight-bold wow fadeInLeft mx-auto" data-wow-delay="0.4s">go pro</a> -->
        </div>
      </div>
    </div>
  </section>
</template>


<script>
export default {
  name:"SectionHeroHome",
  props: {
    title: {
      type: String,
      required: false,
      default: "Bienvenue AE2ITA",
    },
    subTitle: {
      type: String,
      required: false,
      default: "Découvrez notre association et nos activités",
    },
    imgUrl:{
      type:String,
      default: require('@/assets/img/hands.jpg')
    },
  },
  computed:{
       currentImage() {
      return this.images[this.currentImageIndex];
    },
  },
  data: function () {
    return {
      roundedIntro: 'roundedIntro',
      bg:this.color,
      currentImageIndex: 0,
      timer:null,
      timer2:null,
       showStyle2: false,
      images:[
        require('@/assets/img/intro-bg.jpg'),
        require('@/assets/img/hands.jpg')
      ]
    }
  },
   mounted() {
    // Change l'image toutes les 3 secondes (3000 millisecondes)
    this.timer =  setInterval(this.changeImage, 10000);
    this.timer2 =  setInterval(this.toggleStyle, 10000);
  },
  beforeDestroy() {
     clearInterval(this.timer)
     clearInterval(this.timer2);
  },
  methods: {
    changeImage() {
      // Incrémente l'index pour passer à l'image suivante
      this.currentImageIndex = (this.currentImageIndex + 1) % this.images.length;
    },
    toggleStyle() {
      // Inverse la valeur de showStyle2 pour changer la classe
      this.showStyle2 = !this.showStyle2;
    },
  },
  // Autres options et méthodes du composant
}
</script>


<style lang='scss' scoped>
@import '/assets/scss/screen';

.roundedIntro {
  border-radius: 0 0 2em 2em;
  height: 101vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

.intro-3{

}

.view{

}

.imgFilter{
    width: 100% !important;
    height: auto;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat  !important;
    transition: all .4s ease;
}

.color{
  background-image: linear-gradient(120deg,#ff3c6d,#ffa76d,#ff73bb,#6caafd,#1fe4d4);
}
 .bg-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,transparent,rgba(0,0,0,.5), var(--color-primary)),rgba(0,0,0,.1) ;
    background-size: 800% 102%;
    transition: all .4s ease;
 }

 .style-2{
    transition: all .4s ease;
   background: linear-gradient(to bottom,transparent,rgba(0,0,0,.5), var(--color-primary)), linear-gradient(to top,transparent,rgba(0,0,0,.5), var(--color-primary)) ;
 }
@media (min-width: 768px) {}

</style>
