<template>
  <div>
    <div class="menu-button animated fadeIn"  @click="toggleModal">
      <i class="fas fa-bars"></i>
    </div>
    <div v-if="showModal" class="modal"  data-aos='fade-in' @click="closeModal">
      <div class="modal-content" data-aos='fade-down'>
        <div class="cards" :class="{ 'two-columns': isMobile }">
          <div  v-for="(item, index) in menuItems" :key="index" :style="{ backgroundColor: white }" class="card">
            <i :class="item.icon"></i>
            <h4 class="color-primary">{{ item.title }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name:'ShortMenu',
  data() {
    return {
      showModal: false,
      menuItems: [
        { title: 'Présentation', icon: 'fas fa-info-circle', color: '#FF5A5F', link: '/presentations' },
        { title: 'Formation', icon: 'fas fa-graduation-cap', color: '#FFAA00', link:'/formations' },
        { title: 'Offres d\'emplois', icon: 'fas fa-briefcase', color: '#00A699', link:'/jobs' },
        { title: 'Galeries', icon: 'fas fa-image', color: '#581845', link:'/galleries' },
        { title: 'Documents', icon: 'fas fa-file-alt', color: '#FF5A5F', link:'/documents' },
        { title: 'Réseaux', icon: 'fas fa-share-alt', color: '#FFAA00', link:'/reseaux' },
        { title: 'Répertoire ITA', icon: 'fas fa-address-book', color: '#00A699', link:'/repertoires' },
        { title: 'Anniversaire', icon: 'fas fa-birthday-cake', color: '#E71D36', link:'/anniversires' },
        { title: 'Actualités', icon: 'fas fa-newspaper', color: '#FF9F1C', link:'/actualites' },
      ]
    };
  },
  computed: {
    isMobile() {
      return window.innerWidth <= 768;
    }
  },
  methods: {
    toggleModal(event) {
      this.showModal = !this.showModal;
    },
    closeModal(event) {
      if (event.target.classList.contains('modal')) {
        this.showModal = false;
      }
    }
  }
};
</script>

<style lang='scss' scoped>
@import '/assets/scss/screen';

.menu-button {
  z-index: 1209;
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-color: var(--color-primary);
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  @media screen and (max-width: $md-screen) {
    top: 0;
    right: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1209;
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  @media screen and (max-width: $md-screen) {
     max-width: 90%;
     max-height: 85%;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
   i {
  font-size: 36px;
  margin-bottom: 10px;
  }
  h3{
    text-align: center;
  }
}



.circle-animation {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0;
  animation: fadeInCircle 1s ease-out infinite;
}

@keyframes fadeInCircle {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.cards {
  display: grid;
  grid-gap: 20px;
}
.two-columns {
  grid-template-columns: repeat(2, minmax(150px, 1fr));
}
</style>
