<template>
  <div class="streak streak-photo streak-long-2">

    <div class="mask flex-center rgba-gradient ">

      <div class="container">

        <h3 class="text-center text-white mb-5 text-uppercase font-weight-bold"> STATISTIQUES</h3>

        <VueCountUp :start-val="0" :end-val="42" :duration="2" :options="countUpOptions" />
        <!-- <ICountUp
      :delay="delay"
      :endVal="endVal"
      :options="countUpOptions"
      @ready="onReady"
    /> -->
        <div class="iCountUp">
        <div class="row text-white text-center">
          <div class="col-md-3 mb-2 " v-for="(stat, index) in statistics" :key="index">

            <h1 class="white-text mb-1 font-weight-bold">{{ stat.value }}</h1>

            <p>{{ stat.title }}</p>

          </div>

        </div>

      </div>

    </div>
</div>
  </div>
</template>
  
<script>
export default {
  data() {
    return {
      delay: 1000,
      endVal: 120500,
      countUpOptions: {
        useEasing: true,
        useGrouping: true,
        separator: ',',
        decimal: '.',
        prefix: '',
        suffix: ''
      },
      statistics: [
        { title: 'Statistique 1', value: 100 },
        { title: 'Statistique 2', value: 200 },
        { title: 'Statistique 3', value: 300 },
        { title: 'Statistique 4', value: 400 }
      ],
      counterValues: []
    };
  },
  computed: {
    count() {
      return this.counterValues
    }
  },
  mounted() {
    this.startCounters();
  },

  methods: {
    startCounters() {
      this.statistics.forEach((statistic, index) => {
        let value = 0;
        const interval = setInterval(() => {
          if (value >= statistic.value) {
            clearInterval(interval);
          } else {
            value += Math.ceil(statistic.value / 50);
            this.counterValues[index] = value;
          }
        }, 5);
      });
    },
    onReady: function(instance, CountUp) {
        const that = this;
        instance.update(that.endVal + 100);
      },
    
  }
};
</script>
  
<style lang="scss" scoped>
.mask.rgba-gradient {
  background: linear-gradient(29deg, var(--color-primary), var(--rgba-primary));
  background-size: 200% 234% !important;

}
</style>
  