<!-- components/SuccessCard.vue -->

<template>
  <div class="success-card">

    <p><i class="fas fa-check-circle"></i> {{ message }}</p>
    <p class="sub-message text-center">{{ subMessage }}</p>
  </div>
</template>

<script>
export default {
  name:'SuccesCard',
  props: {
    message: {
      type: String,
      required: true,
    },
    subMessage: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped>
.success-card {
  background-color: #4caf50;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  &.error{
    background-color: red;
  }
}

.fa-check-circle {
  font-size: 24px;

}

p {
  margin: 0;
  font-size: 18px;
}

.sub-message {
  font-size: 14px;
  color: #e0e0e0;
  margin-top: 5px;
}
</style>
