<template>
  <div class="swiper-container">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props:{
    option:{
      type:String,
      require:false,
      default:'option1'
    }
  },

  beforeDestroy() {
    this.swiper.destroy()
  },
    mounted() {
    this.swiper = new this.$swiper('.swiper-container', this.$swiperOptions.option3);
  },
}
</script>



<style lang="scss" scoped>
.swiper-container {
  max-width: 950px;
  height: auto;
  // overflow: hidden;
  padding: 25px;
  background-color: white;
}
</style>
