<template>
    <div class="col-5 col-md-3 p-0 m-2 mb-4">
        <div class="tag white text-center z-depth-1">
            <div class="card-body p-2">
                <span class="titre-1">{{label || "type d'offre"}}</span>
                <br />
                <span class="titre-2">{{value || 'CDD'}}</span>
            </div>
        </div>
    </div>
</template>

<script>
export default{
    props:['label', 'value'],
}

</script>
<style scoped>
.tag {
    /* border-bottom: solid 6px; */
    justify-content: center;
    align-items: center;
    border-radius: 2.1em;
    border:  #c9c7c9 1px solid;
    height: 88px;
    display: flex;
}

.titre-1{
    color: gray;
    font-size: 14px;
    font-weight: 600;
}
.titre-2{
    color: black;
    font-weight: bold;
}
</style>
