<template>
    <div class="col-md-5 p-0 m-3" :class="classes">
        <div class="card formateur-card p-4 shadow " data-aos="fade-up">
            <div class="row">
                <div class="col-md-3 avatar p-1 mr-md-4 mr-2">
                    <img :src="teacher.photo" class="img-fluid z-depth-1 rounded-circle h-100 w-100 "
                        :alt="teacher.nom">
                </div>
                <div class="col p-0">
                    <span class="h5">{{teacher.nom}}</span> <br />
                    <span>{{teacher.fonction}}</span> <br />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default{
    props:{
        classes:{
            type:String,
            required:false,
            default:''
        },
        teacher:{
          type:Object,
          require:true
        }
    }
}
</script>

<style scoped>
span{
    margin-bottom: 0.25rem;
}
.cours-intro{
    background: #2bbbad;
}
.card{
    border-radius: 2.1em !important;
}
.card > .row{
    display: flex;
    justify-content: space-between;
}
.cours-tags{
    margin-top: -55px !important;
}

.avatar{
    height:  7.1rem;
    width: 6.1rem;;
}
</style>
