<template>
    <div class="col-6" data-aos="fade-down" data-aos-duration="1000">
      <h1 >Titre animé</h1>
      <p data-aos="fade-in" data-aos-duration="800">Contenu animé</p>
    </div>
  </template>
  
  <script>
  export default {
    mounted() {
        this.$nextTick(() => {
        this.$nuxt.$on('routeChangeComplete', () => {
          this.$nuxt.$emit('triggerScroll');
        });
      });
    },
  };
  </script>
  
  <style scoped>
  /* Styles pour les éléments animés */
  h1,p{
    color: red;
    font-size: 24px;
    font-weight: bold;
  }
  </style>
  