<template>
    <div v-if="loading" class="loading-page">
        <div class="loading-content">
            <p>loading...</p>
        </div>
    </div>
</template>

<script>

export default {
 data () {
 return { loading: false }
 },
 methods: {
 start () { this.loading = true },
 finish () { this.loading = false },
 }
}

</script>


<style scoped>
.loading-page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color:chocolate;
    background: rgba(0, 0, 1, 0.336);
}

.loading-content{
    display: flex;
    justify-content: center;
}

</style>