
<template>
  <header>
   <NavigationBar />
  </header>
</template>

<script >
export default {
  props:{
    color:{
      type:String,
      required:false,
      default:"intro-3"
    }
  }
}

</script>

<style>
html,
body,
.intro-3 {
  height: 400px;

}
@media (max-width: 450px) {
  html,
  body,
  .intro-3 {
    height: 820px;
  }
}
@media (min-width: 451px) and (max-width: 740px) {
  html,
  body,
  .intro-3 {
    height: 400px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .intro-3 {
    height: 425px;
  }
}


</style>
