<template>
  <div class="top-navigation" :class="{ scrolled: isScrolled }">
    <div class="logo mt-auto p-1">
      <nuxt-link prefetch to="/" class="text-decoration-none">
        <img :src="logoImg" class="img-logo" alt="logo ita INP-HB" />
      <span class='logo-title'>AE2ITA</span>
      </nuxt-link>
    </div>
 <div class="links pt-4 mt-4 d-none d-lg-flex">
      <ul class='links-list'>
        <li v-for="(menuItem, index) in menuItems" class='link-item'
            :key="index" :class="{ 'has-dropdown': menuItem.children }" >
          <nuxt-link :to="menuItem.link"
                     :active-class="activeDropItem(menuItem.link)? 'active-dropdown' :''"
                     :exact-active-class="menuItem.children ? 'active-dropdown' : 'active-link'"
          :class='{link: !isScrolled}' class='link-box px-2 animated animate-pulse' >{{ menuItem.title }}</nuxt-link>
          <div v-if="menuItem.children" class="dropdown px-4 d-flex">
            <div class="dropdown-header">
              <h3 v-if="menuItem.title">{{ menuItem.title }}</h3>
            </div>
            <ul>
              <li v-for="(childItem, childIndex) in menuItem.children" :key="childIndex" class='drop-item animated fadeIn' >
                <nuxt-link :to="childItem.link" :exact-active-class="menuItem.children ? 'drop-item-active' : ''" class='drop-link'>{{ childItem.title }}</nuxt-link>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <!-- Element 3: Button "Se connecter" -->
     <div class='u-profil d-inline-flex align-items-center' v-if='isAuthenticated && isLoggedIn'>
      <img :src='avatarUrl' alt='user profil'  class='img-fluid'>
      <NuxtLink class='link user-link ml-2' to='/profils'>{{profil?.nom}}</NuxtLink>
    </div>
    <div class="connect" v-else>
      <FlatButton label="inscriptions" to="/authentifications/inscriptions" class="py-2 px-1 px-md-2" style="font-size: 12px !important;" :is-link=true />
      <OutlineButton :is-link=true to="/authentifications/connexion" label="Connexion"  class="py-2 px-1 px-md-2" style="font-size: 12px !important;"/>
    </div>

  </div>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
import OutlineButton from '~/components/OutlineButton.vue'
import FlatButton from '~/components/FlatButton.vue'

export default {
  name: 'TopNavigation',
  components: { FlatButton, OutlineButton },
  props:{
    menuItems:{
      type:Array,
      required:true
    }
  },
  data() {
    return {
      isScrolled: false,
      activeDropdownIndex: null,
      isOpen:false,
      logoImg:require('@/assets/img/logo_ita_2.png'),
      menuItemsData:  [
        { title: 'accueil', icon: 'fas fa-home', color: '#FF5A5F', link: '/' },
        { title: 'Présentationss', icon: 'fas fa-info-circle', color: '#FF5A5F', link: '/presentations',
        children: [
          { title: 'Qui sommes nous ?', icon: '', color: '#FFAA00', link:'/presentations/' },
          { title: 'Mot du Président', icon: '', color: '#FFAA00', link:'/presentations/president' },
          { title: 'Composition du bureau', icon: '', color: '#FFAA00', link:'/presentations/bureau' },
          { title: 'Repertoire des ITA', icon: '', color: '#FFAA00', link:'/presentations/repertoires' },
          { title: 'status et reglements', icon: '', color: '#FFAA00', link:'/presentations/status' },
          ]},
        { title: 'Formations', icon: 'fas fa-graduation-cap', color: '#FFAA00', link: '/formations' },
        { title: 'Emplois', icon: 'fas fa-graduation-cap', color: '#FFAA00', link: '/emplois' },
        { title: 'Bibliothèques', icon: '', color: '#FF5A5F', link:'/bibliotheques/' , children: [
          { title: 'Gallerie images', icon: '', color: '#FFAA00', link:'/bibliotheques/medias' },
          { title: 'Documents', icon: '', color: '#FFAA00', link:'/bibliotheques/docs' },
          ]},
        { title: 'Actualités', icon: '', color: '#00A699', link:'/actualites/', children:[
          { title: 'articles', icon: '', color: '#FFAA00', link:'/actualites/articles' },
          { title: 'publications', icon: '', color: '#FFAA00', link:'/actualites/bureaux/' },
          ] },

      ]
    };
  },
  mounted() {
    this.fetchMyProfil()
    window.addEventListener('scroll', this.handleScroll);
    this.isScrolled = window.scrollY >0
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  computed:{
    ...mapGetters('auth', ['isAuthenticated', 'isLoggedIn', 'getUser']),
    profil(){
      return this.getUser
    },
    avatarUrl(){
      return process.env.CDN_BASE_URL + this.getUser?.photo
    }
  },
  methods: {
    ...mapActions('auth', ['fetchMyProfil']),
    handleScroll() {
      this.isScrolled = window.scrollY > 0;
    },
    hideDropdown(event) {
      this.activeDropdownIndex = null;
      this.blur = true;
      this.isOpen=false
    },
     showDropdown(event) {
      this.activeDropdownIndex = null;
      this.blur = true;
      this.isOpen=true
    },
     toggleDropdown(index) {
      if (this.menuItems[index].children) {
        this.activeDropdownIndex = this.activeDropdownIndex === index ? null : index;
      }
    },

    activeDropItem(path){
      if(path === "/"){
        return false
      }
      return this.$route.path.startsWith(path) && path.length > 2
    }
  },
};
</script>

<style lang='scss' scoped>
@import '/assets/scss/screen';
.top-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  @media screen and (max-width: $md-screen){
     height: 64px;
    padding: 0 8px;
     justify-content: space-between;
  }

}

.scrolled {
  backdrop-filter: blur(22px);
  background-color: rgba(255,255,255,.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: solid 4px var(--color-primary);
   .logo{

      img{
      padding: 0 !important;
      }
     span{
       color:var(--color-primary)
     }

   }
  a.user-link{
       color: black !important;
     }
 .link-item{
  &.has-dropdown .active-dropdown{
    border-radius:0px;
    background: transparent;
  }
}
}

.logo  {
  display: inline-flex;
  align-items: center;
  img{
    height: 62px;
    background-color: white;
    border-radius: 23%;
    padding: 4px;
    @media screen and (max-width: $sm-screen) {
      height: 46px;
      padding: 2px;
    }
  }
  span {
    font-size: 26px;
    color: white;
    margin-left: 5px;
    font-weight: bold;
    font-family: 'Philosopher','Poppins', serif;
    @media (max-width: $sm-screen) {
      font-size: 18px;
      margin-left: 2px;
    }
}

}


.links {
  display: flex;
  align-items: center;
  padding-right: 20px;
  ul {
  list-style: none;
  display: flex;
}
  li {
  margin-right: 5px;
  position: relative;
}
  a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
    &:hover {
  color: #000;
    }
  }
}


.dropdown  {

  ul{
    list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;

    li {
    margin: 5px 0;
      }
  }
  a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
    &:hover{
      color: #000;
    }
  }

}

.link-item{
    &::after{
    content: "none";
    display: block;
    opacity: 0;
  }
  &.link{
    background: white;
  }
}

.links li.has-dropdown {
  position: relative;
  &>a{
    width:100%;
    height:99%;
  }
}

.dropdown-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
   img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
  h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
}


.dropdown {
  position: absolute;
  top: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none !important;
  padding: 10px;
  border-radius: 5px;
  min-width: 200px;
  width: 475px;
  opacity: 0 !important;
  transform: translateY(20px);
  transition: all 0.4s ease;
  z-index: -1;

}

li.has-dropdown:hover .dropdown {
  display: flex !important;
  transition: all 0.4s ease;
  left: -102%;
  flex-direction: row;
  transform: translateY(0);
  opacity: 1 !important;
}

.dropdown-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
  h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
}


a.active{
  border-bottom: solid 3px var(--color-primary);
}

a.link-box{
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
}

a.link{
    background: transparent;
    color: white;
    color:white;
  &.active-link{
    background: white;
    border-radius:8px;
    color: var(--color-primary);
  }
}

.link-item{
  &.has-dropdown .active-dropdown{
    border-radius:8px;
    background: white;
  }
}


a.active-link,  a.link-box-active{
  color: var(--color-primary);
  font-weight: bold;
  border-bottom: solid 3px var(--color-primary);
}

a.active-dropdown, a.link-box-active {
  color: var(--color-primary);
  font-weight: bold;
  border: 2px solid var(--border-primary);
  border-bottom: solid 3px var(--color-primary);
}

.drop-link{
  border-left: 4px solid transparent;
  padding-left: 4px;
  transition: all ease .3s;
  &:hover{
    border-left: 4px solid var(--color-primary);
  }
}
a.drop-item-active{
  border-left: 4px solid var(--color-primary);
}

.hide{
    display: none;
    opacity: 0;
}

.show{
  display: flex ;
  opacity: 1;
}

.connect{
  display: inline-flex;
  align-items: center;
}

.u-profil{
  background: transparent;
  border-radius: 8px;
  img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid 2px white;
  }
}
</style>
