<template>
  <div class="youtube-player">
    <div class="video-container">
      <youtube ref="youtube" :video-id="currentVideoId"  :player-vars="playerVars"  @ready="onPlayerReady"  @ended="onVideoEnded" >
      </youtube>
      <button @click="playVideo">play</button>
    </div>
    <div class="playlist-container">
      <ul>
        <li v-for="(video, index) in playlist" :key="index" @click="playVideo(index)"
          :class="{ active: currentIndex === index }">
          {{ video.title }}
        </li>
      </ul>
    </div>
  </div>
</template>
  
<script>

export default {

  data() {
    return {
      playlist: [
        { title: 'Video 1', videoId: 'renF2VGPefE' },
        { title: 'Video 2', videoId: 'GQRRC03d3nw' },
        { title: 'Video 3', videoId: 'Uz1Ks7TgBTI' }
      ],
      currentIndex: 0,
      currentVideoId: '',
      playerVars: {
        autoplay: 1,           // Lecture automatique de la vidéo
        controls: 1,           // Affichage des contrôles du lecteur
        modestbranding: 1,     // Affichage du logo YouTube réduit
        showinfo: 0,           // Masquage des informations de la vidéo
        rel: 0,                // Désactivation des vidéos recommandées à la fin de la lecture
        fs: 1,                 // Activation du bouton de plein écran
        cc_load_policy: 0,     // Désactivation des sous-titres forcés
        iv_load_policy: 3,     // Désactivation des annotations
        enablejsapi: 1,        // Activation de l'API JavaScript du lecteur
        loop: 0                // Lecture en boucle de la vidéo
      }
    };
  },
  methods: {
    playVideo(index) {
      this.currentIndex = index;
      this.currentVideoId = this.playlist[index].videoId;
    },
    onPlayerReady(event) {
      this.currentVideoId = this.playlist[this.currentIndex].videoId;
    },
    onVideoEnded(event) {
      if (this.currentIndex < this.playlist.length - 1) {
        this.currentIndex++;
        this.currentVideoId = this.playlist[this.currentIndex].videoId;
      }
    }
  },
  computed: {
    player() {
      return this.$refs.youtube.player
    }
  }
};
</script>
  
<style scoped>
.youtube-player {
  display: flex;
}

.video-container {
  width: 70%;
  padding: 0 20px;
}

.playlist-container {
  width: 30%;
  padding: 0 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}

li.active {
  background-color: #ccc;
}
</style>
  