<template>
    <div>
        <SectionHero title="NOS OFFRES" class="bounce dounceDown animated" />
        <section class="mt-md-4 md-2 py-md-4 py-2 my-4 ">
            <div class="container z-depth-0 py-4">
                <div class="row">
                    <!-- Grid column -->
                   <LoadingFluide v-show='isLoading' />
                    <div v-show='!isLoading' class="col-md-12">
                        <ul class="nav md-pills nav-justified pills-deep-orange z-depth-1 mb-4 bounce bounceIn animated" style="border-radius:2.5em">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#panel11" role="tab"
                                    aria-selected="true">TOUS</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" data-toggle="tab" href="#panel12" role="tab"
                                    aria-selected="false">STAGES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#panel13" role="tab"
                                    aria-selected="false">JOBS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border-0" data-toggle="tab" href="#panel14" role="tab"
                                    aria-selected="false">aide</a>
                            </li>
                        </ul>

                        <!-- Tab panels -->
                        <div class="tab-content">

                            <!-- Panel 1 -->
                            <div class="tab-pane fade-in active show" id="panel11" role="tabpanel">
                                <br>
                                <h4 class="font-weight-bold mb-4 dark-grey-text text-center"><strong>Nos
                                        Offres</strong>
                                </h4>
                                <div class="row card-container bounce bounceUp animated">

                                    <!-- tous -->

                                    <EmploisCard v-for='(offre,index) in getEmplois' :key="`${offre.slug}-${index}`" :offre='offre' data-aos="fade-up"/>

                                    <!-- card zone -->

                                </div>

                            </div>
                            <!-- Panel 1 -->

                            <!-- Panel 2 -->
                            <div class="tab-pane fade" id="panel12" role="tabpanel">
                                <br>

                                <h4  class="font-weight-bold mb-4 dark-grey-text text-center"><strong>Nos Offres de
                                        Stages</strong>
                                </h4>
                                <div class="row card-container">

                                    <!-- Subheading -->
                                    <EmploisCard v-for='(offre,index) in getStages' :key="`${offre.slug}-${index}`" :offre='offre' data-aos="fade-up"/>

                                </div>

                            </div>
                            <!-- Panel 2 -->

                            <!-- Panel 3 -->
                            <div class="tab-pane fade" id="panel13" role="tabpanel">
                                <br>
                                <h4 id="" class="font-weight-bold mb-4 dark-grey-text text-center"><strong>Nos Offres
                                        D'emplois</strong>
                                </h4>
                                <div class="row card-container">
                                    <EmploisCard v-for='(offre,index) in getEmbauches' :key="`${offre.slug}-${index}`" :offre='offre' data-aos="fade-up"/>
                                    <!-- card zone -->
                                </div>


                            </div>
                            <!-- Panel 3 -->

                            <!-- Panel 4 -->
                            <div class="tab-pane fade" id="panel14" role="tabpanel">
                                <br>

                                <p>
                                 Comment utiliser le système ?
                                </p>

                            </div>
                            <!-- Panel 4 -->

                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <PagePagination class="d-none" />
            </div>
        </section>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import moment from 'moment'
import LoadingFluide from '~/components/LoadingFluide'
import EmploisCard from '~/components/EmploisCard'
import SectionHero from '~/components/SectionHero.vue'
import { metaHeader } from '~/utils/metaHead'

export default {
  components: { SectionHero, EmploisCard, LoadingFluide },
   middleware: [],
  data(){
      return {}
    },
  computed:{
      ...mapGetters('emplois', ['getEmplois','getStages','getEmbauches', 'isLoading', 'getError'])
  },
  methods:{
      ...mapActions('emplois', ['fetchEmplois'])
  },
  async asyncData({store}){
    await store.dispatch('emplois/fetchEmplois')
  },
  head(){
    return {
      title: "Offres d'emplois gratuit 2024",
      meta: metaHeader("AE2ITA - Offres d'emplois gratuit 2024", `offre d'emplois et stages ingénieurs agronomes - ITA ${moment().month().toString()} ${moment().year().toString()}`, '/android-chrome-192x192.png'),
    }
  },
}

</script>


<style lang="scss" scoped>
@import 'assets/scss/screen';
.card-container {
    align-items: center;
    align-self: center;
    justify-content: center;
}

a.nav-link {
    font-weight: bold;
    color: #25314c !important;
    border-right: solid 1px #ff7043;
  @media (max-width: $xm-screen) {
    font-weight: 600;
    padding: 0 .5em !important;
  }
}

.pills-deep-orange .nav-link.active,
.pills-deep-orange .show>.nav-link,
.tabs-deep-orange {
    background-color: #ff7043 !important;
    font-size: medium;
    color: white !important;
    font-weight: 800;
    border-radius: 2.5em;
    transition: all .2s ease-in-out;
}

</style>
