<template>
    <div class="forget-page col-lg-10 col-12  rounded p-3">
        <div class="row justify-content-center align-content-center align-items-center">
            <div class="left-column col-md-4 col-10">
                <!-- Colonne de gauche avec l'image d'illustration -->
                <img src="@/assets/img/tree.png" class="img-fluid" alt="Illustration" />
            </div>
            <div class="right-column col-md-6 col-12 d-flex flex-column justify-content-center">
                <!-- Colonne de droite avec le formulaire -->
                <h2 class="font-weight-bold text-center my-auto">Mot de passe oublié</h2>
                <form @submit.prevent="submitForm" class="">
                    <div class="form-group">
                        <InputsTypeEmail v-model="email" placeholder="entrez votre: email@ae2ita.com" />
                    </div>
                    <div class="form-group">
                        <InputsTypeText v-model="confirmationCode" placeholder="code de confirmation" />
                    </div>
                    <FlatButton label="connexion" type="submit" :is-link=false class="py-2" />
                    <div class="col-12 mt-3 d-flex justify-content-center">
                        <NuxtLink class="text-gray mx-auto link px-3 py-1" to="/authentifications/connexion">Je me rappel
                        </NuxtLink>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
  
<script>
export default {
    data() {
        return {
            email: '',
            confirmationCode: ''
        };
    },
    methods: {
        submitForm() {
            console.log(this.email, this.password);

            // Logique de soumission du formulaire
            // Vous pouvez utiliser les données de `email` et `password` pour effectuer l'authentification
        }
    }
};
</script>
  
<style lang="scss" scoped>
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-group {
        margin-bottom: 15px;
        width: 100%;
    }
}

.rounded {
    border-radius: .75em !important;
}

.forget-page {
    background-color: #ccc;
    a.link{
        color:var(--danger) !important;
        background: transparent !important;
        border-radius: .75em;
        max-width: 300px;
        transition: all .3s ease;
        &:hover, &:focus{
            transform:scale(1.1);
            color:var(--color-primary) !important;
            background: white !important;
        }
    }
}


h2 {
    /* font-size: 24px; */
    color: var(--color-primary)
}
</style>
  