<template>
 <div class="register-page col-lg-10 col-12  rounded p-3 mb-3">
        <div class="row justify-content-center">
            <div class="col-10 header">
                <h2 class="font-weight-bold text-center mx-auto p-1">{{title}}</h2>
            </div>
          <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
  name: 'FormBase',
  props:['title', 'callback']

}
</script>

<style scoped>

</style>
