<template>
    <div class="login-page col-lg-10 col-12  rounded p-3 " >
        <div class="row justify-content-center align-content-center align-items-center">
            <div class="left-column col-md-4 col-10">
                <!-- Colonne de gauche avec l'image d'illustration -->
                <img src="@/assets/img/tree.png" class="img-fluid" alt="Illustration" />
            </div>
            <div class="right-column col-md-6 col-12 d-flex flex-column justify-content-center">
                <!-- Colonne de droite avec le formulaire -->
                <h2 class="font-weight-bold text-center my-auto">Connexion</h2>
                <form @submit.prevent="submitForm" class="">
                    <div class="form-group">
                        <InputsTypeEmail v-model="email" placeholder="email@ae2ita.com" />
                    </div>
                    <div class="form-group">
                        <InputsTypePassword v-model="password" placeholder="mot de passe" />
                    </div>
                     <div class="col-12 mt-3 d-flex justify-content-center" :class='{"d-none": formError ===null}' v-if='formError !==null'>
                       <p class='text-danger w-100' v-show='formError?.username'> veuillez fournie un email correct</p><br/>
                       <p class='text-danger  w-100' v-show='formError?.password'>veuillez fournie un mot de passe correct</p><br/>
                       <p class='text-danger  w-100' v-show='formError?.detail'>{{formError?.detail}}</p><br/>
                    </div>
                    <FlatButton v-if='!isLoading' label="connexion" type="submit" :is-link=false class="py-2" @submit.prevent='submitForm' />
                  <LoadingFluide v-else />
                  <div class="col-12 mt-3 d-flex justify-content-center">
                        <NuxtLink class="text-gray mx-auto link px-3 py-1" to="/authentifications/motdepasse/oublie">Mot de passe oublié
                        </NuxtLink>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import LoadingFluide from '~/components/LoadingFluide'
import { encryptUniqueHash } from '~/utils/timeUtils'

export default {
  components: { LoadingFluide },
  data() {
        return {
            email: '',
            password: '',
            timeStamp: '',
        };
    },
  computed:{
      ...mapGetters('auth', ['isLoggedIn', 'isLoading', 'getError']),
    formError(){
        return this.getError
    }
  },
  mounted() {
  },
  methods: {
      ...mapActions('auth', ['login']),
        async submitForm() {
          const next = this.$route.query?.next
          try {
            await this.login({username:this.email, password:this.password});
            const userAgent = encryptUniqueHash(navigator.userAgent);
           this.$cookies.set('_ua',userAgent, {path: '/'})
           if(this.isLoggedIn){
              this.$toast.success('Connexion ok !')

              if (next){
                await this.$router.push(next)
              }else{
                await this.$router.push('/profils/')
              }
            }
          }catch (e) {
          console.log('e: ', e)
          }


        }
    }
};
</script>

<style lang="scss" scoped>

.login-page{
  transition: all .3s ease;
}
.dataloading{
    transform: scale(0);
}
.noLoading{
    transform: none;
}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-group {
        margin-bottom: 15px;
        width: 100%;
    }
}

.rounded {
    border-radius: .75em !important;
}

.login-page {
    background-color: #ccc;
    a.link{
        color:var(--danger) !important;
        background: transparent !important;
        border-radius: .75em;
        max-width: 300px;
        transition: all .3s ease;
        &:hover, &:focus{
            transform:scale(1.1);
            color:var(--color-primary) !important;
            background: white !important;
        }
    }
}


h2 {
    /* font-size: 24px; */
    color: var(--color-primary)
}
</style>
