<template>
    <div class="register-page col-lg-10 col-12  rounded p-3 pb-4 mb-4">
        <div class="row justify-content-center">
            <div class="col-10 header">
                <h2 class="font-weight-bold text-center mx-auto p-1">Nouveau Compte</h2>
            </div>
            <form class="col-12 row justify-content-center" @submit.prevent="submitForm($event)">
                <div class="form-group col-md-5 col-12">
                    <TypeText v-model="newMember.nom" placeholder="nom" :class="{'error': fieldErrorName=== 'nom'}" @input="fieldErrorName=''"/>
                </div>
                <div class="form-group  col-md-5 col-12">
                    <TypeText v-model="newMember.prenoms" placeholder="Prénoms" :class="{'error': fieldErrorName=== 'prenoms'}" @input="fieldErrorName=''"/>
                </div>
                <div class="form-group  col-md-5 col-12">
                    <TypeText v-model="newMember.contact1" type="tel" placeholder="téléphone" :class="{'error': fieldErrorName=== 'contact1'}" @input="fieldErrorName=''"/>
                </div>
                <div class="form-group  col-md-5 col-12">
                    <TypeEmail v-model="newMember.email1" placeholder="email" :class="{'error': fieldErrorName=== 'email1'}" @input="fieldErrorName=''; checkEmailValid(newMember.email1)" />
                </div>
                <div class="form-group  col-md-5 col-12">
                    <TypePassword v-model="newMember.password" placeholder="mot de passe" :class="{'error': fieldErrorName=== 'password'}" @input="fieldErrorName=''"/>
                </div>
                <div class="form-group  col-md-5 col-12">
                    <TypePassword v-model="newMember.confirmPasse" :confirm-password="newMember.password"
                        placeholder="confirmer mot de passe" :class="{'error': fieldErrorName=== 'password'}" @input="fieldErrorName=''"/>
                </div>
                <div class="form-group  col-md-5 col-12">
                    <TypeDropDown label="profil" :options="profil" @click="($event)=>newMember.profil=$event" :class="{'error': fieldErrorName=== 'profil'}" @input="fieldErrorName=''"/>
                </div>
              <div class="form-group  col-md-5 col-12">
                 <TypeText :min="1" v-model="newMember.promotion" type="text" placeholder="Promotion ex: 48" :class="{'error': fieldErrorName=== 'promotion'}" @input="fieldErrorName=''"/>
                </div>
                <div class="form-group  col-md-5 col-12">
                    <TypeDropDown label="genre" :options="sexe" @click="($event)=>newMember.sexe=$event" :class="{'error': fieldErrorName=== 'sexe'}" @input="fieldErrorName=''" />
                </div>

                <div class="col-12 mt-3 d-flex justify-content-center align-items-center flex-column">
                  <FlatButton  label="Je m'inscris" type="submit" :is-link=false class="py-2"/>
                    <NuxtLink class="mx-auto mt-3   mt-md-0 text-gray mr-4 link px-3 py-1" to="/authentifications/connexion" prefetch>j'ai un compte
                    </NuxtLink>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import TypeDropDown from '~/components/inputs/TypeDropDown.vue'
import TypePassword from '~/components/inputs/TypePassword.vue'
import TypeEmail from '~/components/inputs/TypeEmail.vue'
import TypeText from '~/components/inputs/TypeText.vue'
import FlatButton from '~/components/FlatButton.vue'

export default {
  name:'RegisterForm',
  components: { FlatButton, TypeText, TypeEmail, TypePassword, TypeDropDown },
    data() {
        return {
            isFormValide: false,
          isValidEmail: false,
          fieldErrorName:'',
            newMember: {
                nom: '',
                prenoms: '',
                contact1: '',
                email1: '',
                sexe: '',
                profil: '',
                promotion:"22",
                password: '',
                confirmPasse: '',
            },
          sexe: [
                { label: 'Homme', value: 'M' },
                { label: 'Femme', value: 'F' },
            ],
            profil: [
                { label: 'élève inégnieur', value: 'élève ingénieur' },
                { label: 'ingénieur', value: 'inégénieur' },
            ],
        };
    },
    computed:{
    ...mapGetters('membres/membre',['getError', "isLoading"])
    },
  methods: {
    ...mapActions('membres/membre', ["createMembre"]),
         submitForm(event) {
           let formOk = true
          const { confirmPasse, ...newform} = this.newMember
          console.log('confirmPass', confirmPasse, "normal pass", newform.password)

          if(this.newMember.nom === ""){
             this.fieldErrorName="nom"
             formOk = false
           }else if (this.newMember.prenoms === "") {
             formOk = false
             this.fieldErrorName = 'prenoms'
           } else if (confirmPasse !== newform.password){
           this.$toast.error('mot de passe différent')
           this.fieldErrorName="password"
           formOk = false
         }else if(!this.isValidEmail){
           this.fieldErrorName="email1"
           this.$toast.error('email déjà utilisé !')
           formOk = false
         }else if(this.newMember.profil === ""){
           this.fieldErrorName="profil"
           formOk = false
         }else if(this.newMember.sexe === ""){
           formOk = false
           this.fieldErrorName="sexe"
         }else if (this.newMember.promotion === 0){
           formOk = false
           this.fieldErrorName = 'promotion'
         }
         else  {
           console.log('good form data')
           this.$emit('submitted', newform)
         }
         if (!formOk) {
           this.$toast.error('corriger les erreurs !')
         }
        },

   async checkEmailValid(email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const isEmail = re.test(String(email).toLowerCase());
      if (isEmail){
        try{
           await this.$axios.$get(`email-verification?email=${email}`)
          this.isValidEmail = true
        }catch (e) {
          this.fieldErrorName = "email1"
          this.isValidEmail = false
          this.$toast.error('email déjà utilisé !')
        }
      }
    },

  }
};
</script>

<style lang="scss" >

.register-page {
    background-color: #ccc;
    form {
          .form-group {
              margin-bottom: 15px;
              width: 100%;
          }
      }
      .rounded {
          border-radius: .75em !important;
      }
      h2 {
        /* font-size: 24px; */
        color: var(--color-primary)
    }
    a.link {
        color: #ccc !important;
        background: white !important;
        border-radius: .75em;
        max-width: 300px;
        transition: all .3s ease;

        &:hover,
        &:focus {
            transform: scale(1.1);
            color: var(--color-primary) !important;
        }
    }
}

</style>
