<template>

    <FormBase title='Informations Professionnelles' >
      <div class="form-group  col-md-5 col-10">
         <InputsTypeDropDown label="Spécialié ITA" :options="specialites" @click="($event)=>newMemberThree.specialite=$event"  />
       </div>
      <div class="form-group  col-md-5 col-10">
         <InputsTypeDropDown label="Status emploi" :options="statusEmplois" @click="($event)=>newMemberThree.status_emploi=$event"  />
       </div>
      <div class="form-group  col-md-5 col-10">
        <InputsTypeText v-model="newMemberThree.fonction_emploi" v-show='newMemberThree.status_emploi == statusEmplois[1].value' type="text" placeholder="Fonction / Poste" />
      </div>
      <div class="form-group  col-md-5 col-10">
        <InputsTypeText v-model="newMemberThree.structure_emploi"  v-show='newMemberThree.status_emploi == statusEmplois[1].value' type="text" placeholder="Ministère / Structure" />
      </div>
      <div class="form-group  col-md-5 col-10">
        <InputsTypeText v-model="newMemberThree.entreprise" v-show='newMemberThree.status_emploi == statusEmplois[0].value' type="text" placeholder="nom de l'entreprise ?" />
      </div>
      <FlatButton  label="Enrégistrer et terminer" type="submit" :is-link=false class="py-2"
                    @click.prevent="submitForm($event)" />
    </FormBase>

</template>

<script>
import FormBase from '~/components/auth/FormBase'
export default {
  name: 'RegisterFormThree',
  components: { FormBase },
  data(){
    return {
      isFormValide: false,
      newMemberThree: {
              fonction_emploi:'',
              status_emploi:'',
              specialite:'',
              structure_emploi:'',
              entrepreneur:'',
              entreprise:'',
            },
      specialites:[
        {label:"E.G.A", value:"EGA"},
        {label:"I.A.I", value:"IAI"},
        {label:"G.R", value:"GR"},
        {label:"A.G", value:"AG"},
        {label:"I.T.F", value:"ITF"},
        {label:"Zootechnie", value:"Zootechnie"},
      ],
      statusEmplois:[
        {label:"Entrepreneur", value:'entrepreneur'},
        {label:"salarié", value:'salarié'},
        {label:"Sans Emploi", value:'sans-emploi'},
      ]
    }
  },
   methods: {
        submitForm(event) {
           // logique
        }
    }
}
</script>

<style scoped>

</style>
