<template>
  <FormBase title='Information personnelle'>
    <form method="post" class="col-12 row justify-content-center" @submit.prevent="submitForm2">
    <div class="form-group  col-md-3 col-12 d-flex">
      <img src='/images/avatar.png' class='img-fluid mx-auto rounded-circle shadow avatar-preview' alt='user avatar' ref='avatarPreview' srcset=''>
    </div>
     <div class="form-group  col-md-10 col-10 d-flex justify-content-center" :class="{'error': fieldErrorName=== 'photo'}" @input="fieldErrorName=''" >
       <input id="avatar" type="file" ref="avatar" @change.prevent="changeHandler" style="display: none" accept="image/jpeg, image/png, image/webp, image/jpeg"/>
       <button @click.prevent="selectAvatar" class="btn btn-success btn-sm mt-2 avatar-file-upload">Sélectionner Photo</button>
     </div>
    <div class="form-group  col-md-5 col-12">
       <TypeText v-model="newMemberTwo.contact2" placeholder="Contact 2" :require="false" name="ct2" @input="cleanNumero(newMemberTwo.contact2)"/>
     </div>
    <div class="form-group  col-md-5 col-12">
      <TypeText name="pr" v-model="newMemberTwo.pays_residence" type="text" placeholder="Pays de résidence*"  :class="{'error': fieldErrorName=== 'pays_residence'}" @input="fieldErrorName=''"/>
    </div>
    <div class="form-group  col-md-5 col-12">
      <TypeText name="vr" v-model="newMemberTwo.ville_residence" type="text" placeholder="Ville de résidence*" :class="{'error': fieldErrorName=== 'ville_residence'}" @input="fieldErrorName=''" />
    </div>
    <div class="form-group  col-md-5 col-12">
      <TypeText name="da" v-model="newMemberTwo.date_naissance" type="text" placeholder="Anniversaire aaaa-mm-jj*" :require="false" />
    </div>
    <div class="form-group  col-md-5 col-12">
      <TypeDropDown label="Région d'activité *" :options="regions" @click="($event)=>newMemberTwo.region_activites=$event" :class="{'error': fieldErrorName=== 'region_activites'}" @input="fieldErrorName=''" />
    </div>
    <div class="form-group  col-md-5 col-12">
         <TypeDropDown label="Spécialié ITA *" :options="specialites" @click="($event)=>{newMemberTwo.specialite=$event; fieldErrorName=''}"  :class="{'error': fieldErrorName=== 'specialite'}" @input="fieldErrorName=''" />
       </div>
      <div class="form-group  col-md-5 col-12">
         <TypeDropDown label="Status d'emploi *" :options="statusEmplois" @click="($event)=>newMemberTwo.status_emplois=$event" :class="{'error': fieldErrorName=== 'status_emplois'}" @input="fieldErrorName=''" />
       </div>
      <div class="form-group  col-md-5 col-12" v-if='newMemberTwo.status_emplois === statusEmplois[1].value'>
        <TypeText :require="false" v-model="newMemberTwo.fonction_emplois" v-if='newMemberTwo.status_emplois === statusEmplois[1].value' type="text" placeholder="Fonction / Poste" />
      </div>
      <div class="form-group  col-md-5 col-12" v-if='newMemberTwo.status_emplois === statusEmplois[1].value'>
        <TypeText :require="false" v-model="newMemberTwo.structure_emplois" v-if='newMemberTwo.status_emplois === statusEmplois[1].value' type="text" placeholder="Ministère / Structure" />
      </div>
      <div class="form-group  col-md-5 col-12" v-if='newMemberTwo.status_emplois === statusEmplois[0].value'>
        <TypeText :require="false" v-model="newMemberTwo.entreprise" v-if='newMemberTwo.status_emplois === statusEmplois[0].value' type="text" placeholder="nom de l'entreprise ?" />
      </div> <br/>
    <div class="col-12 mt-3 d-flex justify-content-center align-items-center">
      <FlatButton label="Enrégistrer" type="submit" :is-link=false class="py-2"/>
    </div>
    </form>
  </FormBase>
</template>

<script>
import { mapGetters } from 'vuex'
import FormBase from '~/components/auth/FormBase'
import FlatButton from '~/components/FlatButton.vue'
import TypeText from '~/components/inputs/TypeText.vue'
import TypeDropDown from '~/components/inputs/TypeDropDown.vue'

export default {
  name: 'RegisterFormTwo',
  components: {  TypeDropDown, TypeText, FlatButton, FormBase },
  data() {
    return {
      isFormValide: false,
      fieldErrorName:"",
      newMemberTwo: {
        date_naissance: '',
        contact2: '',
        pays_residence: '',
        ville_residence: '',
        region_activites:'',
        photo: '',
        fonction_emplois:'',
        status_emplois:'',
        specialite:'',
        structure_emplois:'',
        entrepreneur:false,
        entreprise:'',
      },
       regions: [
                { label: 'Sud', value: 'sud' },
                { label: 'Ouest', value: 'ouest' },
                { label: 'Eest', value: 'est' },
                { label: 'Centre', value: 'centre' },
                { label: 'Nord', value: 'nord' },
            ],
      specialites:[
        {label:"E.G.A(Agromanager)", value:"EGA"},
        {label:"I.A.I (industrie)", value:"IAI"},
        {label:"G.R(rural)", value:"GR"},
        {label:"A.G(Agriculture)", value:"AG"},
        {label:"I.T.E.F(eaux et forêts)", value:"ITEF"},
        {label:"I.T.E(élévages)", value:"I.T.E"},
      ],
      statusEmplois:[
        {label:"Entrepreneur", value:'entrepreneur'},
        {label:"salarié", value:'salarié'},
        {label:"Sans Emploi", value:'sans-emploi'},
      ]
    }
  },
  computed:{
    ...mapGetters('membres/membre', ['getMembre']),

  },
  methods: {
          submitForm2() {
            this.isFormValide=true

            if(this.newMemberTwo.photo ===""){
              this.fieldErrorName='photo'
              this.isFormValide=false
              this.$toast.error('ajouter une photo')
              return
            }

            if(this.newMemberTwo.pays_residence ===""){
              this.fieldErrorName='pays_residence'
              this.isFormValide=false
              this.$toast.error('indiquer le pays de résidence')
              return
            }

            if(this.newMemberTwo.ville_residence ===""){
              this.fieldErrorName='ville_residence'
              this.isFormValide=false
              this.$toast.error('indiquer la ville de résidence')
              return
            }


            if(this.newMemberTwo.region_activites ===""){
              this.fieldErrorName='region_activites'
              this.isFormValide=false
              this.$toast.error('formulaire incomplète')
              return
            }

            if(this.newMemberTwo.specialite ===""){
              this.fieldErrorName='specialite'
              this.isFormValide=false
              this.$toast.error('formulaire incomplète')
              return
            }

            if(this.newMemberTwo.status_emplois ===""){
              this.fieldErrorName='status_emplois'
              this.isFormValide=false
              this.$toast.error('formulaire incomplète')
              return
            }

            if(this.isFormValide){
              if(this.newMemberTwo.entreprise !==''){
                  this.newMemberTwo.entrepreneur = true
              }

             this.$emit('submitted', this.newMemberTwo)
            }else {
              this.$emit('submitted', false)
            }
        },
      selectAvatar(event) {
      this.$refs.avatar.click();
      },
    changeHandler(){
          const fileInput = this.$refs.avatar
          const file = fileInput.files[0];
      try {
          const fileExtension = file?.name.toLowerCase().substring(file.name.lastIndexOf('.'));
          if (file?.type.startsWith('image/') && ['.jpg', '.jpeg', '.png', '.webp'].includes(fileExtension) ){
            this.newMemberTwo.photo = file
            const reader = new FileReader();
            reader.onload = () => {
              const url = reader.result;
              const image = {
                url,
                name: file.name,
                size: file.size
              };
              this.$refs.avatarPreview.src= image.url;
            };
            reader.readAsDataURL(file);
          }else{
            this.$toast.error('format autorisés: .jpg .png .jpeg .webp')
            this.newMemberTwo.photo = null
          }
      } catch (e) {
      console.error(e)
      }

      },
    cleanNumero(value) {
      this.newMemberTwo.contact2 = value.replace(/[^\d]/g, '');
    },
      },

  watch:{
    handler(){

    }
  }
}
</script>

<style lang='scss' scoped>
 .btn-success.avatar-file-upload{
   border: None;
   font-size: 1.05em;
   font-weight: 800;
   background-color: var(--color-primary) !important;
   &:active, &:focus-within, &:focus{
     border: None !important;
   }
 }
 .avatar-preview{
   height: 10rem;
   width: 10rem;
   background-color: white;
 }
</style>
