<template>
    <div class="">
        <section class="player-header">
            <div class="container my-4 py-4">
                <div class="row">
                    <div class="col-12  order-1 mt-4 py-4 ">
                        <h2 class="h2 bounce bounceIn animated">Formations gestion des exploiations Agricoles</h2>
                    </div>
                    <div class="col-md-8 order-3 p-0 m-0 z-depth-1">
                        <div class="player  bounce animated">
                            <div class="filtre"></div>
                            <img src="@/assets/img/people/2.jpg" class="cover" alt="cover" srcset="">
                        </div>
                    </div>
                    <div class="col p-1 m-0  order-4 order-md-3  z-depth-1">
                        <h2 class="h2 my-2"> Playlist</h2>
                        <div class="playlist">
                            <div class="card bounce bounceRight animated">
                                <PlayListItem key="1" index="1" title="Introduction" duration="03:50"
                                    class="bounceInUp animated" />
                                <PlayListItem key="2" index="2" title="Comptabilité" duration='02:50'
                                    class="bounceInUp animated" />
                                <PlayListItem key="3" index="3" title="Trics GPS" duration='02:55'
                                    class="bounceInUp animated" />
                                <PlayListItem key="4" index="4" title="QGIS partie 1" duration="03:50"
                                    class="bounceInUp animated" />
                                <PlayListItem key="5" index="4" title="Comptabilité" duration='02:50'
                                    class="bounceInUp animated" />
                                <PlayListItem key="6" index="5" title="Trics GPS" duration='02:55'
                                    class="bounceInUp animated" />
                                <PlayListItem key="7" index="7" title="Introduction" duration="03:50"
                                    class="bounceInUp animated" />
                                <PlayListItem key="8" index="8" title="Comptabilité 2" duration='02:50'
                                    class="bounceInUp animated" />
                                <PlayListItem key="8" index="8" title="Comptabilité 2" duration='02:50'
                                    class="bounceInUp animated" />
                                <PlayListItem key="8" index="8" title="Comptabilité 2" duration='02:50'
                                    class="bounceInUp animated" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12  order-3 order-md-4 col-md-8 my-2 py-2  ">
                        <div class="player-footer">
                            <h4 class="h4">lecture: <strong>Introduction du cours</strong> </h4>
                            <outline-button label="télécharger"></outline-button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ressources">
            <div class="container">
                <div class="row cours-tag py-4">
                    <div class="col-12">
                        <h2 class="h2 text-center white-text">Ressources</h2>
                    </div>
                    <FormationCoursTagIcon title="Documents" />
                      <FormationCoursTagIcon title="Liens" />
                      <CoursTagIcon />
                </div>
            </div>
        </section>
    </div>
</template>
<script >
import CoursTagIcon from '~/components/formation/CoursTagIcon'
export default {
  components: { CoursTagIcon }
}
</script>
<style>
.player {
    width: 100%;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(-180deg, rgba(0, 0, 1, 0.212), #25314C);
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.player-header {
    background: var(--white);
}

.player-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cover {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1);
    z-index: -1;
}

.filtre::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 490px;
    display: block;
    left: 0;
    top: 0;
    background: linear-gradient(-180deg, rgba(0, 0, 1, 0.212), #25314C);
    opacity: 1;

}

.player:hover .filtre::before,
.player:hover .cover {}

.playlist {
    max-height: 424px;
    overflow: auto;
}


.commentaire{
    justify-content: center;
}

.cours-tag{
justify-content: center;
}

.ressources{
    background-image: linear-gradient(to top,rgba(43, 41, 41, 0.363),#25314C);
    background-size: 200%;
}
</style>
