<template>
    <div class="container my-4">
        <div class="row">
            <div class="col-12">
                <p class="text-center h2">...</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  mounted() {
    this.redirect('/formations/')
  }
}

</script>
