<template>
  <div class="mt-2 bounce bounceInRight animated">
    <UserInfo title="Information Personnelles" class="my-4">
      <section class="bio-info pb-2 mb-3">
        <h1>Bio Graph</h1>
      <div class="row">
        <UserInfoItem v-for="(data, index) in personnalData" :key="index" :label="data.label" :value="data.value" />
      </div>
      </section>
      <section class="bio-info">
        <h1>Info Scolaire</h1>
      <div class="row">
        <UserInfoItem v-for="(data, index) in infoSchool" :key="index" :label="data.label" :value="data.value" />
      </div>
      </section>
    </UserInfo>
  </div>
</template>

<script>
import UserInfo from "~/components/profil/UserInfo.vue";
import UserInfoItem from "~/components/profil/UserInfoItem.vue";
export default {
  components: {
    UserInfo,
    UserInfoItem,
  },
  middleware: ['session', 'auth', 'userAgent'],

  data() {
    return {
      personnalData: {
        firstName: {
          label: "Nom",
          value: 'Kouacou'
        },
        lastName: {
          label: "Prénoms",
          value: 'Boris Bob'
        },
        birthday: {
          label: "Date de Naissaince",
          value: '15 juin 1996'
        },
        birthdayPlace: {
          label: "Lieu de Naissance",
          value: 'yamoussoukro'
        },
        promotion: {
          label: "Promotion",
          value: '47'
        },
        statut: {
          label: "Statut",
          value: "Eleves Ingénieur'"
        },
        contact1: {
          label: "Contact",
          value: '0759188395'
        },
        contact2: {
          label: "Contact 2",
          value: "0565073392"
        },
        email1: {
          label: "Email",
          value: "leponge@ae2ita.com"
        },
        email2: {
          label: "Email 2",
          value: "bob@ae2ita.com"
        },
        domicile: {
          label: "Domicile",
          value: 'Dabou'
        },
        nationalite: {
          label: "Nationalité",
          value: 'Ivoirienne'
        },
      },
      infoSchool:{
        matricule:{
          label:'Matricule INP',
          value:'20INP00465'
        },

        Niveau:{
          label:'Niveau',
          value:'ITA 1'
        },
        specialite:{
          label:'Spécialité',
          value:'Tronc commun'
        },
        Residence:{
          label:'Résidence INP',
          value:'R5 C32'
        },
      }
    }
  }
}

</script>



<style lang="scss" scoped>
.bio-info:not(.bio-info:last-child){
  border-bottom: solid 1px #ccc;
}

</style>
