<template>
  <div class="mt-4 pt-2">
   <PosteForm />
  </div>
</template>

<script>
import PosteForm from "~/components/profil/posteForm.vue";

export default{
  components:{
PosteForm
  }
}

</script>



<style lang="scss" scoped>

</style>
