<template>
  <div class="mt-2 bounce bounceInRight animated">
    <ProfilUserInfo title="Mes Documents" class="my-4">

      <section class="bio-info">
        <h1>Cv</h1>
        <div class="row">
          <div class="col-6">
            <div class="row justify-content-between">
              <div v-for="(image, index) in uploadedImages" :key="index" class="col-3 image-item ">
                <img class="img-fluid" :src="image.url" :alt="image.name" @click="removeImage(index)" />
                <!-- <p>{{ image.name }}</p>
                <p>{{ image.size }}</p> -->
                <i v-show="showTrash" class="fas fa-trash-alt" ></i>

              </div>
            </div>
            <p>Total Size: {{ formatFileSize(totalFileSize) }}</p>
          </div>
          <div class="col">
            <InputsFileUploader @file-uploaded="fileUploadedHander" />
          </div>
        </div>
      </section>
    </ProfilUserInfo>
  </div>
</template>

<script>
export default {
  data() {
    return {
      uploadedImages: [],
      totalFileSize:0,
      showTrash:false,
    }
  },
  computed: {
 
    totalSize() {
      return this.formatFileSize(this.totalFileSize);
    }
  },
  methods: {
    fileUploadedHander(file) {
      // Vérifier si le fichier est une image
      if (file.type.startsWith('image/')) {
        const reader = new FileReader();
        reader.onload = () => {
          const url = reader.result;
          const image = {
            url,
            name: file.name,
            size: this.formatFileSize(file.size)
          };
          this.uploadedImages.push(image);
          this.totalFileSize += image.size;
        };
        reader.readAsDataURL(file);
      }

    },
    calculateTotalSize() {
      let totalSize = 0;
      for (const image of this.uploadedImages) {
        totalSize += image.size;
      }
      return this.formatFileSize(totalSize);
    },
    formatFileSize(fileSize) {
      if (fileSize === 0) return '0 B';

      const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];
      const i = Math.floor(Math.log(fileSize) / Math.log(1024));

      return parseFloat((fileSize / Math.pow(1024, i)).toFixed(2)) + ' ' + sizes[i];
    },
    removeImage(index) {
      if (index >= 0 && index < this.uploadedImages.length) {
    const t =this.uploadedImages.splice(index, 1);
    console.log(t)
  }
    }
  }
}
</script>



<style lang="scss" scoped>

.image-grid {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  // // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr 1fr 1fr));
  // grid-gap: 14px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(2.5);
}

.image-item {
  text-align: center;
    border-radius: 0.75em;
    background: #ccc;
    height: 67px;
    overflow: hidden;
    margin: 2px;
    &:hover{
      transform: scale(1.1);
    }
}
i{
  color: var(--danger);
    font-size: 2em;
    position: absolute;
    left: 42%;
    top: 45%;
}
</style>
