<template>
    <div class="auth-page">
        <MyContainer name="navbarpill" class="mt-md-4">
            <div class="col-1">
                <NuxtLink to="/"  class="home-link p-2 z-depth-1 waves-effect waves-light">
                    <i class="fas fa-home fa-2x  "></i>
                </NuxtLink>
            </div>
            <NavigationBarPill :routes="routes" />
        </MyContainer>

        <nuxt-child></nuxt-child>

    </div>
</template>

<script>
import MyContainer from '~/components/MyContainer.vue'
import NavigationBarPill from '~/components/NavigationBarPill.vue'

export default {
  components: { NavigationBarPill, MyContainer },
    layout:'authLayout',

    data(){
        return{
            routes:[{
                to:'authentifications/connexion',
                lable:'connexion'
            },
            {
                to:'authentifications/inscriptions',
                lable:'inscription'
            }]
        }
    }
}

</script>

<style lang="scss" scoped>
@import 'assets/scss/screen.scss';

a.home-link{
    border:solid 1px var(--color-primary);
    border-radius: 50%;
    color: var(--color-primary);
    display:block;
    align-items: center;
    transition: all .3s ease;
    cursor: pointer;
    position: fixed;
   top:35%;
   left:2%;
  background-color: white;
  z-index: 999;
  .fa-home{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    }
    &:hover{
        transform:scale(1.1);
    }
    i{
    color: var(--color-primary);
    cursor: pointer;
}
    @media (min-width: $xm-screen) {
      top:25%;
      left:2%;
    }
    @media (min-width: $lg-screen) {

            left: 5%;
            top: 25%;
    }

}

</style>
