<template>
    <div>
        <section-hero />
        <div class="container-fluid mb-5">

            <div class="">
                <!-- Grid row -->
                <div class="row" style="margin-top: -100px;">

                    <!-- Grid column -->
                    <div class="col-md-12">

                        <div class="card pb-5">
                            <div class="card-body">

                                <div class="container">

                                    <!-- Section: Contact v.2 -->
                                    <section class="text-center">

                                        <!-- Section heading -->
                                        <h2 class="font-weight-bold title h1 my-5">Nous contacter</h2>
                                        <!-- Section description -->
                                        <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet,
                                            consectetur
                                            adipisicing
                                            elit. Fugit, error amet numquam iure
                                            provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum
                                            porro
                                            a pariatur accusamus veniam.</p>

                                        <div class="row pt-5">

                                            <!-- Grid column -->
                                            <div class="col-md-8 col-xl-9 mb-4">
                                                <form>

                                                    <!-- Grid row -->
                                                    <div class="row">

                                                        <!-- Grid column -->
                                                        <div class="col-md-6">
                                                            <div class="md-form mb-0">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" id="contact-name"
                                                                        class="form-control">
                                                                    <label for="contact-name" class="">Votre nom</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Grid column -->

                                                        <!-- Grid column -->
                                                        <div class="col-md-6">
                                                            <div class="md-form mb-0">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" id="contact-email"
                                                                        class="form-control">
                                                                    <label for="contact-email" class="">Votre email</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Grid column -->

                                                    </div>
                                                    <!-- Grid row -->

                                                    <!-- Grid row -->
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="md-form mb-0">
                                                                <input type="text" id="contact-Subject"
                                                                    class="form-control">
                                                                <label for="contact-Subject" class="">Sujet</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Grid row -->

                                                    <!-- Grid row -->
                                                    <div class="row">

                                                        <!-- Grid column -->
                                                        <div class="col-md-12">

                                                            <div class="md-form mb-0">
                                                                <textarea type="text" id="contact-message"
                                                                    class="md-textarea form-control" rows="3"></textarea>
                                                                <label for="contact-message" class="">votre message</label>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- Grid row -->

                                                </form>

                                                <div class="text-center text-md-left mt-4">
                                                   <outline-button label="envoyer"></outline-button>
                                                </div>
                                            </div>
                                            <!-- Grid column -->

                                            <!-- Grid column -->
                                            <div class="col-md-4 col-xl-3">
                                                <ul class="list-unstyled contact-icons">
                                                    <li>
                                                        <i class="fas fa-map-marker-alt fa-2x orange-text"></i>
                                                        <p>Yamoussoukro, CI</p>
                                                    </li>

                                                    <li>
                                                        <i class="fas fa-phone fa-2x orange-text"></i>
                                                        <p>+ 225 24 67 89 00</p>
                                                    </li>

                                                    <li>
                                                        <i class="fas fa-envelope fa-2x orange-text"></i>
                                                        <p>contact@ae2ita.ci</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Grid column -->

                                        </div>

                                    </section>
                                    <!-- Section: Contact v.2 -->

                                </div>
                            </div>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
        </div>

    </div>
</div></template>