<template>
  <section class="p-4 p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="m-4 p-4 text-center mx-auto">
            <h1 v-if="checkStatusCode(404)">{{ title }}</h1>
            <h1 v-else>Code error {{ error.statusCode }}</h1>
          </div>
          <nuxt-link to="/">retour à la page d'accueil</nuxt-link>
        </div>
      </div>
    </div>
  </section>
</template>
  
<script>
export default {
  name: 'error',
  props: {
    error: {
      type: Object,
      default: () => { }
    }
  },

  data: () => ({
    title: "Page not found"
  }),
  head() {
    return {
      title: this.title,
      meta: [
        {
          hid: "error-description",
          name: "description",
          content: `${this.title} description`
        }
      ]
    };
  },
  methods: {
    checkStatusCode(num) {
      return this.error.statusCode === num;
    }
  },


};
</script>
  