<template>
  <div>
    <SectionHeroHome >
      <OutlineButton to="/#nosReseaux" label='Explorer' class='mx-auto' />
    </SectionHeroHome >

    <MyContainerFluid class="pb-1" name="notreIntro" title="Apropos de l'AE2ITA" sub-title="Amicale des élèves ingénieurs et ingénieurs des techniques agricoles" >
     <AboutIta :short="getShort" :is-link=true class="col-12 col-md-10"/>
    </MyContainerFluid>

    <MyContainerFluid name="nosReseaux" title="Nos Pôles" sub-title="AE2ITA est composé de deux grandes pôles, à savoir:" :full=true class="">
      <NosReseaux />
    </MyContainerFluid>

     <MyContainerFluid name="nos-filières" title="nos spécialités" :full=true>
      <NosSpecialites />
    </MyContainerFluid>

    <MyContainerFluid name="actualités" title="actualités" :full=true class="">
      <div class='row'>
          <ArticleSlide  />
      </div>
    </MyContainerFluid>


    <MyContainer name='experts' title='Experts du mois'>
      <div class='row'>
        <ExpertSlider class='col-12' />
      </div>
    </MyContainer>

    <MyContainerFluid name='emplois' title="Offre d'emplois & Formations"
                      sub-title='Emplois et stages pour vous!' :full='true'>
      <JobMegaphone />
    </MyContainerFluid>

    <MyContainerFluid name='formations'
                      :full='true'>
      <JobMegaphone :img-url='require("@/assets/img/formation_link_2.png")'
                    title='la pratique vous attend'
                    sub-title='ameliorez votre skill grace au module de formation pratique'
                    :reverse=true
                    link='/formations/'
                    link-label="Decouvre maintenant"
                    />
    </MyContainerFluid>

    <MyContainerFluid
        name='publications' title="Note d'information"
        sub-title='Publication du B.E AE2ITA'
        :full='true'
        style="background-image:  url('/images/gavel.jpg');"
        class='filter'>
      <PublicationIntro />
    </MyContainerFluid>

    <MyContainerFluid :full="true" name='testimonial' title='Temoignages'>
      <div class='row'>
        <TestimonialSlide class='col-12' />
      </div>
    </MyContainerFluid>

     <MyContainerFluid
       name='Anniversaire' title="Anniversaires Du Jour" sub-title='25-07-2023' :full='false'>
       <HappySlider class='col-lg-12' />
    </MyContainerFluid>

    <MyContainerFluid
      name='deoCompo' title="Bon à savoir" :full='false'>
      <AccordeonsSimple />
    </MyContainerFluid>

</div>
</template>

<script>
import {mapGetters} from 'vuex'
import NosReseaux from '~/components/NosReseaux.vue'
import MyContainerFluid from '~/components/MyContainerFluid'
import NosSpecialites from '~/components/NosSpecialites'
import MyContainer from '~/components/MyContainer'
import TestimonialSlide from '~/components/blog/TestimonialSlide'
import JobMegaphone from '~/components/emplois/JobMegaphone'
import PublicationIntro from '~/components/publications/PublicationIntro'
import SectionHeroHome from '~/components/SectionHeroHome'
import OutlineButton from '~/components/OutlineButton'
import HappySlider from '~/components/blog/HappySlider'
import {metaHeader} from '~/utils/metaHead'
import AboutIta from '~/components/AboutIta.vue'
import ArticleSlide from '~/components/blog/ArticleSlide.vue'
import ExpertSlider from '~/components/sliders/ExpertSlider.vue'
import AccordeonsSimple from '~/components/AccordeonsSimple.vue'
export default {
   name: 'IndexPage',
  middlewares:[],
  scrollToTop: true,
  components: {
    AccordeonsSimple,
    ExpertSlider,
    ArticleSlide,
    AboutIta,
    HappySlider,
    OutlineButton,
    SectionHeroHome,
      PublicationIntro, JobMegaphone,    TestimonialSlide,
    MyContainer,  NosSpecialites, MyContainerFluid, NosReseaux },
  computed:{
     ...mapGetters('about', ['getShort'])
  },
  data(){
     return {
       img:require('@/assets/img/cadre_2.jpg')
     }
  },
  head(){
     return {
       meta: metaHeader("Bienvenue sur la plateforme des ITAs", 'AE2ITA regroupe élèves ingénieurs et ingénieurs des techniques agricoles de côte d"ivoire', '/apple-touch-icon.png')
     }
  }
  // middleware: 'auth'
}

</script>

<style lang="scss" scoped>

.img-overlay{
  position: absolute;
  top: 0;
  left: 0;
}
</style>
