<!-- eslint-disable vue/valid-template-root -->
<template>
    <transition name="slide">
      <div class="presentation-parent">
        <SectionHero title='PRESENTATIONS' sub-title='AMICALE DES ELEVES INGENIEURS ET INGENIEURS DES TECHNIQUES AGRICOLES' />
        <MyContainer name="navBarSmall">
          <div class="nav col-12">
            <div class="col-12 d-flex justify-content-center filter-group">
              <div class="btn-group" role="group" aria-label="Basic">
                <button
                  v-for="(route, index) in routes" :key="index"
                  type="button" class="btn btn-custom p-1 p-md-3 p-lg-4"
                  :class="{ 'active': $route.fullPath === baseRoute.concat(route.route) }"
                  @click="getRoute($event, baseRoute.concat(route.route))">{{ route.label }}</button>
              </div>
            </div>
          </div>
        </MyContainer>
        <div class="presentation-child">
          <NuxtChild />
        </div>
      </div>
    </transition>
</template>
<script>
import SectionHero from '~/components/SectionHero'
import MyContainer from '~/components/MyContainer.vue'
export default{
  components: { MyContainer, SectionHero },
  props:[],
    data(){
        return{
            baseRoute:'/presentations',
            routes:[
            {
                label:'Générale',
                route:'/'
            },
            {
                label:'Mot du Président',
                route:'/president'
            },
            {
                label:'Composition Du Bureau',
                route:'/bureau'
            },

            {
                label:'Status',
                route:'/status'
            },
            ],
            selectedType:'all'
        }
    },
    methods:{
        getRoute(e, path){
            this.$router.push(path)
        }
    }
}

</script>
<style lang="scss" scoped>

.nav{
  overflow-x: scroll;
}
.active {
    background: var(--color-primary) !important;
    color: white !important;

    &.btn-custom {
        color: white !important
    }
}

.btn-custom, a.btn-custom {
    background-color: white;
    color: var(--color-primary) !important;
    font-weight: 600;
    border: 1px solid transparent !important;

    &:hover {
        border: 1px solid var(--color-primary) !important;
    }
}

.filter-group{
    // overflow: scroll;
}

@media screen {

}
</style>
