<template>
  <MyContainer name="profil-main" class="profil-main justify-content-center">
   
    <div class="col-3">
      <ProfilSideBar >
        <ProfilUserCard />
      </ProfilSideBar>
    </div>
   
    <div class="col-8">
     <div class="page-content">
     <NuxtChild></NuxtChild>
     </div>
    </div>
  </MyContainer>
</template>

<script>

export default {
  name: 'profils',
  components:{},
  layout:'profilLayout', 
}
</script>

<style lang="scss" scoped>

</style>
