<script>
export default {
  name: "reseaux"
};
</script>

<template>
<div>
  <div>
     <SectionHero classes='intro-2' sub-title='Le reseaux des entrepreneurs' title='ENTREPRISES' />
  </div>
  <div class="d-flex justify-content-center">
    <nuxt-child></nuxt-child>
  </div>
</div>
</template>

<style scoped lang="scss">

</style>
