<template>
  <div id="GalleriesDetail">
    <SectionHero
      :title="getActiveAlbum.label"
      class="intro-2"
      :sub-title="getActiveAlbum.titre"
    />
    <div class="container">
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-12">
          <ul class="nav nav-body nav-justified my-4">
            <li class="nav-item mx-1 mx-2 mx-lg-3 bounce animated zoomIn">
              <a @click.prevent="setView(true)"
                class="nav-link z-depth-1 waves-effect"
                :class="{
                  active: showPhoto,
                }"
                data-toggle="tab"
                to="photos"
                role="tab"
                aria-selected="true"
              >
                <img
                  class="svg"
                  src="@/assets/svg/ios_photos_240.svg"
                  alt="galerie conver"
                  srcset=""
                /><br />
                <span class="h2">Photos</span>
              </a>
            </li>

            <li class="nav-item mx-1 mx-md-2 mx-lg-3 bounce animated">
              <a
                @click.prevent="setView(false)"
                class="nav-link z-depth-1 waves-effect"
                :class="{
                  active: !showPhoto,
                }"
                data-toggle="tab"
                to="videos"
                role="tab"
                aria-selected="false"
              >
                <img
                  class="svg"
                  src="@/assets/svg/video-course.svg"
                  alt="video album btn"
                  srcset=""
                /><br />
                <span class="h2">Vidéos</span>
              </a>
            </li>
          </ul>

          <!-- Tab panels -->
          <div class="tab-content">
            <LoadingFluide v-if="isLoading" />
            <GalleryPhotos v-else-if="!isLoading && showPhoto"  :album-images="album.album_images"  />
            <GalleryVideos v-else-if="!isLoading && !showPhoto" :album-videos="album.album_videos"/>
          </div>
        </div>
        <!-- Grid column -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import LoadingFluide from '~/components/LoadingFluide'
import { metaHeader } from '~/utils/metaHead'
import GalleryPhotos from '~/components/medias/GalleryPhotos.vue'
import GalleryVideos from '~/components/medias/GalleryVideos.vue'

export default {
  components: { GalleryVideos, GalleryPhotos, LoadingFluide },
  scrollToTop: true,
  props: [],
    async asyncData({ store, params }) {
     await store.dispatch('albums/readAlbum', params.slug)
      console.log('data async')
    return { album: store.getters['albums/getActiveAlbum'] }
  },
  data: function () {
    return {
      currentData: null,
      showPhoto:true
    }
  },

  head() {
    return {
      title: this.album?.titre,
      meta: metaHeader(
        this.album?.titre,
        this.album?.description,
        this.album?.cover
      ),
    }
  },
    computed: {
    ...mapGetters('albums', [
      'getAlbumImages',
      'getActiveAlbum',
      'getAlbumBySlug',
      'getAlbumVideos',
      'isLoading',
      'getError',
    ]),
  },
  methods: {
    ...mapActions('albums', ['readAlbum']),
    setView(value){
      this.showPhoto = value
    },
    playVideo() {
      this.$Fancybox.show([
        {
          src: 'https://www.youtube.com/watch?v=z2X2HaTvkl8',
          type: 'video',
          ratio: 16 / 10,
          width: 640,
          height: 360,
        },
      ])
    },
  },
}
</script>

<style lang="scss" scoped>
@import "~/assets/scss/screen.scss";

@media (max-width: $sm-screen) {
  span.h2{
    font-size: 1.5em;
  }
}

img {
  max-height: 220px;
}

a, button {
  color: var(--color-2) !important;
}

.nav-justified {
  justify-content: center !important;
}

.nav-item {
  flex-grow: 0 !important;
}

img.svg {
  max-width: 84px !important;
  height: auto;
  @media (max-width: $sm-screen) {
    max-width: 64px !important;
  }
}

.nav-body .nav-link {
  border-radius: 1em;
}

.nuxt-link-active {
  color: red !important;
}

.nuxt-link-exact-active {
  color: green !important;
}

.nav-body .nav-link.active {
  background-color: var(--color-2);
  color: white !important;
  /* box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); */
  transform: scale(1.2);
  animation-duration: 1s;
  animation-fill-mode: infinite;
  animation-delay: 0;
}

.nav-body .nav-link:hover {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.nav-body .nav-link:hover:not(.nav-body .nav-link.active) {
  animation-name: notActiveZoom;
}

.nav-body .nav-link.active {
  animation-name: ActiveZoom;
}

.animation {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: clickZoom;
  animation-iteration-count: infinite;
}

@keyframes notActiveZoom {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }
}

@keyframes ActiveZoom {
  0%,
  100% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.25);
  }
}

</style>
