<template>
  <div>
        <SectionHero title='Galleries' class='intro-2' sub-title='Tous Les Meilleurs Souvenirs' />
    <div class='section'>
    <div class='container'>
      <div class='row my-3' style='justify-content: space-around;'>
        <LoadingFluide v-if='isLoading' />
        <AlbumCard v-for='album in getAlbums' :key='album.slug'
                   :album='album'
                   data-aos='fade-up'
                   class="animated zoomIn" />
        <div v-if='getAlbums.lenght === 0 && !isLoading' class='col-4 mx-auto'>
          <h3 class='h3 text-center'>Vide !</h3>
        </div>
      </div>
    </div>

  </div>

  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import AlbumCard from '~/components/AlbumCard'
import LoadingFluide from '~/components/LoadingFluide'
import SectionHero from '~/components/SectionHero.vue'

export default {
  components: { SectionHero, LoadingFluide, AlbumCard },
  data() {
    return {
      datas: []
    }
  },
  computed:{
    ...mapGetters('albums', ['getAlbums', "isLoading", "getError"])
  },
  mounted() {
    this.fetchAlbums(null, null, null)
  },
    async asyncData({store}){
    try {
      await store.dispatch("albums/fetchAlbums", null, null, null)
    }catch (e) {
     console.error("error async", e)
    }
  },
  methods:{
    ...mapActions("albums", ['fetchAlbums'])
  }
}

</script>
