<template>
    <div class="comments-list text-center text-md-left">
        <div class="section-heading mt-5 mb-5">
            <h4 class="font-weight-bold mt-5 mb-5 text-center color-primary">
                <strong>Commentaires</strong>
            </h4>
        </div>
        <!-- First row -->
        <BlogCommentCard v-for="count in 2" :key="count" />
        <!-- First row -->
    </div>
</template>