<template>
    <section class="mb-4 wow fadeIn" data-wow-delay="0.2s">
        <h3 class="font-weight-bold text-center my-5 color-primary">
            Commenter
        </h3>

        <!-- Grid row -->
        <div class="row">
            <div class="col-12 mt-1">
                <div class="form-group basic-textarea rounded-corners shadow-textarea">
                    <textarea class="form-control" id="exampleFormControlTextarea6" rows="5"
                        placeholder="votre commentaire ici"></textarea>
                </div>

                <div class="text-right">
                    <button class="btn bg-primary btn-rounded text-white text-bold waves-effect waves-light">
                        Envoyer
                    </button>
                </div>
            </div>
        </div>
        <!-- Grid row -->
    </section>
</template>

<style scoped>
.basic-textarea textarea.form-control:focus-within {
    border: 1px solid #0ba360;
}
</style>