<template>
    <div class="col-md-5 col-12 my-3 " :class="classes">
        <div class="cours-card py-3 px-2 card" >
            <span class="py-3 title">{{ title }}</span>
        
            <div class="row">
                <div class="content col-12">
                    <ul class="">
                        <li class=""> 
                            <IconsPdfFile class="svg"/> Support 1.pdf
                        </li>
                        <li class=""> 
                            <IconsPdfFile class="svg"/> Support 2.pdf
                        </li>
                        <li class="">
                            <IconsPdfFile class="svg"/> Support 3.pdf    
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: true,
        },
        classes:{
            type: String,
            required: false,
            default:''
        }
    },

}

</script>


<style scoped>
.cours-card {
    /* background: #2bbbad; */
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 1.1em;
    color: gray;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

ul li {
    margin-top: 0.25rem;
}

/* col-md-5  */
@media (min-width: 768px){
    .cours-card{
        /* margin-top: -37px; */
    }
    }

    .svg{
        height: 24px;
        width: 24px;
    }
</style>