<template>
<div id="galleryVideo" class="gallery" >
              <FancyBox>
                <div v-for='video in formations'  :key='video.id' class="video-fluid mb-3 pics animation fadeInUp all 2">
                  <a data-fancybox :data-download-src="video.video" class="waves-effect zoom video-fluid" :href="video.video">
                   <img :src="video.thumbnail" class='rounded' />
                  </a>
                </div>
              </FancyBox>
</div>
</template>

<script>

import FancyBox from '~/components/FancyBox'
export default {
  name: 'VideoGallerie',
  props:{
    formations:{
      type:Array,
      default:()=>[]
    },
  },
  components: { FancyBox  }
}
</script>

<style scoped>
#galleryVideo{
  -moz-column-count: 4;
    column-count: 4;
    -moz-column-width: 33%;
    column-width: 33%;
}
img{
  max-height: 250px;

}
</style>
