<template>
  <div class="video-player-playlist">
    <video
      ref="videoPlayer"
      class="video-js vjs-default-skin"
      controls
      preload="auto"
    >
      <!-- Source tags for each video in the playlist -->
      <source v-for="(vid, index) in playlist" :key="index" :src="vid.video"  type="video/mp4" />
      <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
    </video>
    <div class="playlist">
      <div
        class="playlist-item"
        v-for="(deo, index) in playlist"
        :key="index"
        @click="changeVideo(index)"
        :class="{ active: currentVideoIndex === index }"
      >
        {{ deo.titre }}
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    playlist: Array
  },
  data() {
    return {
      currentVideoIndex: 0
    };
  },
  mounted() {
    this.initVideoPlayer();
  },
  methods: {
    initVideoPlayer() {
      const options = {
        fluid: true,
        sources: [
          {
            src: this.playlist[this.currentVideoIndex].source,
            type: this.playlist[this.currentVideoIndex].type
          }
        ]
      };
      this.player = this.$videojs(this.$refs.videoPlayer, options);
      this.player.on("ended", this.playNextVideo);
    },
    changeVideo(index) {
      this.currentVideoIndex = index;
      this.player.src([
        {
          src: this.playlist[this.currentVideoIndex].source,
          type: this.playlist[this.currentVideoIndex].type
        }
      ]);
      this.player.play();
    },
    playNextVideo() {
      if (this.currentVideoIndex < this.playlist.length - 1) {
        this.changeVideo(this.currentVideoIndex + 1);
      }
    }
  },
  beforeDestroy() {
    if (this.player) {
      this.player.dispose();
    }
  }
};
</script>

<style scoped>
.video-player-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.playlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin-top: 16px;
}

.playlist-item {
  padding: 8px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  transition: background-color 0.2s;
}

.playlist-item.active {
  background-color: #d3d3d3;
}

.video-js {
  width: 100%;
  height: auto;
}
</style>
