<template>
    <div>
      <video-player :options="videoOptions" />
    </div>
  </template>
  
  <script>
  
  export default {
    name: 'VideoExample',
    components: {
      
    },
    data() {
      return {
        videoOptions: {
          autoplay: true,
          controls: true,
          sources: [
            {
              src:
                '/path/to/video.mp4',
                type: 'video/mp4'
            },
            {
              src:
                '/path/to/video.mp4',
                type: 'video/mp4'
            }
          ]
        }
      };
    }
  };
  </script>