<template>
  <!-- Panel 1 -->
  <div id='photos' class='tab-pane fade in active show' role='tabpanel'>
    <br>
    <!-- Grid row -->
    <div class='gallery' id='gallery'>
      <FancyBox :options='options'>
        <GalleryPhotoItem v-for='(photo, index) in getAlbumImages' :key='index' :photo='photo' />
      </FancyBox>
    </div>
    <!-- Grid row -->
  </div>
  <!-- Panel 1 -->
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import GalleryPhotoItem from '~/components/GalleryPhotoItem'

export default {
  components: { GalleryPhotoItem },
  props: [],
  data: function() {
    return {
      options: {
        Carousel: { infinite: false }, Toolbar: {
          display: {
            left: ['infobar'],
            middle: [
              'zoomIn',
              'zoomOut',
              'toggle1to1',
              'rotateCCW',
              'rotateCW',
              'flipX',
              'flipY'
            ],
            right: ['download', 'slideshow', 'fullscreen', 'thumbs', 'close']
          }
        }
      }
    }
  },
  computed:{
     ...mapGetters('albums', ["getAlbumImages", "isLoading", ])
  },
  methods: {
     ...mapActions("albums", ['fetchImagesForAlbum']),
  },
  watch:{
    '$route.params.slug':{
      immediate:true,
      handler(slug){
        if (slug !== undefined){
          this.fetchImagesForAlbum(slug)
        }
      }
    }
  },
  async mounted() {
    const slug = this.$route.params.slug
    if (slug !== undefined){
    await this.fetchImagesForAlbum(slug)}
  }
}

</script>

<style >
/* gallery */
.gallery {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-width: 33%;
    column-width: 33%;
}
</style>
