<template>
    <div id='videos' class='tab-pane fade in active show' role='tabpanel'>
      <br>
      <div class='gallery' id='gallery'>
        <FancyBox :options='options'>
          <GalleryVideoItem v-for='(video, index) in getAlbumVideos' :key='index' :video='video' />
        </FancyBox>
      </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import GalleryVideoItem from '~/components/GalleryVideoItem'

export default {
  components: { GalleryVideoItem },
  props: [],
  data: function() {
    return {
      options: {
        Carousel: { infinite: false }
      }
    }
  },
  computed:{
    ...mapGetters('albums', ["getAlbumVideos", "isLoading", ]),
  },
  methods: {
   ...mapActions("albums", ['fetchVideosForAlbum']),
  },

  async mounted() {
    const slug = this.$route.params.slug
    if(slug !== undefined){
    await this.fetchVideosForAlbum(slug)}
  },
    watch:{
    '$route.params.slug':{
      immediate:true,
      handler(slug){
        if (slug !== undefined){
          this.fetchVideosForAlbum(slug)
        }
      }
    }
  },
}

</script>

<style scoped>
/* gallery */
.gallery {
  column-count: 2;
}


@media (min-width: 768px) {
  .gallery {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .gallery {
    column-count: 4;
  }
}
</style>
