<template>
  <div>
    <SectionHero title='Bibliothèques Numérques' class='intro-2' sub-title='Tous vos supports de cours en poche' />
    <div class='container-fluid'>
      <section class='DocSearch'>
        <div class='container'>
          <div class='row justify-content-center'>
            <div class='col-lg-8 col-md-8 form-search'>
              <SearchForm />
            </div>
          </div>
        </div>
      </section>
      <NuxtChild title='documents' />
    </div>
  </div>
</template>

<script>
export default {
  props: [],
  mounted() {

  }

}
</script>

<style>
.form-search {
  margin-top: -6rem;
}
</style>
