<script>
import SectionHero from '~/components/SectionHero.vue'
import MyContainer from '~/components/MyContainer.vue'
import ButtonImage from '~/components/ButtonImage.vue'

export default {
  name: "index",
  components: { ButtonImage, MyContainer, SectionHero }
};
</script>

<template>
 <div>
   <section-hero title="Bibliothèques" class="intro-2" sub-title="Dernières actualités" />
    <div class='container-fluid'>
      <section >
        <MyContainer name="BibliothèquesPage" title="Nos Bibliothèques" description="Les bibliothèques de l'AE2ITA" >
        <div class='container'>
          <div class='row justify-content-center'>
            <ButtonImage class="color-8" page-link="/bibliotheques/medias" :image-path="require('~/assets/icons/galerie_2.png')" button-text="Photos" />
            <ButtonImage class="color-1" page-link="/bibliotheques/docs" :image-path="require('~/assets/icons/collection.png')" button-text="Documents" />
          </div>
        </div>
        </MyContainer>
      </section>
      <nuxt-child></nuxt-child>
    </div>
 </div>
</template>

<style scoped lang="scss">

</style>
