<template>
    <div class="profil-side">
      <slot></slot>
    </div>
</template>

<script>
import UserCard from "./UserCard.vue";
export default {
  comments:{
    UserCard
  }
}
</script>



<style lang="scss" scoped>

.profil-side{
  position: relative;
  z-index: 1;
}
</style>
