<template>
  <div class="user-info">
    <div class="panel rounded ">
          <div class="user-info-heading text-center white-text font-bold py-3 rounded-top">
           {{ title }}
          </div>
          <div class="panel-body bio-graph-info container">
              <slot></slot>
          </div>
      </div>
  </div>
</template>

<script>

export default{
  components:{

  },
  props:{
    title:{
      type:String,
      required:true,
    }
  },

}


</script>



<style lang="scss" scoped>
.panel{
  background: white;
  box-sizing: border-box;
  // padding: 5px;

  .user-info-heading{
    background: var(--color-primary);
  }
}
</style>
