<template>
    <div class="profile-nav z-depth-1 rounded">
        <div class="panel">
            <div class="user-heading round">
                <a href="#">
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                </a>
                <h1>Kouacou Boris</h1>
                <p>boris@@ae2ita.com</p>
            </div>

            <ul class="nav nav-pills nav-stacked flex-column">
                <li v-for="(route, index) in routes" :key="index" :class="{'active': $route.name===route.pathName}">
                   <nuxt-link class="link" :to="{name:route.pathName}">

                        <i :class="route.icon"></i>

                        {{ route.label }}
                   </nuxt-link>
                </li>
                <li class="">
                    <a href="#" @click.prevent='deconnect' type='button' class="mx-auto text-center" style="color:red">
                        <i class="fas fa-arrow-from-top fa-2x  "></i>
                        Deconnexion
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import {mapActions} from 'vuex'

export default{
    data(){
    return {
      routes:[
        {
          label:'Mon Profil',
          pathName:'profils',
          icon:' fas fa-user fa-2x'
        },
        {
          label:'Mes Parcours',
          pathName:'profils-cursus',
          icon:'fas fa-graduation-cap fa-2x'
        },
        {
          label:'Mes Documents',
          pathName:'profils-documents',
          icon:'fas fa-graduation-cap fa-2x'
        },
        {
          label:'Paramtres du compte',
          pathName:'profils-parametres',
          icon:'fas fa-graduation-cap fa-2x'
        },
        {
          label:'Publications',
          pathName:'profils-publications',
          icon:'fas fa-graduation-cap fa-2x',
        },
        {
          label:'Mes Cotisations',
          pathName:'profils-cotisations',
          icon:'fas fa-graduation-cap fa-2x',
        }

      ]
    }
  },
  computed:{

  },
  methods:{
      ...mapActions('auth', ['logout']),
    deconnect(){
        this.logout()
        this.$router.push('/')
    }
  }
}
</script>



<style lang="scss" scoped>
@import '/assets/scss/main.scss';

$card-bg: var(--color-primary);

.profile-nav {
    margin-top: 30px;

    .user-heading {
        background: $card-bg;
        color: #fff;
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        padding: 30px;
        text-align: center;

        &.round a {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 10px solid rgba(255, 255, 255, 0.3);
            display: inline-block;
        }

        a img {
            width: 112px;
            height: 112px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        h1 {
            font-size: 24px;
            font-weight: bolder;
            margin-bottom: 5px;
        }

        p {
            font-size: 12px;
        }

    }

    ul {
        margin-top: 0px;

        &>li {
            border-bottom: 1px solid #ebeae6;
            margin-top: 0;
            line-height: 30px;

            &:last-child {
                border-bottom: none;
            }

            &>a {
                transition: all .3s ease;
                border-radius: 0;
                -webkit-border-radius: 0;
                color: $color-gray;
                border-left: 5px solid #fff;
                padding-left: 3px;
                // background: red;
                display: block;
                background-color: white;
                &:hover
                 {
                    background: $card-bg !important;
                    border-left: 10px solid white;
                    color: white !important;

                    i {
                        color: white;
                    }

                }

            }
            &.active a {
                    background: #f8f7f5 !important;
                    border-left: 5px solid $card-bg;
                    color: $color-gray !important;
                   i{
                    color:$color-gray !important;
                   }
                &:hover i{
                    color: $color-gray !important;
                }
                }
        }
    }

}


.profile-nav ul>li:last-child>a:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav ul>li>a>i {
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
    color: #bcb3aa;
}
</style>
