<template>
  <div class="col-5">
    <strong>{{ value }}</strong>
    <p><span>{{ label }}</span></p>
  </div>
</template>

<script>
export default {
  props:{
    label:{
      type:String,
      required:true
    },
    value:{
      type:String,
      required:true
    }
  }
  
}
</script>



<style lang="scss" scoped>

strong{
 font-size: 20px;

}

</style>
