

<template>
 <div class="mt-4 pt-4">
   <SuccesCard  v-if="error" class="error mt-4" message="Compte non Confirmé" sub-message="Le lien de confirmation est invalide ou a expiré" />
   <SuccesCard v-if="!error" message="Compte Confirmé" sub-message="Vous pouvez vous connecter avec votre email et mot de passe fournie!" />
 </div>
</template>

<script >
import SuccesCard from '~/components/SuccesCard.vue'
export default {
  components:{SuccesCard},

  async asyncData({$axios, query}){
    const token = query.token
    const uid = query.uid
    let error = true
    try{
     await $axios.get(`/activations/?token=${token}&uid=${uid}`)
    error = false
    } catch (e){

    }

    return {
      error
    }

  }
}

</script>
<style scoped lang="scss">

</style>
