<template>
    <div class="login-page mt-3">
      <MyContainer name="login-page" title="ESPACE MEMBRE">
        <LoginForm class=""/>
      </MyContainer>
    </div>
  </template>
<script >
import LoginForm from '~/components/auth/LoginForm'
export default {
  name:'connexion',
  components: { LoginForm },
  middlewares: 'csrfToken'

}
</script>

  <style>

  </style>
