<template>
<div>
  <SectionHeroMaster :title='publication.titre' sub-title=''  class='article-intro' v-if='getError === null && !isLoading'>

   <div class='spna-line'>
      <span class='badge badge-pill badge-info py-1 my-1'>{{ publication.ordre}}</span>
      <span class='badge badge-pill badge-success py-1 my-1'> {{publication.commisson}}</span>
   </div>
    <br />
    <FlatButton to='/actualites/bureaux/' label='Retour' :is-link=true />
  </SectionHeroMaster>
 <MyContainerFluid title='' name='bureauxDetailPage' v-if='getError === null'>
   <LoadingFluide v-if='isLoading'  style='margin-top: 6.5em'/>
   <div class='col-lg-10 col-12' v-else>
     <div class='publication-container shadow my-4'>
       <div class='pub-body p-4'>
          <p v-html='publication.contenu'></p>
       </div>
       <div @click.prevent='downloadPdf(publication.fichier)'>
         <WaitingMaterial v-if='isDonwloaded' class='mr-4' />
         <OutlineButton v-else label='Télécharger le PDF' :is-link=false :donwload=true :to='publication.fichier' class='bounce bounceIn animated' />
       </div>
      <div class='pub-footer p-3'>
        <span class='font-weight-bold'>{{ publication.signature }}</span> <br />
        <span>Le {{  formatDate(publication.date_creation) }} </span>
      </div>
     </div>
   </div>
 </MyContainerFluid>
  <MyContainerFluid name='Error404' class='' v-else>
    <CustomError :error-code=404 style='margin-top: 6.5em' />
  </MyContainerFluid>

  <MyContainerFluid name='BureauSuggestion' title='Suggestions' class='px-2 px-md-0' >
    <PublicationIntroChild v-for='post in suggestions' :publication='post' :key='post.slug' class='mx-1 mx-md-2' />
  </MyContainerFluid>
</div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import moment from 'moment'
import SectionHeroMaster from '~/components/SectionHeroMaster'
import FlatButton from '~/components/FlatButton'
import MyContainerFluid from '~/components/MyContainerFluid'
import LoadingFluide from '~/components/LoadingFluide'
import OutlineButton from '~/components/OutlineButton'
import PublicationIntroChild from '~/components/publications/PublicationIntroChild'
import CustomError from '~/components/CustomError'
import WaitingMaterial from '~/components/WaitingMaterial'

export default {
  name: 'BureauxSlug',

  components: { WaitingMaterial, CustomError, PublicationIntroChild, OutlineButton, LoadingFluide, MyContainerFluid, FlatButton, SectionHeroMaster },
  data(){
    return{
      isDonwloaded:false
    }
  },
  computed:{
    ...mapGetters('blog/publications', ['getActivePublication','getSuggestions', 'isLoading', 'getError']),
    publication(){
      return this.getActivePublication
    },
    suggestions(){
      return this.getSuggestions.slice(0,2)
    }
  },
  methods: {
    ...mapActions('blog/publications', ['fetchPublicationBySlug', 'fetchSuggestions']),
    formatDate : (dateString) => {
  const dateObj = moment(dateString);
  const formattedDate = dateObj.locale('fr').format("DD MMMM YYYY");
  return formattedDate;
   },
    downloadPdf(url){
      this.isDonwloaded = true
      const link = document.createElement('a');
      link.href = url;
      link.download = url.split('/')[-1];
      link.target = '_parent';
      link.rel = 'noopener noreferrer';
      link.click();
      setTimeout(()=>{
        this.isDonwloaded=false
      }, 2000)
    }
  },
   watch: {
    '$route.params.slug': {
      immediate: true,
      handler(slug) {
        if(slug !== undefined){
           this.fetchPublicationBySlug(slug)
        }

      },
    },
  },
  mounted() {
    this.fetchSuggestions()
  }
}
</script>

<style scoped>
.publication-container{
  border-radius: 1.2em;
}
p{
}
span.badge{

}
</style>
