<template>
<div>
  <SectionHero title="PUBLICATIONS DU BUREAU" class="intro-2 intro-4" sub-title="Notes d'information de B.E" />
  <MyContainerFluid name='bureauPage' title='Note du B.E'>
    <LoadingFluide v-if='isLoading' />
    <PublicationIntroChild v-for='pub in getPublications' :publication='pub' :key='pub.slug' class='col-lg-10' v-else />
    <p class='display-1 text-center' style='font-size: 24px' v-show='getPublications.length===0 && !isLoading'>Aucoune donnée pour le moments !</p>
  </MyContainerFluid>
</div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import MyContainerFluid from '~/components/MyContainerFluid'
import PublicationIntroChild from '~/components/publications/PublicationIntroChild'
import LoadingFluide from '~/components/LoadingFluide'
import SectionHero from '~/components/SectionHero.vue'
export default {
  name: 'index',
  components: { SectionHero, LoadingFluide, PublicationIntroChild,  MyContainerFluid },
  computed:{
    ...mapGetters('blog/publications', ['isLoading', 'getPublications', 'getError'])
  },
  methods:{
    ...mapActions('blog/publications', ['fetchPublications'])
  },
  mounted() {
    this.fetchPublications(100,0)
  }
}
</script>

<style scoped>

</style>
