<template>
  <div>
    <SectionHeroMaster v-if='!isLoading'
                       :bg-img='`background: url(${article.cover});backgroundSize: cover;backgroundRepeat: no-repeat;`'
                       :title='article.titre'
                       class='shadow-none mx-auto article-intro'>
      <div class='d-lg-inline-flex'>
        <span class='type badge badge-success badge-pill shadow-none mr-1'>{{ article.type }}</span>
        <span class='type badge badge-success badge-pill shadow-none'>{{ formatedDate }}</span>
      </div>
      <OutlineButton label=' <- Retour' to='/actualites/' />
    </SectionHeroMaster>
    <LoadingFluide v-if='isLoading' style='margin-top: 6.5em' />
    <section v-else-if='!isLoading && !getError'>
      <div class='container-fluid mt-5 mt-md-0 mb-5'>
        <!-- Grid row -->
        <div class='row' style='margin-top: 0px'>
          <!-- Grid column -->
          <div class='col-md-12 px-lg-5'>
            <!-- Card -->
            <div class='card pb-5 mx-md-3 shadow-none'>
              <div class='card-body p-0  p-md-3 p-lg-5'>
                <div class='container'>
                  <!-- Section heading -->
                  <h1 class='text-center h1 pt-4 mb-3'>
                    <strong>{{ article.titre }}</strong>
                  </h1>

                  <div class='row'>
                    <div
                      class='col-md-12 col-xl-12 d-flex justify-content-center'>
                      <p class='font-small dark-grey-text mb-1'>
                        <strong>Auteur:</strong> {{ article.auteur.nom }}
                      </p>
                      <p class='font-small grey-text mb-0 ml-3'>
                        <i class='far fa-clock dark-grey-text'></i> {{ formatedDate }}
                      </p>
                    </div>
                  </div>

                  <!-- Grid row -->
                  <div class='row pt-lg-5 pt-3'>
                    <!-- Grid column -->
                    <div class='col-md-12 col-xl-12'>
                      <!-- Grid row -->
                      <div class='row mb-2 mt-4'>
                        <p class='dark-grey-text article'>
                          {{ article.description }}
                        </p>

                      </div>
                      <!-- Grid row -->
                      <div class='row'>
                        <h4
                          class='text-center font-weight-bold dark-grey-text mt-3 mb-3 col-12'>
                          <strong>Images Associées </strong>
                        </h4>
                      </div>
                      <!-- Grid row -->
                      <div id='gallery' class='gallery'>
                        <!-- Grid column -->
                        <FancyBox :options='options'>
                          <div :key='article.slug' class='mb-3 pics animation fadeInUp all 2'>
                            <a :data-download-src='article.cover' :href='article.cover' class='waves-effect'
                               data-fancybox='gallery'>
                              <img :alt='article.titre'
                                   :src='article.cover'
                                   :srcset='article.cover'
                                   class='img-fluid rounded'
                              />
                            </a>
                          </div>
                          <div v-for='(photo, index) in article.images' :key='index'
                               class='mb-3 pics animation fadeInUp all 2' style='max-width: 385px'>
                            <a :data-download-src='photo' :href='photo' class='waves-effect' data-fancybox='gallery'>
                              <img :alt='article.titre'
                                   :src='photo'
                                   class='img-fluid rounded'
                              />
                            </a>
                          </div>
                        </FancyBox>

                        <!-- Grid column -->
                        <!-- Grid column -->
                      </div>
                      <!-- Grid row -->

                    </div>
                    <!-- Grid column -->
                  </div>
                  <!-- Grid row -->
                </div>
              </div>
            </div>
            <!-- Card -->
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>

    <section
      class='mb-5 wow fadeIn'
      data-wow-delay='0.3s'
      style='visibility: visible; animation-name: fadeIn; animation-delay: 0.3s'
    >
      <div class='container-fluid'>
        <!-- Section heading -->
        <h3 class='text-center my-5 text-center h3'>SUGGESTIONS</h3>
        <!-- Grid row -->
        <div class='row justify-content-center px-3 px-lg-5'>
          <!-- Grid column -->
          <ActuCard v-for='sug in suggestions' :key='sug.slug' :article='sug' />
        </div>
        <!-- Grid row -->
      </div>


    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'
import SectionHeroMaster from '~/components/SectionHeroMaster'
import LoadingFluide from '~/components/LoadingFluide'
import OutlineButton from '~/components/OutlineButton'
import FancyBox from '~/components/FancyBox'
import ActuCard from '~/components/blog/ActuCard'
import { metaHeader } from "~/utils/metaHead";

export default {
  components: { ActuCard, FancyBox, OutlineButton, LoadingFluide, SectionHeroMaster },
  data() {
    return {
      options: {
        Carousel: { infinite: false }, Toolbar: {
          display: {
            left: ['infobar'],
            middle: [
              'zoomIn',
              'zoomOut',
              'toggle1to1',
              'rotateCCW',
              'rotateCW',
              'flipX',
              'flipY'
            ],
            right: ['download', 'slideshow', 'fullscreen', 'thumbs', 'close']
          }
        }
      }
    }
  },
  computed: {
    ...mapGetters('blog/articles', ['getActiveArticle', 'getSuggestions', 'isLoading', 'getError']),
    article() {
      return this.getActiveArticle
    },
    formatedDate() {
      moment.locale('fr')
      const date = moment(this.article.date_creation, 'YYYY-MM-DD')
      return date.format('DD MMMM YYYY')
    },
    suggestions() {
      return this.getSuggestions.slice(0, 3)
    }
  },
    head(){
    return {
      title:this.article?.titre,
      meta:metaHeader(this.article?.titre, this.article?.description, this.article?.cover)
    }
  },
  methods: {
    ...mapActions('blog/articles', ['fetchArticleBySlug', 'fetchSuggestions'])
  },
  watch: {
    '$route.params.slug': {
      immediate: true,
      handler(slug) {
        if (slug !== undefined) {
          this.fetchArticleBySlug(slug)
        }
      }
    }
  },
  mounted() {
    this.fetchSuggestions()
  }
}
</script>


<style lang='scss' scoped>
@import '/assets/scss/screen';

.article-intro {
  background-repeat: no-repeat;
  margin-block-start: 0;
  max-height: 500px;
  height: 500px;
  border-radius: 0 0 2em 2em;
}
</style>
