
<template>
  <div>
    <SectionHero />
    <MyContainerFluid :full="!isDesktop" name="TopEvent" title="Top Evènements" >
     <div class="col-12">
       <LoadingFluide v-if="isLoading" />
       <div class="event-grid" v-else>
         <EventCard class="mb-4" v-for="(event, index) in getEvenements" :event="event" :key="index"/>
       </div>
     </div>
    </MyContainerFluid>
  </div>
</template>

<script >

import {mapActions, mapGetters} from 'vuex'
import SectionHero from '~/components/SectionHero.vue'
import MyContainerFluid from '~/components/MyContainerFluid.vue'
import EventCard from '~/components/blog/EventCard.vue'
import { useDeviceType } from '~/utils/usedeviceType'
import LoadingFluide from '~/components/LoadingFluide.vue'

export default {
  components:{ LoadingFluide, MyContainerFluid, SectionHero, EventCard},
  setup(){
    const { isDesktop} = useDeviceType()
    return {
      ...mapActions('blog/evenements', ['fetchEvenements']),
      isDesktop,
    }
  },
  computed:{
    ...mapGetters('blog/evenements', ['getEvenements', 'isLoading']),
  },
  mounted() {
    this.fetchEvenements()
  }
}

</script>


<style scoped lang="scss">
@import 'assets/scss/screen';

.event-grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  @media (max-width: $sm-screen) {
    grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 25px;
  }
  @media screen and (min-width: $md-screen) and (max-width: $lg-screen) {
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
  }
}
</style>
