<template>
  <div>
    <SectionHero />
    <section>
      <div class="container-fluid">
        <!-- Section heading -->
        <h2 class="font-weight-bold my-5 text-center color-primary">A LA UNE</h2>

        <!-- Grid row -->
         <LoadingFluide v-show='isLoading' />
        <div v-show="articles.length>0 && !isLoading" class="row text-center mb-2 mx-lg-5">
          <ActuCard v-for="(article) in visibleArticles"
                    :key="article.slug" :article='article'
                    class="bounce fadeInUp animated" />
          <DataPaginations v-if="articles.length>0" :datas="articles"  @loadmore="paginatedData" />
        </div>

        <div v-show='articles.length===0 && !isLoading' class="row text-center mb-2">
          <p class="text-center">Aucune donné pour le moment</p>
        </div>
        <!-- Grid row -->

      <PagePagination />
      </div>
    </section>
  </div>
</template>


<script>
import {mapGetters, mapActions} from 'vuex';
import ActuCard from '~/components/blog/ActuCard'
import LoadingFluide from '~/components/LoadingFluide'
import PagePagination from '~/components/PagePagination.vue'
import SectionHero from '~/components/SectionHero.vue'
import DataPaginations from '~/components/DataPaginations.vue'
export default {
  components: { DataPaginations, SectionHero, PagePagination, LoadingFluide, ActuCard },
    data() {
    return {
       visibleDatas: [],
       remainingDocs: [],
       itemsPerPage: 3,
        isAdding:false
    }
  },
  computed:{
    ...mapGetters('blog/articles', ['getArticles', 'getRemainingArticles', 'isLoading', 'getError',]),
    articles(){
      return this.getArticles
    },
    visibleArticles(){
      return this.visibleDatas
    }
  },
  mounted() {

  },
  created() {
    this.fetchArticles();
  },
  methods:{
    ...mapActions('blog/articles', ['fetchArticles']),
    loadMore() {
      if (this.remainingDocs.length===0){
        this.remainingDocs = this.getRemainingArticles;
      }
      this.isAdding = true;
      setTimeout(() => {
        const nextDocs = this.remainingDocs.splice(0, this.itemsPerPage);
        this.visibleDocs = this.visibleDocs.concat(nextDocs);
        this.isAdding = false;
      }, 1000);
    },
    paginatedData(event){
      this.visibleDatas = event
    }
  }
}

</script>

<style>

</style>
