<template>
  <div>
    <section class='doc-listes'>
      <div class='container'>
        <div class='row justify-content-center pt-4 pt-4'>
          <MySectionHeading :title='`Dossier ${$route.params.slug}`' class='my-2 bounce bounceInUp aniamated' />
          <div class='col-12 d-flex justify-content-center filter-group'>
            <div class='btn-group' role='group' aria-label='Basic'>
              <button
                type='button' class='btn btn-custom bounce bounceInLeft p-1 p-md-3'
                :class="{ 'active': selectedType === 'all' }"
                @click="checkFile($event, 'all')">Tous
              </button>
              <button
                type='button' class='btn btn-custom p-1 p-md-3' :class="{ 'active': selectedType === 'pdf' }"
                @click="checkFile($event, 'pdf')">PDF
              </button>
              <button
                type='button' class='btn btn-custom p-1 p-md-3' :class="{ 'active': selectedType === 'pptx' }"
                @click="checkFile($event, 'pptx')">Powerpoint
              </button>
              <button
                type='button' class='btn btn-custom p-1 p-md-3' :class="{ 'active': selectedType === 'docx' }"
                @click="checkFile($event, 'docx')">Word
              </button>
              <button
                type='button' class='btn btn-custom p-1 p-md-3' :class="{ 'active': selectedType === 'xlsx' }"
                @click="checkFile($event, 'xlsx')">Excel
              </button>
            </div>
          </div>
          <DocsCard
            v-for='(file, index) in filteredFiles' :key='index' :file='file' :duration='500'
            class='mx-2 my-1' />
          <div class='col-12 d-flex justify-content-center'>
            <LoadingFluide v-if='isLoading' />
            <i v-else @click='loadMore'>
              <OutlineButton
                v-if='remainingDocs.length > 0' to='/' label='charger plus' :is-link='false'
                data-aos='fade-in' />
            </i>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {

  data: function() {
    return {
      documents: [
        {
          id: 1,
          name: 'cours : Résumé du cours de Probabilté 1',
          type: 'pdf',
          size: 2048,
          date: '2023-06-18',
          link: '/documents/document.pdf',
          folder: 'ita_1'
        },
        {
          id: 2,
          name: 'Presentation.pptx',
          type: 'pptx',
          size: 4096,
          date: '2023-06-19',
          link: '/documents/Presentation.pptx',
          folder: 'ita_2'
        },
        {
          id: 3,
          name: 'Spreadsheet.xlsx',
          type: 'xlsx',
          size: 3072,
          date: '2023-06-20',
          link: '/documents/Spreadsheet.xlsx',
          folder: 'ita_3'
        },
        {
          id: 4,
          name: 'word.docx',
          type: 'docx',
          size: 3072000,
          date: '2023-06-20',
          link: '/documents/word.docx',
          folder: 'bureau'
        },
        {
          id: 5,
          name: 'cours : Résumé du cours de Probabilté 5',
          type: 'pdf',
          size: 2048,
          date: '2023-06-18',
          link: '/documents/document.pdf',
          folder: 'ita_2'
        },
        {
          id: 6,
          name: 'Presentation.pptx',
          type: 'pptx',
          size: 4096,
          date: '2023-06-19',
          link: '/documents/Presentation.pptx',
          folder: 'ita_2'
        },
        {
          id: 7,
          name: 'Spreadsheet.xlsx',
          type: 'xlsx',
          size: 3072,
          date: '2023-06-20',
          link: '/documents/Spreadsheet.xlsx',
          folder: 'autres'
        },
        {
          id: 8,
          name: 'word.docx',
          type: 'docx',
          size: 3072000,
          date: '2023-06-20',
          link: '/documents/word.docx',
          folder: 'ita_2'
        },
        {
          id: 9,
          name: 'word.docx',
          type: 'docx',
          size: 3072000,
          date: '2023-06-20',
          link: '/documents/word.docx',
          folder: 'bureau'
        },
        {
          id: 1,
          name: 'cours : Résumé du cours de Probabilté 1',
          type: 'pdf',
          size: 2048,
          date: '2023-06-18',
          link: '/documents/document.pdf',
          folder: 'ita_1'
        },
        {
          id: 2,
          name: 'Presentation.pptx',
          type: 'pptx',
          size: 4096,
          date: '2023-06-19',
          link: '/documents/Presentation.pptx',
          folder: 'ita_2'
        },
        {
          id: 3,
          name: 'Spreadsheet.xlsx',
          type: 'xlsx',
          size: 3072,
          date: '2023-06-20',
          link: '/documents/Spreadsheet.xlsx',
          folder: 'ita_3'
        },
        {
          id: 4,
          name: 'word.docx',
          type: 'docx',
          size: 3072000,
          date: '2023-06-20',
          link: '/documents/word.docx',
          folder: 'bureau'
        },
        {
          id: 5,
          name: 'cours : Résumé du cours de Probabilté 5',
          type: 'pdf',
          size: 2048,
          date: '2023-06-18',
          link: '/documents/document.pdf',
          folder: 'ita_2'
        },
        {
          id: 6,
          name: 'Presentation.pptx',
          type: 'pptx',
          size: 4096,
          date: '2023-06-19',
          link: '/documents/Presentation.pptx',
          folder: 'ita_2'
        },
        {
          id: 7,
          name: 'Spreadsheet.xlsx',
          type: 'xlsx',
          size: 3072,
          date: '2023-06-20',
          link: '/documents/Spreadsheet.xlsx',
          folder: 'autres'
        },
        {
          id: 8,
          name: 'word.docx',
          type: 'docx',
          size: 3072000,
          date: '2023-06-20',
          link: '/documents/word.docx',
          folder: 'ita_2'
        },
        {
          id: 9,
          name: 'word.docx',
          type: 'docx',
          size: 3072000,
          date: '2023-06-20',
          link: '/documents/word.docx',
          folder: 'bureau'
        },
        {
          id: 5,
          name: 'cours : Résumé du cours de Probabilté 5',
          type: 'pdf',
          size: 2048,
          date: '2023-06-18',
          link: '/documents/document.pdf',
          folder: 'ita_2'
        },
        {
          id: 6,
          name: 'Presentation.pptx',
          type: 'pptx',
          size: 4096,
          date: '2023-06-19',
          link: '/documents/Presentation.pptx',
          folder: 'ita_2'
        },
        {
          id: 7,
          name: 'Spreadsheet.xlsx',
          type: 'xlsx',
          size: 3072,
          date: '2023-06-20',
          link: '/documents/Spreadsheet.xlsx',
          folder: 'autres'
        },
        {
          id: 8,
          name: 'word.docx',
          type: 'docx',
          size: 3072000,
          date: '2023-06-20',
          link: '/documents/word.docx',
          folder: 'ita_2'
        },
        {
          id: 9,
          name: 'word.docx',
          type: 'docx',
          size: 3072000,
          date: '2023-06-20',
          link: '/documents/word.docx',
          folder: 'bureau'
        },
        {
          id: 1,
          name: 'cours : Résumé du cours de Probabilté 1',
          type: 'pdf',
          size: 2048,
          date: '2023-06-18',
          link: '/documents/document.pdf',
          folder: 'ita_1'
        },
        {
          id: 2,
          name: 'Presentation.pptx',
          type: 'pptx',
          size: 4096,
          date: '2023-06-19',
          link: '/documents/Presentation.pptx',
          folder: 'ita_2'
        },
        {
          id: 3,
          name: 'Spreadsheet.xlsx',
          type: 'xlsx',
          size: 3072,
          date: '2023-06-20',
          link: '/documents/Spreadsheet.xlsx',
          folder: 'ita_3'
        },
        {
          id: 4,
          name: 'word.docx',
          type: 'docx',
          size: 3072000,
          date: '2023-06-20',
          link: '/documents/word.docx',
          folder: 'autres'
        },
        {
          id: 5,
          name: 'cours : Résumé du cours de Probabilté 5',
          type: 'pdf',
          size: 2048,
          date: '2023-06-18',
          link: '/documents/document.pdf',
          folder: 'ita_1'
        }

      ],
      selectedType: 'all',
      visibleDocs: [],
      remainingDocs: [],
      itemsPerPage: 6,
      isLoading: false
    }
  },
  computed: {
    ...mapState('docs', ['docs', 'folderDoc']),
    filteredFiles() {
      if (this.selectedType === 'all') {
        return this.visibleDocs
      } else {
        return this.visibleDocs.filter(file => file.type === this.selectedType)
      }
    }
  },
  watch: {
    '$route.params.slug': {
      immediate: true,
      handler(slug) {
        this.fetchDocsByFolder(slug)
        this.updateVisibleDocs()
      }
    }
  },
  mounted() {
    this.updateVisibleDocs()
  },

  created() {
    const folderSlug = this.$route.params.slug
    this.fetchDocsByFolder(folderSlug)
  },

  methods: {
    ...mapActions('docs', ['fetchDocs', 'fetchDocsByFolder']),
    checkFile(event, type) {
      // console.log(event.target.classList)
      this.selectedType = type
    },
    updateVisibleDocs() {

      this.visibleDocs = this.folderDoc.slice(0, this.itemsPerPage)
      this.remainingDocs = this.folderDoc.slice(this.itemsPerPage)
    },
    loadMore() {
      this.isLoading = true

      // const nextDocs = this.remainingDocs.splice(0, this.itemsPerPage);
      // this.visibleDocs = this.visibleDocs.concat(nextDocs);
      setTimeout(() => {
        const nextDocs = this.remainingDocs.splice(0, this.itemsPerPage)
        this.visibleDocs = this.visibleDocs.concat(nextDocs)
        this.isLoading = false
      }, 1000)
    }
  }

}
</script>

<style lang='scss' scoped>
.active {
  background: var(--color-primary) !important;
  color: white !important;

  &.btn-custom {
    color: white !important
  }
}

.btn-custom {
  background-color: white;
  color: var(--color-primary) !important;
  font-weight: 600;
  border: 1px solid transparent !important;

  &:hover {
    border: 1px solid var(--color-primary) !important;
  }
}
</style>

