<template>
  <div>
    <section class='sectionRaccourcirs'>
      <div class='container'>
        <div class='row justify-content-center'>
          <my-section-heading title='Mes Dossiers' class='mt-3 mb-2'></my-section-heading>
          <DocsFolder
            v-for='(folder, index) in folders' :key='index' :label='folder.label'
            :url='`/bibliotheques/docs/${folder.slug}`' :total-files='folder.itemCount' col='col-4 col-md-3 col-lg-2' />
        </div>
      </div>
    </section>
    <section class='doc-listes'>
      <div class='container'>
        <div class='row file-content pt-4 pt-4'>
          <MySectionHeading title='Fichiers Récents' class='my-2 bounce bounceInUp aniamated' />
          <DocsCard v-for='(file, index) in visibleDocs' :key='index' :file='file' :duration='500' class='mx-2 my-1' />
          <p>{{publicDocument}}</p>
          <LoadingFluide v-if='isLoading' />
          <i v-else @click='loadMore'>
            <OutlineButton
              v-if='remainingDocs.length > 0' to='/' label='charger plus' :is-link='false'
              data-aos='fade-in' />
          </i>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import LoadingFluide from '~/components/LoadingFluide'
import DocsFolder from '~/components/DocsFolder'
import DocsCard from '~/components/DocsCard'

export default {
  components: { DocsCard, DocsFolder, LoadingFluide },
  data: function() {
    return {
      folders: [{
        label: 'ITA 1',
        slug: 'ita_1',
        itemCount: 12
      },
        {
          label: 'ITA 2',
          slug: 'ita_2',
          itemCount: 112
        },
        {
          label: 'ITA 3',
          slug: 'ita_3',
          itemCount: 312
        },
        {
          label: 'BE',
          slug: 'bureau',
          itemCount: 10
        },
        {
          label: 'Autres',
          slug: 'AUTRES',
          itemCount: 10
        }
      ],
      visibleDocs: [],
      remainingDocs: [],
      itemsPerPage: 6,
      isLoading: false
    }
  },
  computed: {
    ...mapState('docs', ['docs']),
    ...mapState('document', ['publicDocument']),
  },
  mounted() {
    this.updateVisibleDocs()
    this.fetchDocs()
    this.fetchDocuments()
  },
  methods: {
    ...mapActions('docs', ['fetchDocs']),
    ...mapActions('document', ['fetchDocuments']),
    updateVisibleDocs() {
      this.visibleDocs = this.docs.slice(0, this.itemsPerPage)
      this.remainingDocs = this.docs.slice(this.itemsPerPage)
    },
    loadMore() {
      this.isLoading = true
      setTimeout(() => {
        const nextDocs = this.remainingDocs.splice(0, this.itemsPerPage)
        this.visibleDocs = this.visibleDocs.concat(nextDocs)
        this.isLoading = false
      }, 1000)
    },
    show() {
      this.$Fancybox.show([
        {
          src: 'https://docs.google.com/viewer?url=' + 'https://www.business-plan-excel.fr/wp-content/uploads/2019/11/Bulletin-scolaire-modele-excel.xlsx' + '&embedded=true',
          type: 'iframe',
          preload: true

        }
      ])

    }
  }
}
</script>

<style lang='scss' scoped>
.file-content {
  justify-content: center;
  align-items: inherit;
}

.color {
  color: red;
}

.form-search {
  margin-top: -6rem;
}

</style>
