<script>
import { mapActions, mapGetters } from 'vuex'
import EntrepriseCard from '~/components/cards/EntrepriseCard.vue'
import MyContainerFluid from '~/components/MyContainerFluid.vue'
import LoadingFluide from '~/components/LoadingFluide.vue'
import useAppLoading from '~/utils/useAppLoading'
export default {
  name: "entreprises",
  scrollToTop: true,
  components: { LoadingFluide, MyContainerFluid, EntrepriseCard },
  computed:{
    ... mapGetters('entrepise', ['getEntreprises', 'isLoading'])
  },
  methods:{
    ... mapActions('entrepise', ['fetchEntreprise'])
  },
  setup(){
    const {onLoading} = useAppLoading()
    return {
      onLoading
    }
  },
  async asyncData({store}){
     await store.dispatch('entrepise/fetchEntreprise')
  },

};
</script>

<template>
<section>
 <MyContainerFluid name="Entrepises" title="ENTREPRISES" class="mb-4 pb-4">
   <LoadingFluide v-if="isLoading" />
   <EntrepriseCard v-else v-for="(entre, index) in getEntreprises" :key="index" :entreprise="entre" data-aos="fade-left"  />
 </MyContainerFluid>
</section>
</template>

<style scoped lang="scss">

</style>
