<template>
  <div class="upload-container" :class="{ 'invalid-file': invalidFile === true }" ref="fileContainer"
    @dragover="handleDragOver" @dragleave="handleDragLeave" @drop="handleDrop">
    <div class="upload-icon">
      <i class="fas fa-cloud-upload-alt"></i>
    </div>
    <div class="upload-text">
      <p>Glissez et déposez un fichier ici</p>
      <p>ou</p>
      <p>
        <input ref="fileInput" multiple class="custom-file" type="file" @change="handleFileUpload" />
      </p>
    </div>
    <div v-show="showLoad" class="loading-overlay">
      <div class="upload-details">
        <div class="loading-spinner"></div>
        <p>{{ uploadFileName }}</p>
        <p>{{ uploadFileSize }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isLoading: false,
      uploadFileName: '',
      uploadFileSize: '',
      allowedFormats: ['.jpg', '.jpeg', '.png', '.webp'], // Formats autorisés
      invalidFile: false,
      uploadProgress: '',
      currentFile: ''
    };
  },
  computed: {
    showLoad(){
      return this.isLoading
    }

  },
  methods: {
    loadingVitesse(size, perSecond = 1000) {
      const fileSizeInBytes = size;
      const fileSizeInKB = fileSizeInBytes / 1024;
      return Math.ceil(fileSizeInKB / perSecond);
    },
    handleFileUpload(event) {
      const files = event.target.files;
      // Traitez le fichier téléchargé selon vos besoins
        this.uploadHandler(files)

    },

    handleDragOver(event) {
      event.preventDefault();
      event.stopPropagation();

      this.$el.classList.add('drag-over');

    },
    handleDragLeave(event) {
      event.preventDefault();
      event.stopPropagation();
      // Supprimer la classe ou les styles d'indication du survol lors du glisser-déposer
      this.$el.classList.remove('drag-over');
    },

    handleDrop(event) {
      event.preventDefault();
      event.stopPropagation();

      this.$el.classList.remove('drag-over');

      const files = event.dataTransfer.files;
      this.uploadHandler(files)

    },
    formatFileSize(fileSize) {
      if (fileSize === 0) return '0 B';

      const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];
      const i = Math.floor(Math.log(fileSize) / Math.log(1024));

      return parseFloat((fileSize / Math.pow(1024, i)).toFixed(2)) + ' ' + sizes[i];
    },
    checkFileType(file) {
      // const file = this.$refs.fileInput.files[0];
      console.log('file valiadation :', file);

      const fileExtension = file.name.toLowerCase().substring(file.name.lastIndexOf('.'));
      if (!this.allowedFormats.includes(fileExtension)) {
        // Format de fichier non autorisé
        this.invalidFile = true;
        this.$toast.error('format fichier non valide')
      } else {
        // Format de fichier autorisé
        this.invalidFile = false;
      }
    },
    handleFileWithProgess() {
      const file = this.$refs.fileInput.files[0];
      console.log('Fichier sélectionné :', file);

      // Réinitialiser les valeurs
      this.uploadFileName = file.name;
      this.uploadFileSize = this.formatFileSize(file.size);
      this.uploadProgress = '';

      const formData = new FormData();
      formData.append('image', file);
      formData.append('images', file);

      const xhr = new XMLHttpRequest();

      xhr.open('POST', 'https://api.ae2ita.com/api/albums/binomage-p45-46-2021-2022-yaoussoukro-2023/images/', true);

      // Gérer la progression du chargement
      xhr.upload.addEventListener('progress', (event) => {
        if (event.lengthComputable) {
          const progress = Math.round((event.loaded / event.total) * 100);
          this.uploadProgress = `Progression : ${progress}%`;
        }
      });

      xhr.onreadystatechange = () => {
        if (xhr.readyState === 4 && xhr.status === 200) {
          // Réponse du serveur
          this.isLoading = false;
          this.uploadProgress = '';
          // Autres opérations après le chargement réussi...
        }
      };

      xhr.send(formData);

      this.isLoading = true;
    },
    uploadHandler(files){
      for (let i = 0; i < files.length; i++) {
        const file = files[i];
        // console.log('Fichier glissé et déposé :', file);
        this.checkFileType(file);
        if (this.invalidFile === false) {
          this.uploadFileName = file.name;
          this.uploadFileSize = this.formatFileSize(file.size);

          this.isLoading = true;
          setTimeout(() => {
            this.isLoading = true;
            // Faites ici le traitement de fichier réel après le chargement
            // Par exemple, vous pouvez envoyer le fichier au serveur via une API
            this.$emit('file-uploaded', file);
            this.$toast.success('Fichier uploadé !: ', this.uploadFileName)
            this.uploadFileName = '';
            this.uploadFileSize = '';
            this.isLoading = false;
          }, this.loadingVitesse(file.size) * 1000); // Convertir en millisecondes
        }
      }
    }
  }
}

</script>
<style lang="scss" scoped>
@import '/assets/scss/main.scss';

.upload-container {
  // width: 200px;
  // height: 200px;
  border: 3px dashed #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // cursor: pointer;
}

.upload-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.upload-text {
  text-align: center;
}

.upload-details {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.browse-btn {
  text-decoration: underline;
  cursor: pointer;
}

.drag-over {
  border-color: var(--color-primary);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.custom-file {
  z-index: 0;

  &::after {
    content: "Parcourir";
    font-size: 18px;
    font-weight: 600;
    color: $color-gray;
    position: absolute;
    left: 0;
    /* display: block; */
    background: white;
    width: 100%;
    text-align: center;
    height: 3em;
    z-index: 1;
    cursor: pointer;

  }
}

.invalid-file {
  border: 2px solid red;
}
</style>
