<template>
  <div>
    <client-only>
      <quill-editor theme='snow' />
    </client-only>
  </div>
</template>

<script>

export default {
  name: 'RichTextEditor',
  props: {
    value: {
      type:String,
      default:'commencer à taper votre texte ici'
    },
  },
  data() {
    return {
      quill: null,
      option:{
      theme: 'snow', // Utilisez le thème 'snow' pour une interface propre
      modules: {
        toolbar: [
          ['bold', 'italic', 'underline', 'strike'], // Personnalisez les options de la barre d'outils selon vos besoins
          [{ header: [1, 2, 3, false] }],
          ['link', 'image', 'video'],
          ['clean'],
        ],
      },
    },
    };
  },
  mounted() {

  },
  beforeDestroy() {

  }

};
</script>
