<template>
        <div class="input-container mt-2 text-center w-100" :class="msg">
            <input :name="name"
            :type="type"
             class="text-input"
            :placeholder="placeholder"
            @input="handleInput($event)"
                   :value='value'
            />
        </div>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            required: false,
            default: ''
        },
        placeholder: {
            type: String,
            required: true,
            default: ''
        },
        type: {
            type: String,
            required: false,
            default: 'text'
        },
        min:{
            type:Number,
            required:false,
            default:2
        },
        max:{
            type:Number,
            required:false,
            default:25
        },
      require:{
          type:Boolean,
        default:true
      },
      name:{
          type:String,
           default: "champ1"
      },
      dataFormat:{
          type:String,
        default:""
      }


    },
    data() {
        return {
            msg: {
                error: false,
                success: false
            }
        }
    },
    methods: {
        valideTel(event){
            this.msg.error = true;
            this.msg.success = false;
            const value = event.target.value;
            // const isValide = /^(\+225)?\d{10}$/.test(value) && /^(\+2250)?\d{10}$/.test(value)
            const isValide = value.toString().length >= 10
            if (isValide) {
                this.$emit('input', value);
                this.$emit('error', true);
                this.msg.error = false;
                this.msg.success = true;
            }else{
                this.$emit('input', value);
                this.$emit('error', true);
                this.msg.error=true
                this.msg.success=false
            }
        },
        valideText(event){
            this.msg.error = true;
            this.msg.success = false;
            const value = event.target.value;
            const isValidLength = value.length >= this.min &&  value.length <= this.max;

            if (isValidLength) {
                this.$emit('input', event.target.value);
                this.msg.error = false;
                this.msg.success = true;
            }else{
                this.$emit('input', event.target.value);
            }
        },
        handleInput(event) {
            if(this.type==='text'){
                this.valideText(event);
            }else if (this.type==='tel'){
                this.valideTel(event);
        }
    }
}
}
</script>

<style lang="scss">
$bg-color:#f2f2f2;

    .input-container{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: $bg-color;
        border-radius: 20px;
        padding: 5px;
        max-height: 3.1rem;
        transition: all .3s ease;
        &:focus,
        &:focus-within {
            outline: solid 1px var(--color-primary);
            background: white;
        }

        &:focus-within {
            transform: scale(1.1)
        }

        &.error {
            outline: solid 1px var(--danger) !important;
            color: var(--danger);

            >.text-input {
                color: var(--danger);
              width: 100%;
            }
        }

        &.success {
            outline: solid 1px var(--color-primary) !important;
            color: var(--color-primary);

            >.text-input {
                color: var(--color-primary);
            }
        }

        .text-input {
            flex: 1;
            border: none;
            outline: none;
            font-size: 16px;
            padding: 10px;
            text-align: center;
            background-color: transparent !important;
            border-radius: 20px;
            &:focus,
            &:focus-within,
            a:active {
                background: transparent !important;
            }
        }

    }
</style>
