<template>
    <div class="mytext col-12">
        <div class="col-12 mt-2" :class="msg">
            <textarea required :class="msg" :v-model="defaultText"
                       :rows='rows' :placeholder="placeholder" @input="valideText($event)"
                     ></textarea>
        </div>
    </div>
</template>

<script>
export default {
  name:'TypeTextArea',
    props: {
        value: {
            type: String,
            required: false,
            default: 'defaut'
        },
       defaultText: {
            type: String,
            required: false,
            default: 'defaut'
        },
        placeholder: {
            type: String,
            required: true,
            default: ''
        },
        type: {
            type: String,
            required: false,
            default: 'text'
        },
        rows: {
          type: Number,
          required: false,
          default: 10
        },
        min:{
            type:Number,
            required:false,
            default:2
        },
        max:{
            type:Number,
            required:false,
            default:255
        },

    },
    data() {
        return {
            msg: {
                error: false,
                success: false
            }
        }
    },
    methods: {
        valideText(event){
            this.msg.error = true;
            this.msg.success = false;
            const value = event.target.value;
            const isValidLength = value.length >= this.min &&  value.length <= this.max;

            if (isValidLength) {
                this.$emit('input', event.target.value);
                this.msg.error = false;
                this.msg.success = true;
            }else{
                this.$emit('input', null);
            }
        },

}
}
</script>

<style lang="scss" scoped>
$bg-color:#f2f2f2;

.mytext{
    textarea{
        display: block;
        background-color: $bg-color;
        border-radius: 20px;
        padding: 5px;
        transition: all .3s ease;
        width: 100%;
        border: 1px solid #ccc;
        font-size: 16px;
        text-align: center;
        &:focus,
        &:focus-within {
            outline: solid 1px var(--color-primary);
            background: white;
          font-size: 18px;
        }

        &:focus-within {
            transform: scale(1.05)
        }

        &.error {
            outline: solid 1px var(--danger) !important;
            color: var(--danger);

            >.text-input {
                color: var(--danger);
            }
        }

        &.success {
            outline: solid 1px var(--color-primary) !important;
            color: var(--color-primary);

            >.text-input {
                color: var(--color-primary);
            }
        }

    }
}

</style>
