<template>
        <div class="input-container w-100 mt-2" :class="msg">
            <input
            :required="require" autocomplete
            :type="type"
            :value='value'
            class="text-input"
            :placeholder="placeholder" @input="handleInput($event)"  >
        </div>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            required: false,
            default: 'exemple@email.com'
        },
        placeholder: {
            type: String,
            required: true,
            default: ''
        },
        type: {
            type: String,
            required: false,
            default: 'text'
        },
        name: {
            type: String,
            default: 'email'
        },
      require:{
          type:Boolean,
        value:true
      }
    },
    data(){
        return{
            msg:{
                error:false,
                success:false

            }
        }
    },

    methods: {
        handleInput(event) {
            this.msg.error = true;
            this.msg.success = false;
            const email = event.target.value;
            const hasValideEmail = /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/.test(email)
            // const hasValideEmail2 = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(email)
            if (hasValideEmail) {
                this.$emit('input', event.target.value);
                this.msg.error = false;
                this.msg.success = true;
            }else{
                this.$emit('input', event.target.value);
                this.msg.error = true;
                this.msg.success = false;
            }
        }
    }
};
</script>
