<template>
  <div class="input-container w-100 mt-2" :class="msg">
            <input required autocomplete :type="type" class="text-input" :placeholder="placeholder" @input="handleInput($event)">
  </div>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            required: false,
            default: ''
        },
        placeholder: {
            type: String,
            required: true,
            default: 'mot de passe'
        },
        type: {
            type: String,
            required: false,
            default: 'password'
        },
        confirmPassword: {
            type: String,
            required: false,
            default: null
        }
    },
    data() {
        return {
            msg: {
                error: false,
                success: false
            }
        }
    },
    methods: {
        handleInput(event) {
            this.msg.error = true;
            this.msg.success = false;
            const password = event.target.value;
            const isValidLength = password.length >= 8;
            const hasValidCharacters = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).*$/.test(password);
            let isValide = false;
            if (isValidLength && hasValidCharacters) {
                isValide = true

                if (this.confirmPassword !== null) {
                     isValide = this.confirmPassword === password;

                }

                if(isValide){
                    this.$emit('input', password);
                    this.msg.error = false;
                    this.msg.success = true;
                }

            } else {
                this.$emit('input', password);
                this.msg.error = true;
                    this.msg.success = false;
            }
        }
    }
};
</script>
