<template>
    <div class="dropdown w-100" @click="toggleDropdown">
      <div class="header d-flex justify-content-between align-items-center py-1">
        <span class="text-center ml-2" >{{currentValue}}</span>
      <i class="fas fa-arrow-circle-down fa-1x mr-2"></i>
      </div>
      <div class="dropdown-content"  @click="toggleDropdown" :class="{'active':isVisible ===true, 'notActive':isVisible===false}">
        <ul class="list-unstyled p-0 overflow-hidden">
          <li
          v-for="(option, index) in options" :key="index"
          class="drop-item" :data-value="option.value" @click="setValue($event,option)" >{{ option.label }}</li>
        </ul>
      </div>
    </div>
</template>

<script>
export default {
  props:{
    label:{
      type:String,
      required:false,
      default:'input name'
    },

    options:{
      type:Array,
      required:true,
    }
  },
  data() {
    return {
      selectedValue:null,
      isOpen: false,
      optionss: [
        { label: 'Option 1', value: 'option1' },
        { label: 'Option 2', value: 'option2' },
        { label: 'Option 3', value: 'option3' },
      ],
    };
  },
  computed:{
    currentValue(){
      if(this.selectedValue === null){
        return this.label
      }
      return this.selectedValue
    },
    isVisible(){
      return this.isOpen
    }
  },
  methods: {

    toggleDropdown() {
      this.isOpen = !this.isOpen;
    },

    setValue(event, option) {
     this.isOpen=false;
      this.selectedValue = option.label;
      if(this.selectedValue !==this.label && this.selectedValue !== null){
        this.$emit('click', option.value);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
$bg-color: #f2f2f2;
$item-color:var(--color-primary);
$item-active:white;
$item-background:$item-active;
$item-active-background:$item-color;

.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
  background-color: $bg-color;
  border-radius: 20px;
  padding: 10px;
  max-height: 3.1rem;
  transition: all .3s ease;

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
    top: 35px;
    overflow-y: auto;
    max-height: 300px;
  }
  ul{
    // background: red;
    display: block;
    border-radius: 15px;
    padding-left:1px;
    margin-right: 1px;
    margin:0;
    li{
      display: block;
      padding-left: 8px;
      color: $item-color;
      font-size:16px;
      font-weight: 600;
      background-color: $item-background;
      cursor: pointer;
      &:hover, &:active{
        color:$item-active;
      background-color: $item-active-background;

      }
    }
  }

}

.active{
  display: block !important;
}
.notActive{
  display: none !important;
}

.dropdown:hover .dropdown-content {
  // display: block;
}
</style>
