<template>
    <div class="input-container w-100 col-12">
        <select id="country" name="country" class="col-12 p-2">
            <option value="australia" class="text-danger">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
        </select>
    </div>
</template>

<style lang="scss" scoped>
$bg-color: #f2f2f2;

.input-container {

    select {
    display: flex;
    align-items: center;
    background-color: $bg-color;
    border-radius: 20px;
    // padding: 5px;
    max-height: 3.1rem;
    transition: all .3s ease;
    // width: 100%;
    padding: 10px;
    // margin: 8px 0;
    // display: inline-block;
    border: 0px solid #ccc;
    box-sizing: border-box;
    option{
        color:#ccc !important;
    }
}

}


</style>
