<template>
  <div id="photos" class="tab-pane fade in active show" role="tabpanel">
    <br />
    <div class="gallery, custom-gallery" id="gallery">
      <FancyBox :options="options" v-if="albumImages.length > 0" >
        <GalleryPhotoItem
          v-for="(photo, index) in albumImagesVisible"
          :key="index"
          :photo="photo"
          data-aos="fade-up"
        />
      </FancyBox>

      <div class="d-flex mx-auto align-self-center" v-else>
        <span class="">Album photo vide!</span>
      </div>
    </div>
    <DataPaginations :datas="albumImages" rel="visibleData" @loadmore="visibleData($event)" :items-per-page="12" />
  </div>
</template>

<script>
import GalleryPhotoItem from '~/components/GalleryPhotoItem'
import FancyBox from '~/components/FancyBox.vue'
import DataPaginations from '~/components/DataPaginations.vue'

export default {
  components: { DataPaginations, FancyBox, GalleryPhotoItem },
  props: {
    albumImages: {
      type: Array,
      default: () => [],
    },
  },
  data: function () {
    return {
      albumImagesVisible: [],
      options: {
        Carousel: { infinite: false },
        Toolbar: {
          display: {
            left: ['infobar'],
            middle: [
              'zoomIn',
              'zoomOut',
              'toggle1to1',
              'rotateCCW',
              'rotateCW',
              'flipX',
              'flipY',
            ],
            right: ['download', 'slideshow', 'fullscreen', 'thumbs', 'close'],
          },
        },
      },
    }
  },
  mounted() {

  },
  methods:{
    visibleData(event){
     // console.log("event", event.data)
      this.albumImagesVisible = event
    }
  }
}
</script>

<style lang="scss">
@import "assets/scss/screen";
/* gallery */
.gallery, .custom-gallery {
  -moz-column-count: 3 !important;
  column-count: 3 !important;
  -moz-column-width: 33% !important;
  column-width: 33% !important;

  @media (max-width: $md-screen) {
      column-count: 2 !important;
  }

}

</style>
