<template>
    <div id='videos' class='tab-pane fade in active show' role='tabpanel'>
      <br>
      <div class='gallery' id='gallery'>
        <FancyBox :options='options' v-if="albumVideos.length > 0">
          <GalleryVideoItem v-for='(video, index) in albumImagesVisible' :key='index' :video='video' />
        </FancyBox>
        <div v-else class="mx-auto" >
          <span>Pas de Vidéos</span>
        </div>
      </div>
      <DataPaginations :datas="albumVideos"  @loadmore="visibleData($event)"  class="d-inline-flex mx-auto" :items-per-page="12" />
    </div>
</template>

<script>
import DataPaginations from '~/components/DataPaginations.vue'
import GalleryVideoItem from '~/components/GalleryVideoItem.vue'
import FancyBox from '~/components/FancyBox.vue'

export default {
  components: { FancyBox, GalleryVideoItem, DataPaginations },
  props: {
    components:{GalleryVideoItem},
    albumVideos:{
      type:Array,
      default:()=>[]
    }
  },
  data: function() {
    return {
      albumImagesVisible: [],
      options: {
        Carousel: { infinite: false }
      }
    }
  },
  methods:{
     visibleData(event){
      console.log("event", event.data)
      this.albumImagesVisible = event
    }
  }
}

</script>

<style scoped>
/* gallery */
.gallery {
  column-count: 2;
}


@media (min-width: 768px) {
  .gallery {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .gallery {
    column-count: 4;
  }
}
</style>
