<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9">
  <g id="Ellipse_20" data-name="Ellipse 20" fill="#25314c" stroke="#fff" stroke-width="3">
    <circle cx="4.5" cy="4.5" r="4.5" stroke="none"/>
    <circle cx="4.5" cy="4.5" r="3" fill="none"/>
  </g>
</svg>

</template>

<style>

</style>