
<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="#dcb67a" d="M27.4 5.5h-9.2l-2.1 4.2H4.3v16.8h25.2v-21Zm0 18.7H6.6V11.8h20.8Zm0-14.5h-8.2l1-2.1h7.1v2.1Z"></path><path fill="#dcb67a" d="M25.7 13.7H.5l3.8 12.8h25.2l-3.8-12.8z"></path></svg>
  </template>
  
  <script>
  export default {
    name: 'VscodeIconsDefaultFolderOpened'
  }
  </script>