
<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" viewBox="0 0 24 24"><path fill="currentColor" d="M10 16.5v-9l6 4.5M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2Z"></path></svg>
</template>

<script>
export default {
  name: 'MdiPlayCircle',
  props:{
    width:{
      type:String,
      required:false,
      default:'1em'
    },
    height:{
      type:String,
      required:false,
      default:'1em'
    }
  }
}
</script>