
<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="width" :height="height" viewBox="0 0 24 24"><path fill="currentColor" d="M12 20c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m-2 14.5l6-4.5l-6-4.5v9Z"></path></svg>
</template>

<script>
export default {
  name: 'MdiPlayCircleOutline',
  props:{
    width:{
      type:String,
      required:false,
      default:'1em'
    },
    height:{
      type:String,
      required:false,
      default:'1em'
    }
  }
}
</script>