
<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20"><path fill="currentColor" d="m12.89 0l4.61 5.192V19.09a.896.896 0 0 1-.882.909H3.382a.896.896 0 0 1-.882-.91V.91c0-.503.395-.91.882-.91h9.507Zm-.584 1.364H3.824v17.272h12.352V6.342h-2.829c-.705.028-1.25-.086-1.64-.394c-.454-.358-.62-.968-.598-1.781v-2.8h1.201l-.004-.003Zm-1.382 13.181c.365 0 .662.306.662.682a.672.672 0 0 1-.662.682H5.809a.672.672 0 0 1-.662-.682c0-.376.296-.682.662-.682h5.115Zm3.055-3.636c.365 0 .662.305.662.682a.672.672 0 0 1-.662.682h-8.17a.672.672 0 0 1-.662-.682c0-.377.296-.682.662-.682h8.17Zm-3.055-3.636c.365 0 .662.305.662.682a.672.672 0 0 1-.662.681H5.809a.672.672 0 0 1-.662-.681c0-.377.296-.682.662-.682h5.115Zm1.46-5.823l.048.059v2.676c-.012.439.047.656.08.68c.095.076.358.131.81.114h2.193l.375.424l.286.319l-3.792-4.272Z"></path></svg>
</template>

<script>
export default {
  name: 'UiwFileText'
}
</script>