
<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20"><path fill="currentColor" d="M8.928 9.097a2.07 2.07 0 0 0-.526.053v1.728c.109.027.242.035.426.035c.675 0 1.093-.356 1.093-.955c0-.54-.36-.86-.993-.86Zm8.996-1.943h-.514l.027-1.89a.464.464 0 0 0-.12-.298L12.901.134A.393.393 0 0 0 12.618 0h-9.24a.8.8 0 0 0-.787.784v6.37h-.515c-.285 0-.56.118-.76.328A1.14 1.14 0 0 0 1 8.275v5.83c0 .618.482 1.12 1.076 1.12h.515v3.99A.8.8 0 0 0 3.38 20h13.278c.415 0 .78-.352.78-.784v-3.99h.487c.594 0 1.076-.503 1.076-1.122v-5.83c0-.296-.113-.582-.315-.792a1.054 1.054 0 0 0-.76-.328ZM3.95 1.378h6.956v4.577a.4.4 0 0 0 .11.277a.37.37 0 0 0 .267.115h4.759v.807H3.95V1.378Zm7.23 8.545c0 .573-.184 1.06-.517 1.39c-.434.426-1.076.617-1.827.617c-.167 0-.317-.009-.434-.026v2.094h-1.17V8.22c.393-.07.854-.122 1.63-.122c.783 0 1.342.157 1.717.47c.359.295.6.781.6 1.355Zm-7.792 2.963c.175.06.4.104.65.104c.534 0 .867-.252.867-1.164V8.142h1.268v3.7c0 1.67-.768 2.251-2.002 2.251a3.17 3.17 0 0 1-.925-.139l.142-1.068Zm.562 5.736v-3.397h12.092v3.397H3.95Zm12.734-4.894a6.061 6.061 0 0 1-1.877.33c-1.025 0-1.767-.269-2.284-.79c-.517-.504-.801-1.268-.793-2.129c.009-1.946 1.368-3.058 3.211-3.058c.726 0 1.285.147 1.56.286l-.267 1.06c-.309-.139-.693-.252-1.31-.252c-1.059 0-1.86.626-1.86 1.895c0 1.207.726 1.92 1.769 1.92c.292 0 .525-.035.625-.087v-1.225h-.867v-1.034h2.093v3.084ZM12.291 1.52l.385.434l2.58 2.853l.143.173h-2.637c-.2 0-.325-.033-.378-.1c-.053-.065-.084-.17-.093-.313V1.52Z"></path></svg>
</template>

<script>
export default {
  name: 'UiwFileJpg'
}
</script>