<template>
  <div class="accordion">
    <div
      v-for="(item, index) in items"
      :key="index"
      class="accordion-item"
      :class="{ 'active': activeIndex === index }"
    >
      <div class="accordion-header" @click="toggleAccordion(index)">
        <h3 class="title">{{ item.title }}</h3>
        <i class="arrow" :class="{ 'down': activeIndex === index }"></i>
      </div>
      <div class="accordion-content" v-show="activeIndex === index">
        {{ item.content }}
      </div>
    </div>
  </div>
</template>

<script setup>

import { ref } from 'vue'

const items = ref([
  { title: 'Aquaculture Technical Committee meeting ', content: 'Contenu de la section 1' },
  { title: 'Section 2', content: 'Contenu de la section 2' },
  { title: 'Section 3', content: 'Contenu de la section 3' },
]);

const activeIndex = ref(null);

const toggleAccordion = (index) => {
  activeIndex.value = activeIndex.value === index ? null : index;
};
</script>

<style lang="scss" scoped>
.accordion {
  width: 100%;
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 5px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 200px;
  border-radius: 1em;
}
.title{
  font-size: 1.5em;
  font-weight: bold;
  color: #0BA360FF;
}

.accordion-item.active {
  max-height: 500px;
  background-color: #f8f8f8;
}

.accordion-header {
  padding: 15px;
  cursor: pointer;
  background-color: #f8f8f8;
  position: relative;
}

.accordion-header span {
  flex: 1;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #333;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease-out;
}

.arrow.down {
  transform: translateY(-50%) rotate(180deg);
}

.accordion-content {
  padding: 15px;
}
</style>
