<template>
  <div class="col-lg-4 col-md-12 mb-5 article-container">
    <!-- Featured image -->
    <div class="view overlay rounded z-depth-1 mb-2 article-card" :class='{"shoadow": hovered}'>
      <img  :src='article.cover' class="img-fluid" alt="First sample image" />
      <NuxtLink :to="`/actualites/${article.slug}`">
        <div class="mask rgba-white-slight"></div>
      </NuxtLink>
    </div>
    <div class='row align-items-center justify-content-center mt-lg-2'>
      <div class='col-10 col-lg-8 d-inline-flex align-items-center justify-content-between'>
        <div class='line'></div>
        <span class='type badge badge-success badge-pill shadow-none'>{{ article.type }}</span>
         <div class='line'></div>
      </div>
    </div>
    <h4 class="mb-2 mt-2 font-weight-bold text-black card-title">
      <NuxtLink :to="`/actualites/${article.slug}`">
       {{article.titre}}
      </NuxtLink>
    </h4>
      <p class="dark-grey-text">
      {{shortText}}
       </p>
    <!-- Grid row -->
    <div class="row justify-content-start">
      <div class="col-lg-6 col-md-6 text-left">
        <p class="grey-text">
          <i class="far fa-clock-o" aria-hidden="true"></i> Publié le {{formatedDated}}
        </p>
      </div>

    </div>
    <!-- Grid row -->

    <FlatButton :to="`/actualites/${article.slug}`" :is-link=true label="Tout Lire" class="font-weight-bold filter px-4 py-2 d-none"/>

  </div>
  <!-- Grid column ['imgUrl', 'title', 'description', 'article', 'date' ] -->
</template>

<script>
import moment from 'moment'

import articleModel from '@/models/article.model';
import FlatButton from '~/components/FlatButton'
export default {
  components: { FlatButton },
  props:{
    article:{
      type:Object,
      default:()=>articleModel
    }
  },
  computed:{
    shortText(){
      return this.article.description.slice(0, 100) +"..."
    },
    shortTitle(){
      return this.article.titre.slice(0, 100) +"..."
    },
    formatedDated(){
      moment.locale('fr')
      const date =moment(this.article.date_creation)
      return date.format('DD MMMM YYYY')
    },
     obtenirDeuxDerniersNoms(){

       const nomsTableau = this.article.auteur.nom.split(' ');
       const deuxDerniersNoms = nomsTableau.slice(-2);
       const resultat = deuxDerniersNoms.join(' ');
       return resultat;
 },
  },
  data() {
    return {
      hovered: false
    };
  }
}
</script>

<style lang="scss" scoped>
  .rounded{
    border-radius: 2em !important;
  }

  .hovered-image{
    scale: 2.5 !important;
  }
  img *{
    transition: all .5s ease;
  }
  img{
    min-height: 265px;
    max-height: 265px;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .card-title{

    &>a{
    color: black;
     }
  }

  .article-container{
    &:hover, &:focus, &:active, &:focus-within{
      .card-title >a{
        color: var(--color-primary);
      }

      p{
        color:black !important;
      }
     }
   }

  badge.type{
    &::after{
      position: relative;
      left:0;
      top: 0;
      color:red;
      background: yellow;
      height:15px;
      width: 24px;
    }
  }

  .line{
    background: var(--color-primary);
    height: 2px;
    min-width: 80px;

  }
</style>
