<template>
    <div class="card-body z-depth-1">
        <div class="overlay-component m-0 p-0">
            <div class="overlay-background m-0 p-0"></div>
            <div class="overlay-image m-0 p-0"></div>
            <!-- <img src="~/assets/img/people/4.jpg" class="img-fluide w-100 h-100" alt=""> -->
            <div class="overlay-content ml-md-4 ml-auto">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h2>JOYEUX Anniversaire </h2>
                                    <h2>LEPONGE BOB</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="overlay-avatar">
                <img src="~/assets/img/people/4.jpg" class="rounded-circle border user-avatar" alt="">
            </div>
        </div>
    </div>
</template>
  
<script>
export default {
    props: {
        title: {
            type: String,
            required: false,
            default:"Joyeux Anniversaire"
        }
    }
};
</script>
  
<style scoped >
h2{
    font-size: 42px;
    font-weight: bold;
}
.user-avatar {
    width: 150px;
    height: 150px;
    z-index: 86;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 45%;
}
img {
    background-size: cover;
    opacity: 0.5;
    position: relative;
}

.card-body {
    /* background: white !important; */
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 5em !important;
    overflow: hidden;
}

.overlay-component {
    padding: 0px;
    margin: 0px;
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    /* background-image: url('~/assets/img/people/4.jpg'); */
}

.overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('~/assets/img/people/4.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -4;
    /* border-radius: 3rem; */
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('~/assets/img/happy_gb.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -3;
}
.overlay-avatar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 1;
}
.overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    /* background-image: url('~/assets/img/people/4.jpg'); */
    background-size: cover;
    background-origin: 50% 0;
    align-items: center;
    text-align: center;
    opacity: 1;
    /* border-radius: 3rem; */

}

.overlay-content h2 {
    font-size: 24px;
    color: #ffffff;
}
</style>
  