<template>
    <div class="col-lg-3 col-md-4 col-12 mb-5 p-0" style="z-index:1;">
        <div class="card-body z-depth-1">
            <div class="overlay-component m-0 p-0">
                <div class="overlay-background m-0 p-0"></div>
                <div class="overlay-image m-0 p-0"></div>
                <!-- <img src="~/assets/img/people/4.jpg" class="img-fluide w-100 h-100" alt=""> -->
                <div class="overlay-content  mx-auto">
                    <div class="row  p-0 m-0">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h2>BORIS BOB</h2>
                                    <h5>PROMOTION 47</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
  
<script>
export default {
    props: {
        title: {
            type: String,
            required: false,
            default: "Joyeux Anniversaire"
        }
    }
};
</script>
  
<style scoped >
h2 {
    font-size: 42px;
    font-weight: bold;
}

h5 {
    color: rgb(211, 207, 207);
    font-weight: 700;
    /* font-size: 14; */
}

.user-avatar {
    width: 150px;
    height: 150px;
    z-index: 86;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 45%;
}

img {
    background-size: cover;
    opacity: 0.5;
    position: relative;
}

.card-body {
    /* background: white !important; */
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 2.5em !important;
    overflow: hidden;
}

.overlay-component {
    padding: 0px;
    margin: 0px;
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
    /* background-image: url('~/assets/img/people/4.jpg'); */
}

.overlay-component:hover .overlay-image {
    opacity: 1;
}

.overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('~/assets/img/people/4.jpg'); */
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -2;
    /* border-radius: 3rem; */
    background-image: linear-gradient(to bottom, transparent, transparent, #1414141a);
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('~/assets/img/svg/filtre.svg'); */
    background-image: url('~/assets/img/people/5.jpg');
    /* background-image: linear-gradient(to bottom, transparent, transparent, #1414141a); */
    background-size: cover;
    background-position: center;
    opacity: .7;
    transition: all .3s ease-in-out;
    z-index: -3;
}

.overlay-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

.overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background-image: url('~/assets/img/people/4.jpg'); */
    background-size: cover;
    background-origin: 50% 0;
    align-items: end;
    text-align: center;
    opacity: 1;
    /* border-radius: 3rem; */
}

.overlay-content h2 {
    font-size: 24px;
    color: #ffffff;
}</style>
  