<template>
  <div class="birthday-card d-flex align-items-center h-100 flex-column justify-content-center mt-lg-0" :class='{"isBoy": !isBoy}'>
    <span class='fleur d-none'> &#x1F389;</span>
    <span class='fleur2 d-none'> &#x1F389;</span>
    <h1 class='joyeux py-3 d-none d-lg-block'>Joyeux anniversaire! </h1>
    <h2 class='name '>{{ profil.nom }} {{profil.prenoms}}</h2>
    <span class='promo d-none d-lg-block'>{{profil.promotion}}</span>
    <p class='msg p-0 m-0'> &#x2728; Que tous tes vœux se réalisent ! &#x2728;</p>
    <div class="emoji-container d-none">
    <span class="emoji">&#x1F389;</span>
    <span class="glow">&#x2728;</span>
    <span class="flame d-none">&#x1F381;</span>
  </div>
  </div>
</template>
<script>


export default{
  name:'AnniversaireText',
  props:{
      profil:{
        type:Object,
        required:false,
        default:()=>{}
      },
    isBoy:{
        type:Boolean,
        default:true,
    }
  },
}
</script>

<style lang='scss'>
@import '/assets/scss/screen';
.birthday-card {
  text-align: center;
  background-color: rgba(29,226,249,0.2);
  border-radius: 8px;
  backdrop-filter: blur(1px);
}

.joyeux{
  font-size: 48px;
  color: white;
  font-family: Dancing Script, Pacifico, Roboto, sans-serif;
  span{
    font-size: 32px;
  }
  @media screen and (max-width:$md-screen){
      font-size: 28px;
  }
}
.name{
  color: white;
  font-size: 48px;
  font-family: Oleo Script, Dancing Script, Pacifico, Roboto, sans-serif !important;
  @media screen and (max-width:$md-screen) {
    font-size: 2.5em;
  }
 }
.promo{
  font-size: 24px;
  color: white;
  font-family: Oleo Script, Roboto, sans-serif !important;
}
.age-candle {
  display: inline-block;
  font-size: 36px;
  font-family: Pacifico, Roboto, sans-serif;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #ffbb7c, #ff7a36);
  border-radius: 1.2em;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.msg{
  font-size: 24px;
  color:white;
   font-family: Pacifico, Roboto, sans-serif;
   @media screen and (max-width:$md-screen){
      font-size: 20px;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
}

.emoji-container {
  display: flex;
  justify-content: center;
}

.emoji2 {
  font-size: 48px;
  margin: 10px;
  animation: bounce 2s infinite;
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
    transform: rotate(0deg);
  }
  50% {
    opacity: 0.7;
    transform: rotate(180deg);
  }
  25%, 75% {
    opacity: 0.9;
    transform: rotate(360deg);
  }
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.candle-container {
  display: flex;
  align-items: center;
}

.emoji {
  font-size: 48px;
  animation: flicker 2s infinite;
}

.glow {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 218, 0, 0.8) 0%, transparent 80%);
  animation: twinkle 3s infinite;
}

.sparkles {
  position: absolute;
  font-size: 48px;
  top: -20px;
  left: -5px;
  color: #fff;
  animation: twinkle 4s infinite;
}


@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes glow {
  0%, 100% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}


 .fleur, fleur2{
   position: absolute;
   font-size: 48px;
    top:0;
    left: 0;
}
 .fleur2{
   right: 0 !important;
 }

 .flame{
  width: 25px;
  height: 40px;
  background: #ffcc00;
  border-radius: 50% 50% 0 0;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: wobble 1s infinite;
  right: 0;
  top: -34px;
}

.emoji {
  font-size: 48px;
}

.flame::before, .flame::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
}

.flame::before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 20px solid #ffcc00;
  border-radius: 50%;
}

.flame::after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #ff9900;
  border-radius: 50%;
  bottom: 5px;
}

.textColor{
  color:#a98459 !important;
}
.bgColor{
  background: rgb(229 219 198 / 59%);
}

.isBoy{
   background: rgb(229 219 198 / 59%);
  .textColor, .joyeux, .name, .promo, .msg{
   color:#a98459 !important;
   }
}
</style>
