<template>
  <div class='article-container overflow-hidden'>
    <NuxtLink :to='`/actualites/${slug}`'>
    <picture>
      <img :src='cover' class='img-fluid slide-img' :alt='titre' :srcset='cover'>
    </picture>
      <div class='overlays'></div>
      <div class='article-content d-flex flex-column align-items-sm-start px-3 py-1'>
        <h3 class='h3'>{{titre}}</h3>
        <span class='ml-1 mb-1 date d-none d-md-block'>date: {{dateFormat}}</span>
        <div class='d-inline-block pb-1 ml-1 d-none' v-if="false">
          <img :src='avatar' class='img-fluid author rounded-circle' alt='user avatar' :srcset='avatar'>
          <span class='ml-1'>{{auteur}}</span>
        </div>
      </div>
</NuxtLink>
  </div>
</template>

<script>
import moment from 'moment'
import articleModel from '@/models/article.model'
export default {
  name: 'ArticleSlideCard',
  data(){
    return {
      model: articleModel
    }
  },
  props:{
    titre: {
      type:String,
      required:true,
    },
     cover: {
      type:String,
      required:true,
    },
     avatarUrl: {
      type:String,
      required:true,
    },
    auteur: {
      type:String,
      required:true,
    },
    dateCreation: {
      type:String,
      required:true,
    },
    slug: {
      type:String,
      required:true,
    },
  },
  computed:{
    dateFormat(){
      moment.locale('fr')
     return moment(this.dateCreation).fromNow()
    },
    avatar(){
      return process.env.CDN_BASE_URL + this.avatarUrl
    }
  }
}
</script>

<style lang='scss' scoped>
@import "assets/scss/screen";


.article-container{
  height: 350px;
  position: relative;
  border-radius: 0.75em;
  transition: all 0.2s ease;
  @media (max-width: $sm-screen) {
    border-radius: 1em;
    border: solid 2px transparent;
  }
  img.cover{
    border-radius: 1.1em;
    height: 500px;
    width: 750px;
  }
  .date{
    color:#ccc;
  }
  .overlays{
    position: absolute;
    width: 100%;
    height: 45%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.3)),linear-gradient(to bottom, transparent, rgba(0,0,0,0.8));
    @media (max-width:$sm-screen) {
      height: 60%;
    }
  }
  .article-content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
  }

  .author{
    height: 32px;
    border: 1px solid white;
    background-color:whitesmoke;
  }

  a{

  }
  .slide-img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}
</style>
