<template>
    <div class="card-blog-image row">
            <img src="~/assets/img/simple/photo9.jpg" class="w-100" alt="Image" />
            <div class="image-overlay">
                <div class="row">
                    <div class="col-md-12 col-xl-12 justify-content-center">
                        <h1 class="blog-title text-center text-uppercase">titre article ici</h1>
                    </div>
                    <div class="col-md-12 col-xl-12 d-flex justify-content-center">
                        <div>
                            <p class="font-small dark-grey-text mb-1">
                                <strong>Auteur:</strong> Leponge Bob
                            </p>
                            <p class="font-small grey-text mb-0 ml-3">
                                <i class="far fa-clock dark-grey-text"></i> 15/09/2017 at 4:03 pm
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>


<style>
.blog-title{
    font-size: 42px;
    font-weight: bold;
    color: white;
}
.card-blog-image {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.card-blog-image img {
    width: 100%;
    height: 450px;
}

.card-blog-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    align-content: end;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.363));
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

.card-blog-image {
    width: 100%;
    height: auto;
}
</style>