<template>
      <div class="swiper-container">

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper" v-show='!isLoading'>
        <!-- Slides -->

        <div  class="swiper-slide" v-for='(article, index) in articles'  :key='index'>
           <ArticleSlideCard
                          :titre='article.titre'
                          :cover='article.cover'
                          :date-creation='article.date_creation'
                          :auteur='article.auteur.nom'
                          :avatar-url='article.auteur.avatar'
                          :slug='article.slug' />
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>-->
 </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import { useDeviceType } from '~/utils/usedeviceType'
import ArticleSlideCard from '~/components/blog/ArticleSlideCard'
export default {
  components: { ArticleSlideCard },
  data(){
    return {
      swiper:null,
      actu:null,
    }
  },
  computed:{
    ...mapGetters('blog/articles', ['isLoading', 'getArticles']),
    articles(){
      return this.getArticles
    }
  },
  methods:{
    ...mapActions('blog/articles', ['fetchArticles'])
  },
  async fetch(){
    await this.fetchArticles()
  },
  created() {
   // this.fetchArticles()
  },
    beforeDestroy() {
    this.swiper.destroy()
  },
  setup(){
    const {isMobile} = useDeviceType()
    return {isMobile}
  },
    mounted() {
      // const screen = window.screen
      // console.log("screen width",screen);
      // console.log('isMobile?:', this.isMobile.value)
      if (this.isMobile.value){
        this.swiper = new this.$swiper('.swiper-container', this.$swiperOptions.option1);
      }else{
      this.swiper = new this.$swiper('.swiper-container', this.$swiperOptions.option3);
      }

  },
}
</script>


<style lang="scss" scoped>
@import "assets/scss/screen";
.swiper-container {
  max-width: 950px;
  height: auto;
  padding: 25px;
  background-color: white;
}
.swiper-slide {
  text-align: center;
  font-size: 24px;
}
.swiper-slide-active{
  > .article-container{
    border: solid 3px var(--color-primary);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}
.swiper-wrapper{
  background: transparent;
  @media (max-width: $xm-screen ) {
    background: #0b51c5;
    width: 275px !important;
  }
  @media (min-width: $xm-screen) and (max-width: $md-screen) {
    width: 300px !important;
  }
  @media (min-width: $md-screen) and (max-width: $lg-screen) {
    width: 46em;
  }
}
</style>
