<template>
    <div class="row mb-4">
        <!-- Image column -->
        <div class="col-sm-2 col-12 mb-md-0 mb-3">
            <img src="~/assets/img/simple/avatar.png" class="avatar rounded-circle z-depth-1-half">
        </div>
        <!-- Image column -->
        <!-- Content column -->
        <div class="col-sm-10 col-12">
            <a>
                <h4 class="font-weight-bold">Tom Smith</h4>
            </a>
            <div class="mt-2">
                <ul class="list-unstyled ">
                    <li class="comment-date">
                        <i class="far fa-clock"></i> 05/10/2015
                    </li>
                </ul>
            </div>
            <p class="grey-text">Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla
                pariatur. Excepteur
                sint occaecat cupidatat non proident.</p>
        </div>
        <!-- Content column -->
    </div>
</template>