
<template>
 <div class="event-container p-4 rounded row">
    <div class="container-header rounded col-12 ">
      <p>header here</p>
    </div>
    <div class="event-content p-4 bg-white col-12">
      <slot></slot>
    </div>
 </div>
</template>

<script setup>

</script>


<style scoped lang="scss">
.event-container{
  background-color: rgba(0, 157, 255, 0.55);
  display: flex;
}
.container-header{
  background-color: rgba(255, 255, 255, 0.55);
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
</style>
