<template>
 <div class="event-card bg-transparent" data-aos="fade-up">
   <nuxt-link
     :to="`evenements/${event?.slug}`"
     class="event-link z-depth-1 overflow-hidden"
   >
     <div class="event-header">
       <h3>{{formattedStartDate}} - {{formattedEndDate}}</h3>
       <p>{{formattedYear}}</p>
     </div>
     <div class="event-content">
       <h5>{{event?.titre}}</h5>
       <p>
         <strong>Lieu : </strong> {{ event?.lieu}}<br>
         <strong>Type : </strong> {{event?.type}}<br>
         <strong>Format : </strong> {{event?.format}}<br>
       </p>
       <div class="event-tags">
         <div class="event-tag" v-for="(tag, index) in event?.tags" :key="index"> <i class="tag-bull" :style="`backgroundColor:${tag.couleur}`"></i> {{tag.titre}}</div>
       </div>
     </div>
   </nuxt-link>
 </div>
</template>

<script>
import { useEventDateFormatter } from '~/utils/useDateFormatter'
export default {
  name: 'EventCard',
  props:{
    event:Object
  },
  setup(props){
    const eventObj = props.event
     const {formattedStartDate, formattedEndDate, formattedYear} = useEventDateFormatter(eventObj.debut, eventObj.fin)

    return {
       formattedYear, formattedStartDate, formattedEndDate
    }
  }
};
</script>

<style lang="scss" scoped>
@import 'assets/scss/screen';

$radius-top:1em 1em;
$radius-bottom:0 0 1em 1em;
.event-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  text-decoration: none;
  background-color: white;
  border-radius: $radius-top;
  color: gray;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 5px;
  // transform: scale(1);
}

.event-link:hover, .event-link:focus {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.event-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #30dd8a, #2bb673, #3cba92) !important;
  padding: 1.5rem;
  color: white;
  font-weight: bold;
  h3{
    font-weight: bold;
    font-size: 1.85em;
  }
  p{
    font-size: 18px;
  }
  @media screen and (max-width: $sm-screen) {
    padding: 0.25em 1.5em;
    h3{
      font-weight: bold;
      font-size: 1.65em;
      padding: 0.5rem;
    }
  }
}

.event-content {
  padding: 1.5rem; /* p-6 */
}

.event-content h5 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.event-content p {
  margin-bottom: 1.5rem;
}

.event-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem; /* gap-x-1 gap-y-2 */
}

.event-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  height: 1.75rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  position: relative;
}

.event-tag div {
  background-color: #54a0ff;
  height: 1.25rem;
  width: 1.25rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
}
.tag-bull{
  height: 0.5em;
  width: 0.5em;
  background: #00dbff;
  border-radius: 0.5em;
  font-size: 2.5em;
  margin-right: 0.25em;
}





</style>
