<!-- CommentList.vue -->
<template>
  <div>
    <h2>Commentaires:</h2>
    <ul class="comment-list">
      <li  class="comment-item">
        <strong>AE2ITA</strong>: Pas de Commentaire
      </li>
      <i>
      </i>
      <li v-for="comment in comments" :key="comment.id" class="comment-item">
        <strong>{{ comment.user.username }}</strong>: {{ comment.content }}
        <br />
        <small>{{ formatDateTime(comment.date_created) }}</small>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name:'ExpertComentList',
  props: {
    comments: {
      type: Array,
      required: true,
    },
  },
  methods: {
    formatDateTime(dateTimeString) {
      const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' };
      return new Date(dateTimeString).toLocaleDateString('fr', options);
    },
  },
};
</script>

<style lang="scss" scoped>
.comment-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: .5em;
}

.comment-item small {
  color: #777;
  font-style: italic;
}
</style>
