<!-- CommentForm.vue -->
<template>
  <div class="mt-3">
    <h4 class="text-center">Créer un commentaire</h4>
    <form @submit.prevent="submitComment" class="comment-form d-flex align-items-center justify-content-center  mx-auto">
      <TypeTextArea placeholder="Contenu du commentaire" @input="submitComment" :rows="3" />
      <button type="submit">
        <i class="fas fa-paper-plane"></i>
      </button>
    </form>
  </div>
</template>
<script>
import TypeTextArea from '~/components/inputs/TypeTextArea.vue'

export default {
  components: { TypeTextArea },
  data(){
    return {
      comment:''
    }
  },
  methods:{
    submitComment(){
      this.$emit('input',this.comment)
    }
  }

}
</script>

<style scoped>
.comment-form {
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transform: translateX(-27px);
  border: solid transparent 2px;
}

button:hover {
  background-color: white;
  color: var(--color-primary);
  border-color: var(--color-primary);
}
</style>
