<template>
<div class='row align-items-end'>
  <div class='w-100 z-depth-1 border'>
  <div class='anniv-container position-relative p-lg-4 rounded' :style='`backgroundImage: url("${isBoy? imgSrc : imgSrc2}");`'>
    <div class='row justify-content-around align-items-center m-0 p-0 '>
         <div class='col-12 logo w-100  d-flex flex-row align-items-center top-0 left-0 px-2 py-1 order-0'>
            <img :src="`${require('@/assets/img/logo_ita_2.png')}`" alt='logo ita - inphb' />
            <h3 class='ml-2 text-white'>AE2ITA</h3>
        </div>
        <div class='annive-content col-12 m-0 col-lg-7 mt-lg-2 order-2 order-lg-1'>
            <AnniversaireText :profil='anniversaire' :isBoy='isBoy' class='fadeInLeft animated' />
        </div>

       <div class='anniv-avatar col-8 col-lg-3 p-0 order-1 order-lg-2'>
          <picture class='picture'>
            <img :src='anniversaire.photo' class='img-fluid z-depth-1 fadeInRight animated' alt='' srcset=''>
          </picture>
         <div class='user-info position-relative'>
            <span>{{anniversaire.age}} ans</span>
            <span class='date z-depth-1 rounded mx-auto px-3'> {{date}}</span>
             <span class="flame position-absolute">&#x1F381;</span>
         </div>
      </div>
    </div>

  </div>
</div>
</div>
</template>

<script>
import moment from 'moment'
import AnniversaireText from '~/components/blog/AnniversaireText'
export default {
  name: 'HappyCard',
  components: { AnniversaireText },
  props:{
    anniversaire:{
      type:Object,
      required:false,
      default:()=>{}
    }
  },
   data(){
    return {
      imgSrc: require("@/assets/img/happy_gb.jpg"),
      imgSrc2: require("@/assets/img/happy_day_girl_bg.png")
    }
  },
  computed:{
    date(){
      return moment(this.anniversaire.date_naissance, 'YYYY-MM-DD')
        .format('DD MMMM')
    },
    isBoy(){
      return this.anniversaire.sexe.toLowerCase().startsWith('m') || this.anniversaire.sexe.toLowerCase().startsWith('h')
    }
  },

}
</script>

<style lang='scss' scoped>
@import '/assets/scss/screen';

.anniv-container{
  background: #cce5ff;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  @media screen and (min-width: $lg-screen) {
    min-height: 400px;
  }
}

.anniv-avatar{
  img{
    border: 6px solid white;
    object-fit: cover;
    background-position: center;
    height:300px;
    width: 100%;
    transform: rotate(2deg);
     @media screen and (max-width:$md-screen) {
    height:245px;
  }
  }

}

.user-info{
  flex-direction: column;
    justify-content: center;
    display: flex;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
  font-width: 700;
  .date{
    background: white;
    color:var(--color-primary);
    max-width: 65%;
    font-size: 14px;
  }
}

.logo{
    font-family: Philosopher, Roboto, sans-serif;
    border-radius:8px;
    color: white;
  img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: white;
    padding: 2px;
    @media screen and (max-width:$md-screen) {
    width: 46px;
    height: 46px;
  }
  }
}

.textColor{
  color:#a98459;
}
</style>
