<template>

 <div  class="swiper-happpy px-lg-5 py-lg-3">
    <LoadingFluide v-show='isLoading' />
    <div v-show='!isLoading' class='swiper-wrapper'  style='transform: translate3d(-22px, 0px, 0px) !important;'>
      <HappyCard v-for='(happy, index) in anniveraires' :anniversaire='happy' :key='index' class='swiper-slide' style='transform: translate(40px,0)' />
     <div v-show='anniveraires.length===0 && !isLoading' class='no-data'>
      <img :src='imgNoData' class='img-fluid' alt='no celebration today'>
   </div>
    </div>
     <div class="swiper-pagination position-relative mt-lg-3"  v-show='!isLoading'></div>
     <div class="swiper-button-prev d-none d-lg-block"></div>
     <div class="swiper-button-next d-none d-lg-block"></div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import HappyCard from '~/components/blog/HappyCard'
import LoadingFluide from '~/components/LoadingFluide'
import { useDeviceType } from '~/utils/usedeviceType'

export default {
  name: 'HappySlider',
  components: { LoadingFluide, HappyCard },
  data(){
    return{
      swiper:null,
      option:{
        speed:600,
        loop: false,
        slidesPerView: 1,
        spaceBetween: 100,
         autoplay: {
          delay: 14000,
          disableOnInteraction: true
        },
        pagination: {
          el: ".swiper-pagination",
          type: 'bullets',
          dynamicBullets: true,
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        breakpoints: {

      },
    },
      imgNoData:require('@/assets/img/celebrationss.jpg'),
    }
    },
  computed:{
    ...mapGetters('anniversaires', ['getAnniversairesJour', 'getError', 'isLoading']),
    anniveraires(){
      return this.getAnniversairesJour
    }
    },
  methods:{
    ...mapActions('anniversaires', ['fetchAnniversaires']),

  },
  mounted(){
    this.fetchAnniversaires()
    const {isMobile} = useDeviceType()
     if (isMobile){
       // this.swiper = new this.$swiper('.swiper-happpy', this.$swiperOptions.option3);
       this.swiper = new this.$swiper('.swiper-happpy', this.option);

     }else {
      this.swiper = new this.$swiper('.swiper-happpy', this.option);
     }
    },
  beforeDestroy() {
    this.swiper.destroy();
    }
}
</script>

<style lang='scss' scoped>
@import '/assets/scss/screen.scss';

.swiper-happpy {
  background-color: transparent;
  // border:solid 3px transparent;
  border-radius: 8px;
  overflow: hidden;
  @media (max-width: $sm-screen){

  }
   @media (max-width: $md-screen){

  }
  @media (min-width: $lg-screen){

  }
  .swiper-slide{
    background-color: transparent;
     width: 500px;
    &.swiper-slide-active{
      border: var(--color-primary) white 3px;
      padding:0 !important;
      transform: translate(40px,0);
    }
  }
  .swiper-wrapper{
    background: transparent;
    width: 100%;
    transform: translate3d(-22px, 0px, 0px);
  }
}

@media screen and (max-width: $md-screen){
.swiper-happpy {
   padding: 0 !important;
  .swiper-wrapper{

  }
  .swiper-slide{

  }
}

}
</style>
