<template>

  <div  class="birthday-list p-0 p-lg-2 pb-2">
     <LoadingFluide v-if='isLoading' />
    <div v-else-if="birthdays.length > 0 && !isLoading" class="birthday-month-cards">
      <div v-for="(birthday, index) in birthdays" :key="index" class="birthday-month-card row mx-2 justify-content-center align-items-center">
        <div class="left-block col-3">
          <div class="avatar">
            <img :src="birthday.photo" alt="Avatar" />
          </div>
        </div>
        <div class="right-block col-9">
          <div class="info ">
            <div class="name">{{ birthday.nom }} {{ birthday.prenoms }}</div>
            <div class="promotion">{{ birthday.promotion }}</div>
            <div class="date" :class="getAnniversaryClass(birthday.date_naissance)">
              {{ birthday.date_naissance }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="no-birthdays text-center">Pas d'anniversaires ce mois</div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import moment from 'moment'
import LoadingFluide from '~/components/LoadingFluide'
export default {
  name: 'MonHappyList',
  components: { LoadingFluide },
  props: {

  },
  computed:{
    ...mapGetters('anniversaires', ['getAnniversaireMois', 'isLoading']),
    birthdays(){
      return this.getAnniversaireMois
    },

  },
   methods: {
     formatBirthDayDate(birthdayDate){
      const t = moment(birthdayDate, "YYYY-MM-DD").format('MM-DD')
       const y = moment().year().toString()
       const d = `${y}-${t}`
      return moment(d, 'YYYY-MM-DD').startOf('day').fromNow().toString()
    },
      getAnniversaryClass(birthdayDate) {
      const now = moment();
      const birthday = moment(birthdayDate, 'YYYY-MM-DD');
      birthday.year(now.year()); // Fixer l'année de l'anniversaire à l'année actuelle

      if (birthday.isSame(now, 'day')) {
        // Anniversaire aujourd'hui (bleu)
        return 'green-date';
      } else if (birthday < now) {
        // Anniversaire déjà passé (rouge)
        return 'red-date';
      } else {
        // Anniversaire en attente (vert)
         return 'blue-date';
      }
    },
  },

};
</script>

<style lang="scss" scoped>
@import '/assets/scss/screen.scss';
.birthday-list {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  .birthday-month-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
    @media screen and (max-width:$md-screen) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 5px;
      row-gap: 10px;
    }
}

.birthday-month-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--color-primary)
}

.promotion {
  font-size: 14px;
  color: #666;
  margin-bottom: 6px;
}

.date {
  font-size: 14px;
  color: #888;
}

  .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

  .red-date {
  color: var(--danger);
}

.green-date {
  color: var(--color-primary);
}

.blue-date {
  color: blue;
}
}

.info {

}


.left-block {

}

.right-block {

}
</style>
