<template>
   <!-- Grid column -->
          <div class="mb-md-0 mb-4 w-100">
            <div class="testimonial  pt-2 d-flex justify-content-center align-items-center flex-column w-100">

              <!-- Content -->
              <p class='text-sm-left px-4'><i class="fas fa-quote-left mr-3"></i>{{textTruncated}}</p>
              <span class='date grey-text italic font-small'>{{dateFormatted}}</span>
              <!-- footer -->
              <div class="testimonial-footer d-flex flex-row w-100 px-4 rounded">
                <img :src="temoignage.photo" :srcset='temoignage.photo' :alt='temoignage.nom'  class="rounded-circle img-fluid shadow-sm">
                <div class="footer-text d-flex flex-column">
                  <h6 class="font-weight-bold text-black text-capitalize">{{temoignage.nom}}</h6>
                  <p class="font-weight-lighter font-italic grey-text">Promotion {{temoignage.promotion}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Grid column -->
</template>

<script>
import { useFromDataFormatter } from '~/utils/useDateFormatter'
import { useTextTruncat } from '~/utils/useTextutil'

export default {
  name: 'TestimonialCard',
  props:{
    temoignage:{
      type:Object,
      required:true,
    }
  },
  setup(props){
    const {dateFormatted} = useFromDataFormatter(props.temoignage.date_creation)
    const {textTruncated, setLimit} = useTextTruncat(props.temoignage.contenu)
    setLimit(250)
    return {
      dateFormatted,
      textTruncated
    }
  }
}
</script>

<style lang='scss' scoped >
@import "assets/scss/screen";
  .testimonial-footer{
    background: transparent;
    img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

.testimonial{
  background-color: transparent;

}

.testimonial-card{
  // width: 897px !important;
}

@media screen and (max-width: $sm-screen) {
  h4{
    font-size: 1.25em;
  }
}
</style>
