<template>

 <div class="swiper-testimonial">
   <LoadingFluide v-show='loading'/>
    <div class='swiper-wrapper'>
      <TestimonialCard v-for='(temoignage, index) in temoignages' :key='index' class='swiper-slide shadow-sm'  :temoignage='temoignage'/>
    </div>
   <div class="swiper-pagination position-relative" v-show='!loading'></div>
   <div class="swiper-button-prev d-none d-md-flex" v-show='!loading'></div>
   <div class="swiper-button-next d-none d-md-flex" v-show='!loading'></div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import TestimonialCard from '~/components/blog/TestimonialCard'
import LoadingFluide from '~/components/LoadingFluide.vue'

export default {
  name: 'TestimonialSlide',
  components: { LoadingFluide,  TestimonialCard },
  data(){
    return {
      option:{
        speed:700,
        loop: false,
        slidesPerView: 1,
        spaceBetween: 30,
       // centeredSlides: true,
        // grabCursor: true,
         autoplay: {
          delay: 15000,
          disableOnInteraction: false
        },
        pagination: {
          el: ".swiper-pagination",
          type: 'bullets',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        breakpoints: {
          768: {
            slidesPerView: 1,
          },
          576: {
            slidesPerView: 1,
          },
        },
    },
      swiper:null,
    }
  },

  beforeDestroy() {
    this.swiper.destroy()
  },
   computed:{
    temoignages(){
      return this.getTemoignages()
    },
     loading(){
      return this.isLoading()
     }
  },
  fetch(){
    this.fetchTemoignages()
  },
  mounted() {
    this.fetchTemoignages()
    this.swiper = new this.$swiper('.swiper-testimonial', this.option);
  },
  methods:{
    ...mapActions('blog/temoignages', ['fetchTemoignages']),
    ...mapGetters('blog/temoignages', ['getTemoignages', 'isLoading'])

  },
}
</script>

<style lang='scss' >
@import '/assets/scss/screen.scss';

.swiper-testimonial {
  height: auto;
  overflow: hidden;
  padding: 25px;
  background-color: white;
  @media screen and (min-width: $xm-screen) {
    // width: 22em;
  }
  @media screen and (min-width: $md-screen) {
   //  width: 48em;
  }

  @media (min-width: $lg-screen){
    // width: $lg-screen;
  }
  .swiper-slide{
    width: 21em !important;
    background-color: white;
    background-image: linear-gradient(to bottom, transparent, azure) ;
    // border: groove palevioletred 2px;
    border-radius: 1.25em;
    transition: all 0.3s ease-in;
    &.swiper-slide-active{
      // border: dashed var(--color-primary) 2px;
     // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    @media  (max-width: $md-screen) {
      width: 20em!important;
    }
    @media  (max-width: $md-screen) {
      width: auto;
      margin-bottom: 0 !important;
    }
  }

  .swiper-wrapper{
    max-width: 320px;

    @media  (min-width: $sm-screen) {
      max-width: 340px;
      // background-color: red;
    }

    @media screen and (min-width: $md-screen) {
      max-width: 465px;
      // background-color: blue;
    }

    @media screen and (min-width: $lg-screen) {
      max-width: 992px;
      // background-color: yellow;
    }
  }
}

.swiper-pagination{
  span.swiper-pagination-bullet-active{
  background: var(--color-primary) !important;
  background-color: var(--color-primary) !important;
}
}
.swiper-button-prev, .swiper-button-next{
  color: var(--color-primary) !important;
}

</style>
