<template>
   <div class="bounce bounceInRight animated">
    <MyContainer name="BureauPage" title="BUREAU EXECUTIF" sub-title="Année 2023" class="pt-4 ">
        <div class="col-12 bg-secondary p-md-5 rounded ">
            <h3 class="h3 text-center white-text mb-2">Présidence</h3>
            <div class="row card-container rounded justify-content-around bg-secondary-2 p-2">
                <MemberCard v-for='(president, index) in presidents' :membre='president' :key='index' />
            </div>
        </div>
    </MyContainer>

    <MyContainer name="CommunicationPage" title="" sub-title="" class="pt-4 my-4">
       <my-member-container title="" class="">
         <MemberCard v-for='(executif, index) in executifs' :key='index' :membre='executif' />
       </my-member-container>
    </MyContainer>

     <MySectionHeading title='Commissions' />
    <MyContainer v-for='(commission, index) in organes' :key='index' :name="'Page'+commission.titre" title="" sub-title="" class="pt-4 my-4">
       <my-member-container :title="commission.commission" class="">
         <MemberCard v-for='(membre, index) in commission.membres' :key='index' :membre='membre' />
       </my-member-container>
    </MyContainer>
   </div>

</template>

<script>
import {mapGetters} from 'vuex'
import MemberCard from '~/components/MemberCard'
import MySectionHeading from '~/components/MySectionHeading'
import MyContainer from '~/components/MyContainer.vue'
import MyMemberContainer from '~/components/MyMemberContainer.vue'
export default {
  components: { MyMemberContainer, MyContainer, MySectionHeading, MemberCard },
  computed:{
    ...mapGetters('bureau', ['getPresidents', 'getBureauExecutif', "getOrganes"]),
    presidents(){
      return this.getPresidents
    },
    executifs(){return this.getBureauExecutif},
    organes(){return this.getOrganes}
  }
}
</script>

<style lang="scss" scoped>
.rounded-2{
    border-radius: 1.1em !important;
}

.bg-secondary{
    background-color: var(--color-2) !important;
}
.bg-secondary-2{
    background-color: rgba($color: white, $alpha: .2) !important;
}
</style>
