<!-- eslint-disable vue/valid-template-root -->
<template>
    <div>
       <MyContainer name="AE2ITA" title="AE2ITA" sub-title="AMICALE DES ELEVES-INGENIEURS ET INGENIEURS DES TECHNIQUES AGRICOLES" class="mt-4">
            <AboutIta />
       </MyContainer>

       <MyContainerFluid name="nos-valeurs" title="NOS VALEURS"  class="mt-4 py-4 " style="background-color: #ccc;">
            <NosValeurs  class="bounce bounceIn animated"/>
       </MyContainerFluid>

       <MyContainer name="nos-missions" title="NOS MISSIONS"  class="mt-4 py-4 ">
            <NosMissions  class="bounce bounceIn animated"/>
       </MyContainer>
       <MyContainer name="nos-statistiques" title="Nos STATISTIQUES" sub-title="Découvrez nos STATISTIQUES">
          <NosStatistiques class="mt-3" />
       </MyContainer>
    </div>
</template>
<script>
import MyContainer from '~/components/MyContainer.vue'
import NosMissions from '~/components/NosMissions.vue'
import AboutIta from '~/components/AboutIta.vue'
import MyContainerFluid from '~/components/MyContainerFluid.vue'
import NosValeurs from '~/components/NosValeurs.vue'
import NosStatistiques from '~/components/NosStatistiques.vue'

export default{
  scrollToTop: true,
  components: { NosStatistiques, NosValeurs, MyContainerFluid,  AboutIta, MyContainer, NosMissions }
}
</script>
<style lang="scss">

</style>
