<template>
    <div>
        <MyContainerFluid :full="true" class="mt-4 mot-president overflow-hidden" name="president-section" title="Mot du Président">
            <div class="col-lg-5 col-md-5  mt-4 " data-aos="fade-in">
                <figure class="figure p-3 ">
                    <img :src="president.photo" class="img-fluid bounce bounceInLeft animated" :alt="'president ae2ita ' + president.nom">
                </figure>
            </div>
            <div class="col-md-5 col-11 d-flex my-3">
                <div class="info-content d-flex justify-content-center align-items-center my-auto">
                   <ul class="list-group list-unstyled bounce bounceIn animated">
                    <li class="list-item text-uppercase h3" data-aos="fade-left" data-aos-duration="500">
                        <img class="mr-2" src="@/assets/svg/green_user.svg" alt="user icon" srcset="">
                        {{ president.nom }}
                    </li>
                    <li class="list-item text-uppercase h3" data-aos="fade-left" data-aos-duration="700">
                        <img class="mr-2" src="@/assets/svg/green_book.svg" alt="green icon" srcset="">
                       {{president.promotion}}
                    </li>
                    <li class="list-item disabled text-uppercase h3" data-aos="fade-up" data-aos-duration="900">
                        <img class="mr-2" src="@/assets/svg/green_grade.svg" alt="grade icon" srcset="">
                       {{ president.role }}
                    </li>
                   </ul>
                </div>
            </div>
            <div class="col-md-10 col-12">
                <div class="text-content  p-3">
                    <div class="text-overlays">
                    </div>
                    <p class="text-justify paragraph" v-html="president.text"></p>
                   <div class="signature d-flex justify-content-end">
                    <ul class="list-unstyled col-md-4 col-7">
                        <li class="text-center underline h5">Le Président</li>
                        <li class="text-center"><img :src="president.signature" alt="signature" srcset="" class="img-fluid grade"></li>
                        <li class="text-center h5"><span>{{ president.nom }}</span></li>
                    </ul>

                   </div>
                </div>
            </div>
        </MyContainerFluid>
    </div>
</template>

<script>
import MyContainerFluid from '~/components/MyContainerFluid.vue'

export default{
  components: { MyContainerFluid },
    data(){
        return{
            president:{
                nom:"M. Kouamé N’Da Valéry",
                promotion:"PROMOTION 19",
                fonction:'DG SOPRESCI-AGRO',
                role:'Président',
                text:"Mesdames et Messieurs, chers aînés et cadets <strong>I</strong>ngénieurs des <strong>T</strong>echniques <strong>A</strong>gricoles (<strong>ITA</strong>) et <strong>E</strong>lève-ingénieurs des <strong>T</strong>echniques <strong>A</strong>gricoles (<strong>EITA</strong>),<br />\n" +
                  "C’est un honneur pour moi de m’adresser à vous en tant que Président de l’Amicale des Elève-Ingénieurs et Ingénieurs des Techniques Agricole (<strong>AE2ITA</strong>). Vous m’avez en effet porté à la tête de l’<strong>AE2ITA</strong> le <strong class='text-black'>25 février 2023</strong>  à l’issu de notre assemblée générale mixte et l’occasion m’est donnée de vous exprimer ma profonde gratitude pour la confiance placée en moi. Comme indiqué le jour de mon élection, mon mandat est placé sous le sceau de l’union et la proactivité. <br/> \n" +
                  "J’ai déjà eu l’occasion de vous présenter ma vision pour notre amicale et mes objectifs immédiats. Parmi ces objectifs figure en bonne place la visibilité de l’ITA et sa promotion. La mise en route d’un site internet participe de cette visibilité et je voudrais qu’il soit le vôtre.  Que par notre participation à son animation et notre contribution à son amélioration continue, nous puissions nous doter d’une plateforme interactive qui nous unisse et nous serve individuellement et collectivement. Avec le Bureau Exécutif que j’ai l’honneur de diriger, nous nous efforcerons d’en faire un puissant outil de communication, d’information, de formation et d’aide à l’insertion professionnel. Je souhaite que notre site internet réponde à nos attentes et soit un exemple en la matière. Je vous invite à le découvrir et à profiter des possibilités qu’il offre. Merci encore pour votre confiance que nous travaillerons à mériter et bonne navigation sur votre site internet.\n "
                ,signature:require('@/assets/img/signature.png'),
              photo:require('@/assets/img/president.jpg')
            }
        }
    }
}
</script>

<style lang="scss"  scoped>
@import "assets/scss/screen";

.h5{
  font-size: 1.2em;
}
.grade{
  width: 90px;
  height: auto;
}
figure.figure {
    padding: 2px;
    border-radius: 1.0em;
    overflow: hidden;
    // background: red;
    >img {
        border-radius: 1.0em;
        object-fit: cover;
    }

    &::before {
        content: url('@/assets/svg/Polygone.svg');
        color: blue;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        transform: translate(20px, -12px);
    }

    &::after {
        content: url('@/assets/svg/Polygone_2.svg');
        color: blue;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transform: translate(-10px, 6px);
    }

  @media (min-width: $sm-screen) {
    &::before{

    }
  }
}

.info-content{
    // background: ;
    .list-item{
        // color:var(--color-2);
        font-weight: 900;
    }

}

.paragraph{

    strong{
    color:var(--color-primary) !important;
}

}

.underline{

    &::after{
    content: '';
    display: flex;
    justify-items: flex-start;
    position: relative;
    left: 0;
    margin: auto;
    width: 45%;
    height: 3px;
    background: var(--color-primary);

    }
}


.text-overlays{
    display: flex;
    &::before{
        content: '';
        display: block;
        justify-items: flex-start;
        position: absolute;
        left: 0;
        top:0;
        margin: auto;
        width: 98%;
        height: 100%;
        background: var(--color-primary);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
        transform:rotate(-1deg);
        // transform: translate(-14px, 0px);
        z-index: -1;
    }
    &::after{
        content: '';
        display: block;
        justify-items: flex-start;
        position: absolute;
        right: 0;
        bottom:0;
        margin: auto;
        width: 98%;
        height: 100%;
        background: var(--color-2);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
        transform:rotate(1deg);
        // transform: translate(14px, 0px);
        z-index: -2;
    }
}

.text-content{
    background-color: white;
}

.h3{
  font-size:1.02rem;

  @media (min-width:$md-screen) {
    font-size:1.30rem
  }
  @media (min-width:$lg-screen) {
    font-size:1.75rem
}
}
li > img {
  width: 35px;
}
</style>
