<template>
    <div>
        <MyContainer name="repertoireITA" title="Répertoire des ITA" class="my-4 align-content-end repertoireITA">

            <PromotionContenaire />

            <PromotionContenaire />
        </MyContainer>
    </div>
</template>

<style lang="scss" scoped>


a.link, button.link, button, link{
    display: block;
    min-width: 70%;
    max-width: 80%;
    position: relative;
    top: -29px;
}
</style>