<template>
    <div>
        <MyContainer v-for="(status, index) in textes" :key="index" :name="`status_${index+1}`" class="justify-content-center mb-4 pb-4 overflow-hidden">

            <MySectionHeading
            :title="status.title.toUpperCase()"
            :sub-title="status.subTitle"
                class="my-4 text-uppercase bounce bounceIn animated" />
            <div class="col-10 d-flex justify-content-center ">

                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-3 col-5 order-0" data-aos="fade-right" :class="{'order-md-2': (index+1)%2 ===0}">
                        <img :src="status.iconUrl" :alt="`image ${status.title}`" class="img-fluid" srcset="" />
                    </div>
                    <div
                        class="col-lg-6  col d-flex justify-content-center align-items-center flex-md-row flex-column order-1"  data-aos="fade-left">
                        <i @click.prevent="showPdf(status.docUrl)">
                            <OutlineButton :is-link=false label="consulter" />
                        </i>
                        <a @click="telechargerMedia(status.docUrl, status.title)" type="button" class="btn btn-rounded rounded-pill text-white btn-deep-orange waves-light waves-effect  "
                            :href="status.docUrl" rel='noopener noreferrer'>Télécharger</a>
                    </div>
                </div>
            </div>
        </MyContainer>
    </div>
</template>

<script>
import MyContainer from '~/components/MyContainer.vue'
import MySectionHeading from '~/components/MySectionHeading.vue'
import OutlineButton from '~/components/OutlineButton.vue'

export default {
  components: { OutlineButton, MySectionHeading, MyContainer },
    props: [],
    data() {
        return {
            textes: [
                {
                    title: "STATUTS",
                    subTitle: 'Explorez nos statuts pour comprendre notre mission et nos valeurs.',
                    docUrl: '/documents/STATUS_AE2ITA.pdf',
                    iconUrl: require('@/assets/icons/loi.png'),
                },

                {
                    title: "REGLEMENTS INTERIEURS",
                    subTitle: 'Les règles qui nous guident : consultez notre règlement intérieur.',
                    docUrl: '/documents/REGLEMENT_INTERIEUR_AE2ITA.pdf',
                    iconUrl: require('@/assets/icons/conforme.png'),
                }]
        }
    },
    methods: {
        showPdf(url) {
            this.$Fancybox.show([
                {
                    src: url,
                    type: "pdf",
                    // preload: true,
                    // width: 600,
                    // height: 300,
                },
            ]);
        },
        telechargerMedia(url, fileName) {
            const link = document.createElement('a');
            link.href = url;
            link.download = fileName;
            link.target = '_blank';
            link.rel = 'noopener noreferrer';
            link.click();
        },
        showMessage(message){
            setTimeout(()=>{
                this.$toast.success(message)

            }, 500)
        }
    }

}
</script>

<style lang="scss" scoped>
a.btn {
    font-size: 18px;
    font-weight: bold;
    transition: all .3s ease;

    &:hover,
    &:active,
    &:focus {
        transform: scale(1.1);
        color:#ff7043!important;
        outline:solid 1px #ff7043;
        background-color: white !important;
    }
}
</style>
