<template>
 <div class='col-lg-5 col-12  my-4  position-relative' data-aos='fade-up'>
      <div class='row card-container justify-content-between mx-sm-1 mx-md-0 bounce bounceInUp animated' @click='readPublication($event, publication.slug)'>
        <div class='col-2 my-auto mx-auto p-0 text-center'>
         <span class='font-bold ita-span'> Bureau</span>
         <span class='font-bold ita-span'>AE2ITA</span>
        </div>
        <div class='imgWrapper col-4 mx-auto pb-2'>
          <img :src='imgUrl' alt='' :srcset='imgUrl' class='img-fluid p-3'>
        </div>
        <div class='body z-depth-1 pt-5 pb-3 col-12 col-lg-10 overflow-hidden'>
          <h3 class='h3'>{{publication.titre}}</h3>
          <p>
            <span class='badge badge-pill badge-info py-1'>{{ publication.ordre || 'CR 0005/BE/07-2023'}}</span>
            <span class='badge badge-pill badge-success py-1'> {{publication.commisson}}</span>
          </p>
          <p class='grey-text'><i class="fas fa-calendar"></i><span class='date'>{{formatDate(publication.date_creation)}}</span></p>
          <p class='text-intro' v-html='publication.description'></p>
         <span class='auteur'> <i class='fas fa-user mr-1'></i> {{publication.signature}}</span>
        </div>
       <NuxtLink :to='`/actualites/bureaux/${publication.slug}`' class='link' ></NuxtLink>

      </div>

    </div>
</template>

<script>
import moment from 'moment'

import publicationModel from "@/models/publicationbureau.model"
export default {
  name: 'PublicationIntroChild',
  props:{
    publication:{
      type:Object,
      default:()=>publicationModel
    }
  },
  data(){
    return {
      imgUrl: require('@/assets/img/isolated.png'),
    }
  },
  methods:{
    readPublication: function (event, slug){
       this.$router.push(`/actualites/bureaux/${slug}`)
    },
    formatDate : (dateString) => {
      const dateObj = moment(dateString);
      const formattedDate = dateObj.locale('fr').format("DD MMMM YYYY");
      return formattedDate;
    }
  }
}
</script>

<style lang='scss' scoped>
@import '/assets/scss/screen';

$radius:1.2em;
.card-container, img,.body{
  border-radius: $radius;
}
.card-container{
  border:solid 3px darkorange;
  background-color: #cce5ff;
  padding: 0;
  position: relative;
  cursor: pointer;
  animation-fill-mode: both;
  animation: all .5s linear;
  @media  screen and (max-width:$md-screen){
  }
  &:hover, &:focus, &:active{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}
.imgWrapper{
  max-width: 228px;
  height: 100%;
  position: absolute;
  z-index: 2;
  transform: translate(160px, -76px);
  @media  screen and (max-width:$md-screen){
    transform: translate(20px, -76px);
  }
}
.body{
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction:column;
    border-radius: $radius;
}
i{
  color: var(--color-primary);
  margin-right: 5px;
}

p.text-intro{
  line-height: 1.5rem;
  font-size: 14px;
  text-align: justify;
}
.ita-span{
  font-family:Philosopher,Roboto,sans-serif !important;
  font-size: 18px;
}

.link{
   display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
   left: 0;

}
</style>
