<template>
<div class='col-12'>
  <LoadingFluide v-if='isLoading' />
  <div class='row p-4 publication-cards justify-content-around' v-else>
     <PublicationIntroChild v-for='poste in publications' :publication='poste' :key='poste.slug' />
  </div>
</div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

import PublicationIntroChild from '~/components/publications/PublicationIntroChild'
import LoadingFluide from '~/components/LoadingFluide'


export default {
  name: 'PublicationIntro',
  components: { LoadingFluide, PublicationIntroChild },
  data(){
    return {
      imgPub:require('@/assets/img/gavel.jpg')
    }
  },
  computed:{
    ...mapGetters('blog/publications', ['isLoading', 'getPublications', 'getError']),
    publications(){
      return this.getPublications.slice(0,2)
    }
  },
  methods:{
    ...mapActions('blog/publications', ['fetchPublications'])
  },
  mounted() {
    this.fetchPublications(100, 0)
  },
  created() {

  },

}
</script>

<style lang='scss' scoped>
.publication-cards{
    position: relative;
    min-height: 25rem;
    display: flex;
}
</style>
