<template>
  <section>
    <HeaderTopFix class="" />
    <div class="">
      <LoadingFluide v-if='isLoading' class='mt-4' />
      <section class="cours-intro intro-2 pt-0 shadow" v-else>
        <div class="container-fluid">
            <div class="row intro">
              <div class="col-12 heading my-2">
                <h1 class="h2 mt-3 bounce bounceIn animated text-center">{{formation.titre}}</h1>
              </div>
              <div class="col-12 p-0">
                <img :src="formation?.cover" class="img-fluid w-100 cover shadow-sm"  :alt="formation.titre">
              </div>

              <div class="col-12 col-md-6 d-none">
                <outline-button class="bounce bounceIn animated " style="border-color: white;" label="Commencer"
                                :to="`/formations/player/${$route.params.slug}`"></outline-button>
              </div>

            </div>

        </div>
      </section>

      <section class="cours-tags mb-4 pb-3 ">
        <div class="container">
          <div class="row" style="justify-content: center;">
            <CoursTag title="Liens utiles"  class="bounce bounceInLeft animated">
              <li v-for='(lien, index) in formation?.liens_ressources' :key='index'>
                <a class="link" target='_blank' :href="lien?.url"><i class="fas fa-link"></i>{{lien.titre}}</a>
              </li>
            </CoursTag>
            <CoursTag title="Informations"   class="bounce bounceInUp animated col-lg-4">
              <li>
                       <span>
                         <i class="fas fa-clock"></i> durée: {{formation.duree}}
                       </span>
              </li>
              <li>
                       <span>
                         <i class="fas fa-map-marker-alt"></i> lieu: {{formation.lieu}}
                       </span>
              </li>
              <li>
                       <span>
                         <i class="fas fa-calendar-alt"></i> date: {{formation.date_formation}}
                       </span>
              </li>
            </CoursTag>

            <CoursTag title="Ressources"   class="bounce bounceInUp  animated">
              <li  v-for='(support, index) in formation?.supports_cours' :key='index'>
                <a class="link" :href="support.fichier"><i class="fas fa-file-pdf"></i> {{support.titre}}</a>
              </li>
            </CoursTag>
          </div>
        </div>
      </section>

      <section class="my-4 py-3">
        <div class="container">
          <div class="row justify-content-center" style="justify-content: space-between;">
            <div class="col-md-8">
              <div class="row p-0 m-0 justify-content-center">
                <coursText title="Objectif" :content="formation.objectif"></coursText>

                <CoursText title="Description" :content="formation?.description" />
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="cours-formateur my-4 py-3 ">
        <div class="w-100 h-100 p-4"></div>
        <div class="container">
          <div class="row" style="justify-content: center;">
            <div class="col-12 py-2">
              <h1 class="h1 formateur-text text-center text-white bounceInDown animated">Formateurs</h1>
            </div>
            <TeacherCard v-for='(formateur,index) in formation.formateurs' :key='index' :teacher='formateur' />
          </div>
        </div>
        <div class="w-100 h-100 p-4"></div>
      </section>
      <MyContainerFluid name='Historique' title='Images Associées'>
        <!-- Grid row -->
        <div class='col-10'>
          <div id="gallery" class="gallery" >
            <FancyBox :options='options'>
              <div v-for='image in formation?.formation_images'  :key='image.id' class="mb-3 pics animation fadeInUp all 2">
                <a data-fancybox="gallery" :data-download-src="image.image" class="waves-effect zoom" :href="image.image">
                  <img class="img-fluid rounded zoom" :src="image.image" :alt="formation.slug" :srcset='image.image' /></a>
              </div>
            </FancyBox>
          </div>
        </div>

      </MyContainerFluid>
      <MyContainerFluid name='Historique' title='Vidéos Associées'>
        <!-- Grid row -->
        <div class='col-10'>
          <VideoGallerie :formations='formation?.playlist_videos' />
        </div>

      </MyContainerFluid>
      <section class="mt-md-4 md-2 py-md-4 py-2 my-4 ">
        <div class="container z-depth-0 py-4">
          <div class="row">
            <MySectionHeading title="Suggestions" class="color-primary"/>
            <FormationCard v-for='(formation, index) in suggestions' :key='index' :formation='formation' />
          </div>
        </div>
      </section>

    </div>
  </section>
</template>

<script >
import {mapGetters, mapActions} from 'vuex'
import TeacherCard from '~/components/TeacherCard'
import FormationCard from '~/components/FormationCard'
import CoursTag from '~/components/CoursTag'
import LoadingFluide from '~/components/LoadingFluide'
import MyContainerFluid from '~/components/MyContainerFluid'
import FancyBox from '~/components/FancyBox'
import VideoGallerie from '~/components/formation/VideoGallerie'
import {metaHeader} from "@/utils/metaHead"
import MySectionHeading from '~/components/MySectionHeading.vue'
import CoursText from '~/components/CoursText.vue'
import HeaderTopFix from '~/components/HeaderTopFix.vue'
import OutlineButton from '~/components/OutlineButton.vue'
export  default {
  components: { OutlineButton, HeaderTopFix, CoursText, MySectionHeading, VideoGallerie, FancyBox, MyContainerFluid, LoadingFluide, CoursTag, FormationCard, TeacherCard },
  data(){
    return {
      options:{
        Carousel: { infinite: false, }, Toolbar: {
                    display: {
                        left: ["infobar"],
                        middle: [
                            "zoomIn",
                            "zoomOut",
                            "toggle1to1",
                            "rotateCCW",
                            "rotateCW",
                            "flipX",
                            "flipY",
                        ],
                        right: ["download","slideshow", "fullscreen", "thumbs", "close"],
                    },
                },
            },
    }
  },
  computed:{
    ...mapGetters('formations', ['getActiveFormation',"getFormations","getSuggestions" , 'isLoading', 'getError']),
    formation(){
      return this.getActiveFormation
    },
    suggestions(){
      return this.getSuggestions.slice(0,2)
    }
  },
    watch: {
    '$route.params.slug': {
      immediate: true,
      handler(slug) {
        if(slug !== undefined){
            // this.fetchFormationBySlug(slug)
          this.fetchFormations()
        }
      },
    },
  },
  methods:{
    ...mapActions('formations', ['fetchFormationBySlug',"fetchFormations"])
  },
  async asyncData({store, params}){
    await store.dispatch('formations/fetchFormationBySlug', params.slug)
  },
    head(){
    return {
      meta: metaHeader(this.getActiveFormation.titre, this.getActiveFormation.description, this.getActiveFormation.cover),
      title: this.formation.titre,
    }
  },
}

</script>

<style lang="scss" scoped>
img.cover{
  max-height:650px;
border-radius: 1.2em;
}
.intro-2{
    background-size: 211% !important;
}
.heading, .text-intro{
    color: white;
}
.cours-intro{
    background: aliceblue;
  border-radius: 1.2em;
}
.intro{
    /* justify-content: center; */
    overflow: hidden;
}
.cours-formateur {
    background: #25314C;
}
.roundedIntro{
border-top-right-radius: 0;
border-top-left-radius: 0;
}
.formateur-text::after {
    content: '';
    display: block;
    position: relative;
    margin: auto;
    width: 96px;
    height: 3px;
    background: white;
}

.y-player{
    background: red;
    height: 300px;
    width: 400px;
    padding: 1px;
}

iframe{
    width: 100%;
    height: 100%;
}


element.style {
}
.p-0 {
    padding: 0 !important;
}

/* .col-lg-4 {} */
@media (min-width: 992px) {
.y-player{
    background: green;
    height: 300px;
    width: 400px;
    padding: 1px;
}
}


/* col-md-5  */
@media (min-width: 768px){
    .cours-card{
        margin-top: -37px;
    }
    .intro{
    /* justify-content: space-between; */
}
    .y-player{
    background: blue;
    height: 300px;
    width: 400px;
    padding: 1px;
}
}

.zoom{
  cursor: zoom-in;
}

.cours-tags{
  // border:solid 2px var(--color-primary);
}
</style>
