<template>
  <div>
    <SectionHero classes='intro-2' sub-title='Formez vous aux compétences de demain' title='FORMATIONS' />
    <div>

      <section class='mt-md-4 md-2 py-md-4 py-2 my-4 '>
        <div class='container z-depth-0 py-4'>
          <div class='row'>
            <MySectionHeading class='' title='Nos Cours' />
            <LoadingFluide v-if='isLoading' />
            <FormationCard v-for='(formation,index) in formations'
                           :key='formation.slug' :data-aos-duration='200*(index+1)'
                           :formation='formation' class=''
                           data-aos='fade-up' />
            <PagePagination class='mx-auto 500 col-12' data-aos='fade-up' />

          </div>
        </div>
      </section>

    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import FormationCard from '~/components/FormationCard'
import PagePagination from '~/components/PagePagination'
import LoadingFluide from '~/components/LoadingFluide'
import MySectionHeading from '~/components/MySectionHeading.vue'
import SectionHero from '~/components/SectionHero.vue'

export default {
  components: { SectionHero, MySectionHeading, LoadingFluide, PagePagination, FormationCard },
  computed: {
    ...mapGetters('formations', ['getFormations', 'isLoading', 'getError']),
    formations() {
      return this.getFormations
    }
  },
   mounted() {
    this.fetchFormations()
  },
  methods: {
    ...mapActions('formations', ['fetchFormations'])
  },

}
</script>
